{% load i18n %}
{% load sass_tags %}
{% load staticfiles %}
{% load tags %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadasta{% block title %}{% endblock %}</title>
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'bootstrap-rtl/3.3.4/css/bootstrap-rtl.min.css' %}">
    {% endif %}
    {% include "core/tracker.html" %}
    {% block extra_head %}{% endblock %}
  </head>
  <body id="{% block top-nav %}{% endblock %}" class="page{% block body-class %}{% endblock %}">
    <div id="cadasta">
      <!-- Site header -->
      <header class="header" role="banner">
        <div class="container-fluid">
          <div id="logo" class="pull-left">
            <a href="/" aria-label="Return to home page"><img src="{% static 'img/logo-white.png' %}" alt="Return to home page" /></a>{% include "core/identifier.html" %}
          </div>
          <div class="reg-links pull-right">
            {% if user.is_authenticated %}
            <!-- User menu -->
            <div class="btn-group divider" role="group">
              <button type="button" class="btn btn-user dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
                <div class="avatar-box avatar-box-sm pull-left">
                  <img src="{{ user.avatar_url }}" alt="{{ user.name }}" class="avatar avatar-sm">
                </div>
                <span class="username visible-sm-inline visible-md-inline visible-lg-inline">{{ user.get_display_name }}</span>
                {% if is_superuser %}
                  <span class="badge" data-toggle="tooltip" data-trigger="hover" data-placement="left" title="{% trans 'You have superuser permissions' %}">SU</span>
                {% endif %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'account:dashboard' %}">{% trans "My dashboard" %}</a>
                </li>
                <li>
                  <a href="{% url 'account:profile' %}">{% trans "Edit profile" %}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                </li>
              </ul>
            </div>
            {% else %}
            <!-- New user menu -->
            <div class="divider pull-left"></div>
            <div class="btn-group" role="group">
              {% if request.path != '/account/signup/' and request.path != '/account/login/'  %}
                {% define request.path as redirect_url %}
              {% endif %}

              <a href="{% url 'account_login' %}{% if redirect_url %}?next={{ request.path }}{% endif %}" class="btn btn-reg" aria-label="Sign in">{% trans "Sign in" %}</a>
              <a href="{% url 'account_signup' %}{% if redirect_url %}?next={{ request.path }}{% endif %}" class="btn btn-reg" aria-label="Register">{% trans "Register" %}</a>
            </div>
            {% endif %}
          </div>
          <!-- Help -->
          <a class="btn btn-help pull-right visible-md-inline visible-lg-inline" aria-label="Help" id="help-link" href="#">
            <span class="glyphicon glyphicon-question-sign"></span>
          </a>
          <nav class="nav" role="navigation">
            <ul class="list-inline visible-md-block visible-lg-block">
              <li class="projects">
                <a href="{% url 'project:list' %}">
                  {% trans "Projects" %}
                </a>
              </li><!--
              --><li class="organizations">
                <a href="{% url 'organization:list' %}">
                  {% trans "Organizations" %}
                </a>
              </li>
              {% if is_superuser %}
              <li class="users">
                <a href="{% url 'user:list' %}">
                  {% trans "Users" %}
                </a>
              </li>
              {% endif %}
            </ul>
            <!-- Hamburger -->
            <div class="dropdown pull-right btn-group btn-hamburger visible-xs-inline visible-sm-inline">
              <a data-target="#" data-toggle="dropdown" class="dropdown-toggle" role="button">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li class="projects"><a href="{% url 'project:list' %}">{% trans "Projects" %}</a></li>
                <li class="organizations"><a href="{% url 'organization:list' %}">{% trans "Organizations" %}</a></li>
                {% if is_superuser %}<li class="users"><a href="{% url 'user:list' %}">{% trans "Users" %}</a></li>{% endif %}
                <li role="separator" class="divider"></li>
                <li><a id="help-link" href="#"><span class="glyphicon glyphicon-question-sign"></span> {% trans "Help" %}</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- /.header -->
      {% block page-header %}{% endblock %}
      <!-- Page content -->
      <div id="page-content">
        {% block sub-nav %}{% endblock %}
        <main class="container{% block main-width %}{% endblock %}" role="main">
          <div id="messages">
            {% for message in messages %}
            <div class="alert alert-dismissible{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{message}}
            </div>
            {% endfor %}
            <div class="alert alert-info hidden" role="alert" id="loading">
              {% trans "Loading locations..." %}
            </div>
          </div>
          <div class="row">
          {% block content %}{% endblock %}
          </div>
        </main>
      </div>
      <!-- /.page-content -->

      <!-- Site footer -->
      <footer class="footer" role="contentinfo">
        <div class="container-fluid">
          <p class="copy">
            {% now 'Y' as copydate %}
            {% blocktrans %}Copyright {{ copydate }} Cadasta. <span>All Rights Reserved.</span> {% endblocktrans %}
          </p>
          {% if not user.is_authenticated %}
          <form action="{% url 'set_language' %}" method="post" class="language">
          {% csrf_token %}
            <select id="language" class="form-control input-sm" name="language">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected="selected" {% endif %}>
                {{ language.name_local|capfirst }} ({{ language.code }})
              </option>
              {% endfor %}
            </select>
            <input hidden="true" type="submit" value="Go" />
          </form>
          {% endif %}
          <div class="footer-links">
            <ul class="list-inline">
              <li>
                <a href="http://cadasta.org/about-us/">
                  {% trans "About Us" %}
                </a>
              </li>
              <li>
                <a href="http://cadasta.org/privacy-policy/">
                  {% trans "Privacy" %}
                </a>
              </li>
              <li>
                <a href="http://cadasta.org/terms-of-use/">
                  {% trans "Terms of Use" %}
                </a>
              </li>
              <li>
                <a href="http://cadasta.org/code-of-conduct/">
                  {% trans "Code of Conduct" %}
                </a>
              </li>
              <li>
                <a href="http://github.com/Cadasta">
                  {% trans "Visit us on Github" %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- /.footer -->

    </div>
    {% block modals %} {% endblock %}

    <!-- <script type="text/javascript" src="{% static 'babel-polyfill/6.26.0/polyfill.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'datatables/1.10.8/js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.conditionalPaging.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/parsleyConfig.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/parsley.js' %}"></script>

    {% block extra_script %}{% endblock %}
    <script>
    window.setTimeout(function() {
      $(".alert-success")
        .fadeTo(500, 0)
        .slideUp(500, function(){
          $(this).hide();
        });
    }, 5000);
    </script>
    <script>
      // User tracking
      window.inlineManualTracking = {
        uid: "{{ user.id }}",
        username: "{{ user.username }}"
      }
    </script>
    <script type="text/javascript" src="{% static 'js/inline-manual-player.js' %}" defer></script>
  </body>
</html>
