{% load i18n %}
{% load sass_tags %}
{% load staticfiles %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadasta{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css"
          href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
    {% endif %}
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="cadasta">
      <div class="wrapper">
        <header>
          <div class="container">
            <h1 id="logo" class="pull-left">
              <a href="/">
                <img src="{% static 'img/logo-white.png' %}" />
              </a>
            </h1>
            <div class="reg-links pull-right">
              <ul class="list-inline">
                <li>
                  <a href="{% url 'organization:list' %}">
                    {% trans "Organizations" %}
                  </a>
                </li>
                <li>
                  <a href="{% url 'project:list' %}">
                    {% trans "Projects" %}
                  </a>
                </li>
                <li class="reg-links-divider">
                  <a href="{% url 'user:list' %}">
                    {% trans "Users" %}
                  </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'account:profile' %}">
                    {% trans "Profile" %}
                  </a>
                </li>
                <li>
                  <a href="{% url 'account_logout' %}">
                    {% trans "Logout" %}
                  </a>
                </li>
                {% else %}
                <li>
                  <a href="{% url 'account_login' %}">
                    {% trans "Login" %}
                  </a>
                </li>
                <li>
                  <a href="{% url 'account_signup' %}">
                    {% trans "Register" %}
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </header>

        <div class="container">
          {% if messages %}
          <div id="messages">
            {% for message in messages %}
            <div class="alert alert-dismissible{% if message.tags %} alert-{{ message.tags }}{% endif %}"
                 role="alert">
              <button type="button" class="close" data-dismiss="alert"
                      aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{message}}
            </div>
            {% endfor %}
          </div>
          {% endif %}

          {% block content %}{% endblock %}
        </div>

        <footer class="footer">
          <div class="container">
            <p class="pull-left">
              {% trans "Copyright 2016 Cadasta. All Rights Reserved." %}
            </p>
            <div class="pull-right">
              <ul class="list-inline">
                <li>
                  <a href="http://cadasta.org/about-us">
                    {% trans "About Us" %}
                  </a>
                </li>
                <li>
                  <a href="#">
                    {% trans "Privacy" %}
                  </a>
                </li>
                <li>
                  <a href="#">
                    {% trans "Terms of Service" %}
                  </a>
                </li>
                <li>
                  <a href="http://cadasta.org/code-of-conduct">
                    {% trans "Code of Conduct" %}
                  </a>
                </li>
                <li>
                  <a href="http://github.com/Cadasta">
                    {% trans "Visit us on Github" %}
                  </a>
                </li>
              </ul>

              <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <select id="language" name="language">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                  <option value="{{ language.code }}"
                          {% if language.code == LANGUAGE_CODE %}
                          selected="selected"
                          {% endif %}>
                    {{ language.name_local|capfirst }} ({{ language.code }})
                  </option>
                  {% endfor %}
                </select>
                <input hidden="true" type="submit" value="Go" />
              </form>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% block modals %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js">
    </script>
    {% block extra_script %}{% endblock %}
    <script>
     $(document).ready(function () {
       $('.datatable').DataTable();
       $('#language').change(function() { this.form.submit(); });
     });
    </script>
  </body>
</html>
