{% extends "core/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block top-nav %}dashboard{% endblock %}
{% block body-class %} map{% endblock %}

{% block title %} | {% trans "Dashboard" %}{% endblock %}

{% block extra_head %}
{% leaflet_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.8.0/leaflet-geocoder-mapzen.css">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
{% endblock %}

{% block extra_script %}
{% leaflet_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.8.0/leaflet-geocoder-mapzen.js"></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/L.Map.Deflate.js' %}"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<script>
  function project_map_init(map, options) {
    var data = {{ geojson|safe }};
    map.fitBounds([[-45.0, -180.0], [45.0, 180.0]]);

    add_map_controls(map);

    var geoJson = L.geoJson(null, {
      onEachFeature: function(feature, layer) {
        layer.bindPopup("<div class=\"text-wrap\">" +
                       "<h2><span>" + feature.properties.org + "</span>" +
                       feature.properties.name + "</h2></div>" +
                       "<div class=\"btn-wrap\"><a href='" + feature.properties.url + "' class=\"btn btn-primary btn-sm btn-block\">{% trans 'Open project' %}</a>"  +
                       "</div>");
      }
    });

    L.Deflate({minSize: 20, layerGroup: geoJson}).addTo(map);
    geoJson.addData(data);
  }
</script>
{% endblock %}

{% block content %}

<div class="dashboard-map">
  {% leaflet_map "dashboard-map" callback="project_map_init" %}
</div>

{% endblock %}
