{% load i18n %}
{% load widget_tweaks %}
{% load filters %}
{% csrf_token %}
<div class="form-group{% if form.name.errors %} has-error{% endif %}">
  <label class="control-label" for="{{ form.name.id_for_label }}">{% trans "Name" %}</label>
  {% render_field form.name class+="form-control" data-parsley-required="true" %}
  <div class="error-block">{{ form.name.errors }}</div>
</div>

{% if form.new_item %}
<div class="form-group{% if form.type.errors %} has-error{% endif %}">
  <label class="control-label" for="{{ form.type.id_for_label }}">{% trans "Type" %}</label>
  {% render_field form.type class+="form-control party-type" data-parsley-required="false" %}
  <div class="error-block">{{ form.type.errors }}</div>
</div>
{% else %}
<div class="form-group">
  <label class="control-label" for="{{ form.type.id_for_label }}">{% trans "Type" %}</label>
  <div class="well well-sm">
      {{ form.type|display_choice_verbose }}
  </div>
  <input type="hidden" value="{{ form.type.value }}" name="type" class="party-type"/>
</div>
{% endif %}

{% include "party/party_attrs.html" %}
