{% extends "party/party_detail.html" %}
{% load i18n %}
{% load staticfiles %}

{% block page_title %}{% trans "Edit party" %} | {% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'jquery-ui/1.12.1/css/jquery-ui.min.css' %}">
{% endblock %}

{% block extra_script %}
{{ block.super }}
{{ form.media }}
<script src="{% static 'jquery-ui/1.12.1/js/jquery-ui.js' %}"></script>
<script src="{% static 'js/form_submit.js' %}"></script>
<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      yearRange: "c-200:c+200",
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true,
    });
  });
</script>
{% endblock %}

{% block modals %}
<div class="modal-backdrop">
  <div class="modal show" data-backdrop="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST"
              action="{% url 'parties:edit' object.organization.slug object.slug form.instance.id %}" data-parsley-validate data-parsley-excluded=':hidden, [disabled]'>
          <div class="modal-header">
            <a class="close" href="{% url 'parties:detail' object.organization.slug object.slug form.instance.id %}">
              <span aria-hidden="true">&times;</span>
            </a>
            <h3 class="modal-title">{% trans "Edit party" %}</h3>
          </div>

          <div class="modal-body">
            {% include "party/party_form.html" %}
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-right" name="submit-button">
              {% trans "Save" %}
            </button>
            <a class="btn btn-link cancel"
               href="{% url 'parties:detail' object.organization.slug object.slug form.instance.id %}">
              {% trans "Cancel" %}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
