{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block page_title %}{% trans "Parties" %} | {% endblock %}
{% block left-nav %}parties{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Parties" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <table id="party-list" class="table table-hover" data-paging-type="simple" data-src="{% url 'async:party:list' object.organization.slug object.slug %}">
            <thead>
              <tr>
                <th class="col-md-3">{% trans "Name" %}</th>
                <th class="col-md-9">{% trans "Type" %}</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
window.addEventListener('load', function() {
  $('#party-list').DataTable({
    serverSide: true,
    drawCallback: function (settings) {
      $('#party-list tbody').html(this.api().ajax.json().tbody);

      // Link each resource row to its resource detail page
      $('tr.linked').bind('click', function(e) {
        window.document.location = e.currentTarget.dataset.linkUrl;
      });
    },
    ajax: {
      url: $('#party-list').attr('data-src'),
    },
    dom: '<"table-search clearfix"f>t<"table-pagination"p><"table-entries"i><"table-num"l>',
    language: {
      emptyTable:     "{% trans "No data available in table" %}",
      info:           "{% trans "Showing _START_ - _END_ of _TOTAL_" %}",
      infoEmpty:      "{% trans "Showing 0 - 0 of 0" %}",
      infoFiltered:   "{% trans "(filtered from _MAX_ total rows)" %}",
      lengthMenu:     '<select class="form-control input-sm">'+
                        ' <option value="10">{% trans "10 per page" %}</option>'+
                        ' <option value="25">{% trans "25 per page" %}</option>'+
                        ' <option value="50">{% trans "50 per page" %}</option>'+
                        ' <option value="100">{% trans "100 per page" %}</option>'+
                        '</select>',
      search: '<div class="input-group"><span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>',
      searchPlaceholder: '{% trans "Search" %}',
      zeroRecords:    "{% trans "No matching records found" %}",
      paginate: {
        next: '<span class="glyphicon glyphicon-triangle-right"></span>',
        previous: '<span class="glyphicon glyphicon-triangle-left"></span>',
        first:      "{% trans "First" %}",
        last:       "{% trans "Last" %}"
      },
      aria: {
        sortAscending:  ": {% trans "activate to sort column ascending" %}",
        sortDescending: ": {% trans "activate to sort column descending" %}"
      }
    }
  });
});
</script>
{% endblock %}
