{% extends "organization/project_wrapper.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/form_submit.js' %}"></script>
{% if get_current_language != "en-us" %}
{% get_current_language as LANGUAGE_CODE %}
<script src="https://cdn.rawgit.com/jquery/jquery-ui/1.12.1/ui/i18n/datepicker-{{ LANGUAGE_CODE }}.js"></script>
{% endif %}
<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      yearRange: "c-200:c+200",
      changeMonth: true,
      changeYear: true,
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="col-md-11 col-md-offset-1 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Add party" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <form method="POST" data-parsley-validate>

            {% include "party/party_form.html" %}

            <button type="submit" class="btn btn-primary" name="submit-button">
              {% trans "Save" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
