{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block page_title %}{% trans "Parties" %} | {% endblock %}
{% block left-nav %}parties{% endblock %}

{% block extra_head %}
<script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Parties" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          {% if is_allowed_add_party %}
          <div class="top-btn top-add pull-right">
            <a href="{% url 'parties:add' object.organization.slug object.slug %}" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="hidden-xs"> {% trans "Add" %}</span>
            </a>
          </div>
          {% endif %}
          <div id="paginated-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
<script src="/static/dist/paginated-table.js"></script>
<script type="text/javascript">
  var props = {
    "url": "{% url 'api:v1:party:list' project=object.slug organization=object.organization.slug %}",
    "columns": [
      {"label": "Party", "field": "name", "sortable": true},
      {"label": "Type", "field": "type", "sortable": true}
    ],
    "row_component": Row
  }
  ReactDOM.render(
    React.createElement(PaginatedTable, props),
    document.getElementById('paginated-table')
  );
</script>
{% endblock %}
