{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block left-nav %}parties{% endblock %}

{% block content %}

<div class="col-sm-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2 class="short">{% trans "Party detail" %}</h2>
        <div class="top-btn pull-right">
          <!-- Action buttons -->
          <a class="btn btn-default btn-action btn-sm" href="{% url 'parties:edit' object.organization.slug object.slug party.id %}" title="{% trans 'Edit party' %}" aria-label="{% trans 'Edit party' %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-default btn-action btn-sm" href="{% url 'parties:delete' object.organization.slug object.slug party.id %}" title="{% trans 'Delete party' %}" aria-label="{% trans 'Delete party' %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- Party information -->
          <h3>{% trans "Details" %}</h3>
          <div class="row">
            <div class="col-md-6">
              <table class="table table-location">
                <tbody>
                  <tr>
                    <td class="col-md-4"><label>{% trans "Name" %}</label></td>
                    <td class="col-md-8">{{ party.name }}</td>
                  </tr>
                  <tr>
                    <td><label>{% trans "Type" %}</label></td>
                    <td>{{ party.get_type_display }}</td>
                  </tr>
                  {% for attr in attributes %}
                  <tr>
                    <td><label {{ attr.2|safe }}>{{ attr.0 }}</label></td>
                    <td {{ attr.3|safe }}>{{ attr.1 }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <!-- /party information -->
          <!-- Party resources -->
          <h3>{% trans "Resources" %}</h3>
          {% if resource_list %}
            <div class="top-btn pull-right top-add">
              {% if has_unattached_resources %}
              <a class="btn btn-primary btn-sm" href="{% url 'parties:resource_add' object.organization.slug object.slug party.id %}">
              {% else %}
              <a class="btn btn-primary btn-sm" href="{% url 'parties:resource_new' object.organization.slug object.slug party.id %}">
              {% endif %}
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Attach" %}</a>
            </div>
            {% include 'resources/table.html' %}
          {% else %}
            <div>
              <p>{% trans "This party does not have any attached resources. To attach a resource, select the button below." %}</p>
              <div class="btn-full">
                {% if has_unattached_resources %}
                <a class="btn btn-primary" href="{% url 'parties:resource_add' object.organization.slug object.slug party.id %}">
                {% else %}
                <a class="btn btn-primary" href="{% url 'parties:resource_new' object.organization.slug object.slug party.id %}">
                {% endif %}
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Attach" %}</a>
              </div>
            </div>
          {% endif %}
          <!-- /party resources -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
