{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block left-nav %}parties{% endblock %}

{% block content %}

<div class="col-sm-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2 class="short">{% trans "Party detail" %}</h2>
        <div class="top-btn pull-right">
          <!-- Action buttons -->
          <a class="btn btn-default btn-action btn-sm" href="{% url 'parties:edit' object.organization.slug object.slug party.id %}" title="{% trans 'Edit party' %}" aria-label="{% trans 'Edit party' %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-default btn-action btn-sm" href="{% url 'parties:delete' object.organization.slug object.slug party.id %}" title="{% trans 'Delete party' %}" aria-label="{% trans 'Delete party' %}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body detail">

          <h2><span>{% trans "Party" %} </span>{{ party.name }}</h2>

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">{% trans "Overview" %}</a></li>
            <li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab">{% trans "Relationships" %}</a></li>
            <li role="presentation"><a  href="#resources" aria-controls="resources" role="tab" data-toggle="tab">{% trans "Resources" %}</a></li>
          </ul>

          <div class="tab-content">
            <!-- Party information -->
            <div role="tabpanel" class="tab-pane active" id="overview">
              <table class="table table-location">
                <tbody>
                  <tr>
                    <td class="col-md-4"><label {{ name_labels|safe }}>{% trans "Name" %}</label></td>
                    <td class="col-md-8">{{ party.name }}</td>
                  </tr>
                  <tr>
                    <td><label {{ type_labels|safe }}>{% trans "Type" %}</label></td>
                    <td {{ type_choice_labels|safe }}>{{ party.get_type_display }}</td>
                  </tr>
                  {% for attr in attributes %}
                  <tr>
                    <td><label {{ attr.2|safe }}>{{ attr.0 }}</label></td>
                    <td {{ attr.3|safe }}>{{ attr.1 }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /party information -->

            <!-- Party relationships -->
            <div role="tabpanel" class="tab-pane" id="relationships">
              {% if relationships %}
              <table class="table table-hover datatable" data-paging-type="simple">
                <thead>
                  <tr>
                    <th>{% trans "Relationship" %}</th>
                    <th>{% trans "Location Type" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for rel in relationships %}
                  {% url 'parties:relationship_detail' object.organization.slug object.slug rel.id as relationship_url %}
                  <tr class="linked" onclick="window.document.location='{{ relationship_url }}';">
                    <td><a href="{{ relationship_url }}" {{ rel.type_labels|safe }}>{{ rel.tenure_type_label }}</a></td>
                    <td><a href="{% url 'organization:project-dashboard' object.organization.slug object.slug %}#/records/location/{{rel.spatial_unit.id}}" {{ rel.location_labels|safe }}>{{ rel.spatial_unit.get_type_display }}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div>
                <p>{% trans "This party does not have any relationships and is not connected to any locations." %}</p>
              </div>
            {% endif %}
            </div>
            <!-- /party relationships -->

            <!-- Party resources -->
            <div role="tabpanel" class="tab-pane" id="resources">
            {% if resource_list %}
              <div class="top-btn pull-right top-add">
                {% if has_unattached_resources %}
                <a class="btn btn-primary btn-sm" href="{% url 'parties:resource_add' object.organization.slug object.slug party.id %}">
                {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'parties:resource_new' object.organization.slug object.slug party.id %}">
                {% endif %}
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Attach" %}</a>
              </div>
              {% include 'resources/table.html' %}
            {% else %}
              <div>
                <p>{% trans "This party does not have any attached resources. To attach a resource, select the button below." %}</p>
                <div class="btn-full">
                  {% if has_unattached_resources %}
                  <a class="btn btn-primary" href="{% url 'parties:resource_add' object.organization.slug object.slug party.id %}">
                  {% else %}
                  <a class="btn btn-primary" href="{% url 'parties:resource_new' object.organization.slug object.slug party.id %}">
                  {% endif %}
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Attach" %}</a>
                </div>
              </div>
            {% endif %}
            </div>
            <!-- /party resources -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    if(location.hash) {
      $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
      location.hash = this.getAttribute("href");
    });
  });
  $(window).on('popstate', function() {
      var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
      $('a[href=' + anchor + ']').tab('show');
  });
</script>
{% endblock %}
