{% load i18n %}
{% load widget_tweaks %}
{% load filters %}
{% load staticfiles %}


{% block location_panel %}
<section>
  <h2><a href="#/records/location/{{location.id}}/" id="current-location"><span>{% trans "Location" %} </span>{{ location.name }}</a></h2>
  <hr class="border-btm">
  <h3>{% trans "Edit Relationship" %}</h3>
  <div class="panel panel-default">
    <form method="POST" id='detail-form' data-parsley-validate>
    {% csrf_token %}
      <div class="panel-body">
        <h4>{% trans "Details" %}</h4>
        <div class="clearfix form-group{% if form.tenure_type.errors %} has-error{% endif %}">
          <label class="control-label" for="{{ form.tenure_type.id_for_label }}" {{ form.tenure_type.field.labels_xlang|safe }}>{% trans "Relationship type" %}</label>
          {% render_field form.tenure_type class+="form-control" data-parsley-required="true" %}
          <div class="error-block">{{ form.tenure_type.errors }}</div>
        </div>
        {% for field in form %}
          {% if "tenurerelationship::" in field.name %}
          <div class="clearfix form-group{% if field.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ field.id_for_label }}" {{ field.field.labels_xlang|safe }}>{{ field.label }}</label>
            {% if field|field_type == "datefield" %}
              {{ field|add_class:"form-control datepicker"|set_parsley_required }}
            {% else %}
              {{ field|add_class:"form-control"|set_parsley_required }}
            {% endif %}
            <div class="error-block">{{ field.errors }}</div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="panel-footer panel-buttons">
        <button type="submit" class="btn btn-primary submit-btn" formaction="{{ submit_url }}">{% trans "Save" %}</button>
        <a href="{{ cancel_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
      </div>
    </form>
  </div>
</section>
{% endblock %}
