{% load i18n %}

<form method="POST" class="modal-backdrop" id="modal-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#/records/relationship/{{ relationship.id }}/" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
          <h3 class="modal-title">{% trans "Delete relationship" %}</h3>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete this relationship?" %}</p>
        </div>
        <div class="modal-footer">
          <button type="submit" value="Confirm" class="btn btn-danger submit-btn archive-final pull-right" formaction="{{ submit_url }}">{% trans "Yes, delete this relationship" %}</button>
          <a href="#/records/relationship/{{ relationship.id }}/"  class="btn btn-link cancel">
            {% trans "Cancel" %}
          </a>
          {% csrf_token %}
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</form>
