{% extends "party/relationship_detail.html" %}
{% load i18n %}

{% block page_title %}Upload new resource for relationship | {% endblock %}

{% block extra_script %}
  {{ form.media }}
  {% include "resources/scripts.html" %}
{% endblock %}

{% block modals %}
{% url 'parties:relationship_detail' object.organization.slug object.slug relationship.id as cancel_url %}
{% url 'parties:relationship_resource_add' object.organization.slug object.slug relationship.id as add_lib_url %}
{% include 'resources/modal_upload.html' %}
{% endblock %}
