{% extends "spatial/location_wrapper.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% if get_current_language != "en-us" %}
{% get_current_language as LANGUAGE_CODE %}
<script src="https://cdn.rawgit.com/jquery/jquery-ui/1.12.1/ui/i18n/datepicker-{{ LANGUAGE_CODE }}.js"></script>
{% endif %}
<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      yearRange: "c-200:c+200",
      changeMonth: true,
      changeYear: true,
    });
  });
</script>
{% endblock %}


{% block location_panel %}

<div class="col-md-4 detail detail-edit">
  <h2>{% trans "Edit Relationship" %}</h2>
  <div class="panel panel-default">
    <form method="POST">
    {% csrf_token %}
      <div class="panel-body">
        <h3>Details</h3>
        <div class="clearfix form-group{% if form.tenure_type.errors %} has-error{% endif %}">
          <label for="{{ form.tenure_type.id_for_label }}">{% trans "Relationship type" %}</label>
          <label class="pull-right control-label">{{ form.tenure_type.errors }}</label>
          {% render_field form.tenure_type class+="form-control" %}
        </div>
        {% for field in form %}
          {% if "attributes" in field.name %}
          <div class="clearfix form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <label class="pull-right control-label">{{ field.errors }}</label>
            {% if field|field_type == "datefield" %}
            {% render_field field class+="form-control datepicker" %}
            {% else %}
            {% render_field field class+="form-control" %}
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="panel-footer panel-buttons">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'parties:relationship_detail' object.organization.slug object.slug relationship.id %}" class="btn btn-default">{% trans "Cancel" %}</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
