{% load i18n %}
{% load staticfiles %}

{% block page_title %}{% trans "Add resource for relationship" %} | {% endblock %}

{% block location_extra_script %}
<script src="{% static 'js/dataTables.forms.js' %}"></script>
{% include 'resources/script_add_lib.html' %}
{% endblock %}

{% block modals %}

{% include 'resources/modal_add_lib.html' with upload_url="#/records/relationship/"|add:relationship.id|add:"/resources/new" cancel_url="#/records/relationship/"|add:relationship.id %}
{% endblock %}
