{% extends "spatial/location_wrapper.html" %}
{% load i18n %}

{% block form_script %}
  {{ form.media }}
  {% include "resources/scripts.html" %}
{% endblock %}

{% block location_panel %}

<div class="col-md-4 detail">
  <section>
    <div class="page-title">
      <h2>{% trans "Relationship" %}</h2>
      <div class="top-btn pull-right">
        <!-- More options menu -->
        <div class="dropdown pull-right btn-more">
            <a data-target="#" data-toggle="dropdown" class="dropdown-toggle" role="button">
              <span class="more-menu glyphicon glyphicon-option-vertical"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="{% url 'parties:relationship_edit' object.organization.slug object.slug relationship.id %}">{% trans "Edit relationship" %}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'parties:relationship_delete' object.organization.slug object.slug relationship.id %}">{% trans "Delete relationship" %}</a></li>
            </ul>
          </div>
      </div>
    </div>
    
    <!-- Relationship information -->
    <h3>{% trans "Details" %}</h3>
    <table class="table table-location">
      <tr>
        <td><label>{% trans "Type" %}</label></td>
        <td>{{ relationship.tenure_type.label }}</td>
      </tr>
      <tr>
        <td><label>{% trans "Party" %}</label></td>
        <td><a href="{% url 'parties:detail' object.organization.slug object.slug relationship.party.id %}">{{ relationship.party.name }}</a></td>
      </tr>
      {% for attr in attributes %}
      <tr>
        <td><label>{{ attr.0 }}</label></td>
        <td>{{ attr.1 }}</td>
      </tr>
      {% endfor %}
    </table>
    <!-- /relationship information -->
    
    <!-- Relationship resources -->
    <h3>{% trans "Resources" %}</h3>
    <div class="top-btn pull-right">
      <div class="btn-group">
        <a class="btn btn-primary btn-sm" href="{% url 'parties:relationship_resource_add' object.organization.slug object.slug relationship.id %}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          {% trans "Add from library" %}</a>
        <a class="btn btn-primary btn-sm" href="{% url 'parties:relationship_resource_new' object.organization.slug object.slug relationship.id %}">
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          {% trans "Upload new" %}</a>
      </div>
    </div>
    {% include 'resources/table_sm.html' with object_list=relationship.resources %}
    <!-- /relationship resources -->
  </section>
</div>

{% endblock %}
