{% extends "spatial/location_wrapper.html" %}
{% load i18n %}

{% block location_panel %}

<div class="col-md-4 detail">
  <section>
    <div class="page-title">
      <h2><a href="{% url 'locations:detail' object.organization.slug object.slug location.id %}"><span class="entity">{% trans "Location" %} </span>{{ location.name }}</a></h2>
      <hr class="border-btm">
      <h3 class="inline">{% trans "Relationship Detail" %}</h3>
      <div class="top-btn pull-right">
        <!-- Action buttons -->
        <a class="btn btn-default btn-action btn-sm" href="{% url 'parties:relationship_edit' object.organization.slug object.slug relationship.id %}" title="{% trans 'Edit relationship' %}" aria-label="{% trans 'Edit relationship' %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default btn-action btn-sm" href="{% url 'parties:relationship_delete' object.organization.slug object.slug relationship.id %}" title="{% trans 'Delete relationship' %}" aria-label="{% trans 'Delete relationship' %}"><span class="glyphicon glyphicon-trash"></span></a>
      </div>
    </div>

    <!-- Relationship information -->
    <h4>{% trans "Details" %}</h4>
    <table class="table table-location">
      <tr>
        <td><label {{ type_labels|safe }}>{% trans "Type" %}</label></td>
        <td {{ type_choice_labels|safe }}>{{ relationship.tenure_type_label }}</td>
      </tr>
      <tr>
        <td><label>{% trans "Party" %}</label></td>
        <td><a href="{% url 'parties:detail' object.organization.slug object.slug relationship.party.id %}">{{ relationship.party.name }}</a></td>
      </tr>
      {% for attr in attributes %}
      <tr>
        <td><label {{ attr.2|safe }}>{{ attr.0 }}</label></td>
        <td {{ attr.3|safe }}>{{ attr.1 }}</td>
      </tr>
      {% endfor %}
    </table>
    <!-- /relationship information -->

    <!-- Relationship resources -->
    <h4>{% trans "Resources" %}</h4>
    {% if resource_list %}
      <div class="top-btn pull-right top-add">
        {% if has_unattached_resources %}
        <a class="btn btn-primary btn-sm" href="{% url 'parties:relationship_resource_add' object.organization.slug object.slug relationship.id %}">
        {% else %}
        <a class="btn btn-primary btn-sm" href="{% url 'parties:relationship_resource_new' object.organization.slug object.slug relationship.id %}">
        {% endif %}
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Attach" %}</a>
      </div>
      {% include 'resources/table_sm.html' %}
    {% else %}
      <div>
        <p>{% trans "This relationship does not have any attached resources. To attach a resource, select the button below." %}</p>
        <div class="btn-full">
          {% if has_unattached_resources %}
          <a class="btn btn-primary" href="{% url 'parties:relationship_resource_add' object.organization.slug object.slug relationship.id %}">
          {% else %}
          <a class="btn btn-primary" href="{% url 'parties:relationship_resource_new' object.organization.slug object.slug relationship.id %}">
          {% endif %}
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Attach" %}</a>
        </div>
      </div>
    {% endif %}
    <!-- /relationship resources -->
  </section>
</div>

{% endblock %}
