{% extends "party/party_detail.html" %}
{% load i18n %}
{% load staticfiles %}

{% block page_title %}{% trans "Upload new resource for party" %} | {% endblock %}

{% block extra_script %}
  {{ block.super }}
  {{ form.media }}
  <script src="{% static 'js/form_submit.js' %}"></script>
{% endblock %}

{% block modals %}
{% url 'parties:detail' object.organization.slug object.slug party.id as cancel_url %}
{% url 'parties:resource_add' object.organization.slug object.slug party.id as add_lib_url %}
{% include 'resources/modal_upload.html' with cancel_url_hash="#resources" %}
{% endblock %}
