{% extends "core/base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block top-nav %}verify{% endblock %}

{% block title %} | {% trans "Verify Account" %}{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#phone-btn").click(function(){
        $("#phone-div").removeClass("hidden");
        $("#email-div").addClass("hidden");
        document.getElementById("id_email").value='';
    });
    $("#email-btn").click(function(){
        $("#email-div").removeClass("hidden");
        $("#phone-div").addClass("hidden");
        document.getElementById("id_phone").value='';
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="narrow">
    <h1>
        {% trans "Verify Account" %}
    </h1>
    <form method='POST' id="verification-form" action="{% url 'account:resend_token' %}" class="form form-narrow" data-parsley-validate data-parsley-excluded=":hidden">
        {% csrf_token %}
        <div id="email-div" class="form-group{% if form.email.errors %} has-error{% endif %}">
            <p>{% trans "A new verification link will be sent to the following email address."%}</p>
            <label class="control-label" for="id_email">{% trans "Enter Email" %}</label>
            {% render_field form.email class+="form-control input-lg" data-parsley-required="true"%}
            <div class="error-block">
                {{ form.email.errors }}
            </div>
            <div>
                <a style="cursor: pointer;" class="pull-right" id="phone-btn">{% trans "I want to verify my phone" %}</a>
            </div>
        </div>

        <div id="phone-div" class="form-group{% if form.phone.errors %} has-error{% endif %} hidden">
            <p>{% trans "A new verification token will be sent to the following phone number."%}</p>
            <label class="control-label" for="id_phone">{% trans "Enter Phone" %}</label>
            {% render_field form.phone class+="form-control input-lg" placeholder="+9999999999" data-parsley-required="true"%}
            <div class="error-block">
                {{ form.phone.errors }}
            </div>
            <div>
                <a style="cursor: pointer;" class="pull-right" id="email-btn">{% trans "I want to verify my email" %}</a>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase" >
            {% trans 'Send Verification' %}
        </button>
    </form>
</div>
{% endblock %}

