{% extends "core/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block top-nav %}user-single{% endblock %}

{% block extra_script %}{% endblock %}

{% block title %} | {% block page_title %}{% endblock %}{% trans "User Dashboard" %}{% endblock %}

{% block main-width %}-fluid{% endblock %}

{% block page-header %}

<!-- User dashboard header -->
<div class="header page-header">
  <div class="page-title">
    <h1>{% trans "My dashboard" %}</h1>
  </div>
</div>
<!-- / user dashboard header -->

{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- main body -->
    <div class="main-text">
      <div class="col-md-8">
        <h2>{% trans "Organizations & Projects" %}</h2>
        <!-- Panel with list of organizations and projects -->
        <section>
          {% if user_orgs_and_projects %}
            {% for org, is_admin, projects in user_orgs_and_projects %}

              <!-- start organization block -->
              {% if is_admin or not org.archived %}
              <div id="org-wrapper" class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="{% url 'organization:dashboard' slug=org.slug %}"
                   data-toggle="tooltip" data-trigger="hover" title="{% trans 'Go to organization dashboard' %}">
                    {{ org.name }}
                    </a>
                    <span class="role small">{% if is_admin %}{% trans "Administrator" %}{% endif %}</span>
                    {% if org.archived %}
                      <span class="label label-danger">{% trans "Archived" %}</span>
                    {% endif %}
                  </h3>
                </div>
                <div class="panel-body">
                  {% if org.description %}<p>{{ org.description }}</p>{% endif %}
                  {% if projects %}
                    <table class="table table-hover datatable" data-paging-type="simple">
                      <thead>
                      <tr>
                        <th class="col-md-7">{% trans "Project" %}</th>
                        <th class="col-md-2 hidden-xs">{% trans "Role" %}</th>
                        <th class="col-md-1 hidden-xs">{% trans "Country" %}</th>
                        <th class="col-md-2">{% trans "Last updated" %}</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for proj, proj_role in projects %}
                        <tr class="linked" onclick="window.document.location='{% url 'organization:project-dashboard' organization=org.slug project=proj.slug %}';">
                          <td>
                            <h4>
                              <a href="{% url 'organization:project-dashboard' organization=org.slug project=proj.slug %}">{{ proj.name }}</a>
                              {% if proj.access == "private" %}
                                <span class="label label-info">{% trans "Private" %}</span>
                              {% endif %}
                              {% if proj.archived %}
                                <span class="label label-danger">{% trans "Archived" %}</span>
                              {% endif %}
                            </h4>
                            {% if proj.description %}<p>{{ proj.description }}</p>{% endif %}
                          </td>
                          <td class="hidden-xs">{{ proj_role }}</td>
                          <td class="hidden-xs">{{ proj.country }}</td>
                          <td data-sort="{{ proj.last_updated|date:'U' }}">{{ proj.last_updated }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  {% elif is_admin %}
                    <div class="overlay-wrapper">
                      <div class="overlay">
                        <p class="text-center">{% trans "This organization is all set. Now add your first project." %}</p>
                        <div class="btn-full smaller">
                          <a class="btn btn-primary" href="{% url 'organization:project-add' org.slug %}" role="button">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> {% trans "Add a project" %}
                          </a>
                        </div>
                      </div>
                    </div>
                  {% else %}
                    <p>{% trans "Looks like this organization has no projects. As projects are created, they'll appear here." %}</p>
                  {% endif %}
                </div>
              </div>
              {% endif %}
              <!-- / organization block -->

            {% endfor %}
          {% else %}
            <!-- invitation to add first organization -->
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="overlay-wrapper">
                  <div class="overlay">
                    <span class="glyphicon glyphicon-ok-circle large"></span>
                    <p class="text-center">{% trans "Your account is all set. Now add your first organization." %}</p>
                    <div class="btn-full">
                      <a class="btn btn-primary" href="{% url 'organization:add' %}" role="button">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> {% trans "Add organization" %}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </section>
      </div>
      <div class="col-md-4">
        <!-- User about -->
        <section>
          <div class="panel panel-default panel-about">
            <div class="panel-topimage">
              <div id="preview-box">
                <img src="{{ user.avatar_url }}" alt="{{ user.name }}" id="avatar-preview">
              </div>
            </div>
            <div class="panel-heading">
              <h3 class="panel-title inline">
                {% if user.full_name %}
                  {{ user.full_name }}
                {% else %}
                  {{ user.username }}
                {% endif %}
              </h3>
              <a href="{% url 'account:profile' %}">
                <i class="glyphicon glyphicon-cog" data-toggle="tooltip" data-trigger="hover" data-placement="left" title="{% trans 'Edit profile' %}"></i>
              </a>
            </div>
            <div class="panel-body">
              {% if user.email and not user.email_verified or user.phone and not user.phone_verified %}
                <!-- Unverified account message -->
                <div class="alert alert-info alert-full" role="alert">
                  {% url 'account:resend_token' as resend_url %}
                  {% blocktrans %}We’ve noticed your account has not been verified. If you haven’t received your verification email or text, please <a href="{{ resend_url }}">request a new one</a>.{% endblocktrans %}
                </div>
              {% endif %}
              <table class="table table-location">
                <tbody>
                  <tr>
                    <td class="col-md-6"><label>{% trans "Username" %}<label></td>
                    <td class="col-md-6">{{ user.username }}</td>
                  </tr>
                  {% if user.email %}
                    <tr>
                      <td><label>{% trans "Email" %}<label></td>
                      <td>{{ user.email }}</td>
                    </tr>
                  {% endif %}
                  {% if user.phone %}
                    <tr>
                      <td></span><label>{% trans "Phone number" %}<label></td>
                      <td>{{ user.phone }}</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td><label>{% trans "Language" %}<label></td>
                    <td>{{ user.language_verbose }}</td>
                  </tr>
                  <tr>
                    <td><label>{% trans "Measurement" %}<label></td>
                    <td>{{ user.measurement_verbose }}</td>
                  </tr>
                  <tr>
                    <td><label>{% trans "Joined on" %}<label></td>
                    <td>{{ user.date_joined | date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <!-- / user about -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block modals %}{% endblock %}



