# Vagrant
.vagrant/
*.box

# Python
.Python
env/
bin/
build/
dist/
include/
lib/
lib64/
local/
parts/
sdist/
var/
wheels/
*.pyc
.cache
__pycache__/

# Coverage
.coverage
.coverage.*
htmlcov

# JS
*/dist/bundle.js
node_modules/

# Floobits
.floo
.flooignore

.idea
/.envrc
/.virtualenv/
.venv
venv/
ENV/

functional_tests/screenshots
*.log
*.retry

.sass-cache/
.transifexrc

.DS_Store
*.swp
/.tox/

/cadasta_platform.egg-info/
/pytest.txt

# Platform
/cadasta/geography/data
/cadasta/core/media/
/cadasta/core/static/css/main.css.map
/cadasta/core/static/css/main.css

/cadasta/templates/core/identifier.html
