# Vagrant
.vagrant/

# Python
env/
bin/
build/
include/
lib/
local/
*.pyc
.cache
__pycache__/

# Coverage
.coverage
htmlcov

# JS
*/dist/bundle.js
node_modules/

.idea
/.envrc
/.virtualenv/

functional_tests/screenshots
ghostdriver.log
npm-debug.log
vagrant.retry

.sass-cache/
.transifexrc

.DS_Store
