---
language: python
python:
  - "3.5"
services:
  - postgresql
addons:
  postgresql: "9.4"
# env:
#  - DJANGO_LIVE_TEST_SERVER_ADDRESS=127.0.0.1:5000
# before_install:
#  - travis_retry sudo apt-get update
#  - travis_retry sudo apt-get install phantomjs
#  - sudo mkdir /var/log/django
#  - sudo chmod 777 /var/log/django
install:
  - pip install -r requirements/common.txt
  - pip install -r requirements/dev.txt
  - nvm install 4.0.0
  - nvm alias default 4.0.0
  - cd app
  - npm install
  - cd ..
before_script:
  - psql template1 postgres -c 'create extension hstore;'
  - psql -c 'create database cadasta;' -U postgres
  - psql -U postgres -d cadasta -c "create extension postgis;"
  - python cadasta/manage.py migrate --settings=config.settings.travis
script:
  - py.test cadasta --cov=cadasta --ds=config.settings.travis
  - cd app
  - npm run test
#   - npm start | tee /tmp/npm-start.log &
#   - while ! grep 'bundle is now VALID' /tmp/npm-start.log; do sleep 1; done
#   - sleep 2
#   - cd ../functional_tests
#   - ./run.py --ds=config.settings.travis
