{% load widget_tweaks %}

{% csrf_token %}

{{ form.non_field_errors }}

<div class="form-group">
  {{ form.name.errors }}
  <label for="{{ form.name.id_for_label }}">Name</label>
  {% render_field form.name class+="form-control input-lg" %}
</div>

<div class="form-group">
  {{ form.description.errors }}
  <label for="{{ form.description.id_for_label }}">Description</label>
  {% render_field form.description class+="form-control input-lg" %}
</div>

<div class="form-group">
  {{ form.urls.errors }}
  <label for="{{ form.urls.id_for_label }}">Url</label>
  {% render_field form.urls class+="form-control input-lg" %}
</div>
