{% extends "core/base.html" %}

{% load widget_tweaks %}

{% block title %} | Organizations{% endblock %}

{% block content %}

<div class="row">
  <h1 class="pull-left">Organizations</h1>
  <a class="btn btn-default pull-right" href="{% url 'organization:add' %}">Add</a>  
</div>

<div class="row">
  <table class="table table-hover datatable" data-paging-type="simple">
    <thead>
      <tr>
        <th class="col-md-2"></th>
        <th class="col-md-8">Organization</th>
        <th class="col-md-2">Projects</th>
      </tr>
    </thead>
    {% for org in object_list %}
    <tr onclick="window.document.location='{% url 'organization:dashboard' slug=org.slug %}';">
      <td>{% if org.logo %}<img src="{{ org.logo }}" style="width: 100%; float: left;" />{% endif %}</td>
      <td>
        <h4>{{ org.name }}</h4>
        {% if org.description %}<p>{{ org.description }}</p>{% endif %}
      </td>
      <td>{{ org.projects.count }}</td>
    </tr>
    {% endfor %}
  </table>  
</div>

{% endblock %}
