{% extends "core/base.html" %}

{% block title %}Users{% endblock %}

{% block content %}

<h1>Users</h1>

<table class="table table-striped datatable" data-paging-type="simple">
  <thead>
    <tr>
      <th class="col-md-2">Member</th>
      <th class="col-md-3">Email</th>
      <th class="col-md-4" data-orderable="false">Organizations</th>
      <th class="col-md-2">Last login</th>
      <th class="col-md-1" data-orderable="false"> </th>
    </tr>
  </thead>
  {% for user in object_list %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.org_names|safe }}</td>
    <td>{{ user.last_login|default_if_none:"&mdash;" }}</td>
    <td>
      <form method="POST"
            action="{% url user.is_active|yesno:'user:deactivate,user:activate' user.username %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-xs">
          {{ user.is_active|yesno:"Deactivate,Activate" }}
        </button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
