{% load i18n %}

{% for resource in resources %}
<tr class="linked linked-resource" data-link-url="{% url 'resources:project_detail' project=project.slug organization=project.organization.slug resource=resource.id %}">
  <td>
    <div class="media-left">
      <img src="{{ resource.thumbnail }}" class="thumb-60">
    </div>
    <div class="media-body resource-text">
      <p>
        <a href="{% url 'resources:project_detail' project=project.slug organization=project.organization.slug resource=resource.id %}"><strong>{{ resource.name }}</strong></a>
        {% if resource.archived %}
          <span class="label label-danger">{% trans "Deleted" %}</span>
        {% endif %}
        <br>{{ resource.original_file }}
      </p>
    </div>
  </td>
  <td class="hidden-xs hidden-sm">{{ resource.file_type }}</td>
  <td class="hidden-xs hidden-sm">{{ resource.contributor.username }}<br>{{ resource.contributor.full_name }}</td>
  <td class="hidden-xs hidden-sm" data-sort="{{ resource.last_updated|date:'U' }}">{{ resource.last_updated }}</td>
  <td class="hidden-xs hidden-sm">
    {% if resource.attachment_id %}
      {% with amount=resource.num_entities|add:"-1" %}
      {% blocktrans %}{{ amount }} other{% endblocktrans %}
      {% endwith %}
    {% else %}
      {% if resource.num_entities %}
        {{ resource.num_entities }}
      {% else %}
        {% trans "Unattached" %}
      {% endif %}
    {% endif %}
  </td>
  <td class="text-right">
    {% if resource.attachment_id %}
      <form method="POST" action="{% url 'resources:detach' project.organization.slug project.slug resource.id resource.attachment_id %}?next={{ detatch_redirect }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm" role="button">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Detach" %}
        </button>
      </form>
    {% else %}
      {% if resource.archived %}
        <button class="btn btn-default btn-sm restore" data-unarchive-url="{% url 'resources:unarchive' project.organization.slug project.slug resource.id %}">{% trans "Restore" %}</button>
      {% endif %}
    {% endif %}
  </td>
</tr>
{% endfor %}
