// Override Bootstrap variables:

//== Colors

$gray-dark:              #595a5c;  // Cadasta gray
$gray-light:             #f1f2f3;  // Cadasta light gray
$brand-primary:          #2e51a3;  // Cadasta blue
$brand-gold:             #edaa00;  // Cadasta gold

//== Scaffolding

 $body-bg:               #eee;

//== Typography

$font-family-sans-serif:  'roboto', Helvetica, Arial, sans-serif;

//== Buttons

$btn-primary-color:              #fff;
$btn-primary-bg:                 #00b288;  // Cadasta green
$btn-primary-border:             #009975;

//== Icons

$icon-font-path:                '/static/fonts/bootstrap/';
$icon-width:                    32px;
$icon-height:                   32px;
$sprite-rows:                   42;
$sprite-cols:                   3;

//== Modals

$modal-backdrop-bg:              rgba(0, 0, 0, 0.6);

// End Override

@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
