// Override Bootstrap variables:

//== Colors

$gray-dark:                    #595a5c;  // Cadasta gray
$gray-medium:                  lighten($gray-dark, 30%); // Cadasta medium gray
$gray-light:                   lighten($gray-dark, 50%); // Cadasta light gray
$gray-darker:                  darken(#595a5c, 14%);  // Cadasta darker gray
$brand-primary:                #2e51a3;  // Cadasta blue
$brand-lightblue:              lighten($brand-primary, 36%);  // Cadasta light blue
$brand-darkblue:               #0e305e;  // Cadasta dark blue
$brand-darkerblue:             darken($brand-darkblue, 5%);  // Cadasta darker blue
$brand-gold:                   #edaa00;  // Cadasta gold
$brand-lightgold:              lighten($brand-gold, 30%);  // Cadasta light gold
$brand-lightergold:            lighten($brand-gold, 40%);  // Cadasta light gold

$brand-single-lightblue:       lighten($brand-primary, 10%);  // Cadasta single header light blue
$brand-single-lighterblue:     lighten($brand-primary, 40%);  // Cadasta single header lighter blue

//== Scaffolding

$body-bg:                      #f2f4f7;

//== Typography

$font-family-sans-serif:       Roboto, Helvetica, Arial, 'KNU Unicode', PadaukW, 'Noto Sans Bengali', sans-serif;
$font-family-sans-serif-alt:   'Roboto Condensed', Roboto, Helvetica, 'KNU Unicode', PadaukW, 'Noto Sans Bengali', sans-serif;

//== Header

$header-height:                60px;
$navbar-height:                53px;
$header-height-home:           90px;
$navbar-height-home:           83px;

//== Buttons

$btn-primary-color:             #fff !important;
$btn-primary-bg:                #00b288;  // Cadasta green
$btn-primary-border:            darken($btn-primary-bg, 5%);

$btn-blue-color:                #fff;
$btn-blue-bg:                   $brand-primary;
$btn-blue-border:               lighten($btn-blue-bg, 5%);

$btn-default-bg:                $body-bg;

//== Forms
$form-group-margin-bottom:       30px !default;

//== Icons

$icon-font-path:                '/static/fonts/bootstrap/';
$icon-width:                    64px;
$icon-height:                   64px;
$sprite-rows:                   42;
$sprite-cols:                   3;

//== Modals

$modal-backdrop-bg:              rgba(0, 0, 0, 0.6);

//== Tables

$table-cell-padding:            8px 16px !default;
$table-bg-accent:               #f9f9f9 !default; // Bg for table-striped
$table-bg-accent:               lighten($table-bg-accent, 25%); // Bg for table-striped
$table-bg-hover:                #f9fafe !default; // Bg for table-hover
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #e7e8ea; // Bg for table borders

// End Override

@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
