/* =Footer
-------------------------------------------------------------- */

footer {
  position: fixed;
  display: table-row;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: $body-bg;
  border-top: solid 1px $table-border-color;
  font-size: 11px;
  white-space: nowrap;
  padding-top: 4px;
  z-index: 1000;
  overflow: hidden;
  @media (max-width: $screen-xs-max) {
    position: relative;
    top: 0;
    display: block;
    overflow: visible;
    height: auto;
  }
  .copy {
    float: left;
    @media (max-width: 420px) {
      font-size: 9px;
    }
  }
  select.input-sm {
    height: 18px;
    line-height: 18px;
    padding: 0;
    font-size: 11px;
  }
  .list-inline {
    display: inline-block;
  }
  form.language {
    display: inline-block;
    padding-left: 24px;
    float: right;
    @media (max-width: 420px) {
      display: block;
      padding-left: 0;
      padding-bottom: 8px;
      float: none;
      select {
        font-size: 9px;
      }
    }
  }
  .footer-links {
    float: right;
    @media (max-width: $screen-sm-max) {
      float: left;
      clear: both;
      font-size: 10px;
    }
  }
  .list-inline > li {
    padding-left: 24px;
    text-align: right;
    @media (max-width: $screen-sm-max) {
      padding-left: 5px;
      float: left;
    }
  }
}

#dashboard footer {
  @media (max-width: $screen-sm-max) {
    position: absolute;
    bottom: 0;
    top: auto;
    height: auto;
    overflow: hidden;
  }
}

