@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "wizard";
@import "reg";
@import "maps";
@import "widgets";

/* =Fonts
-------------------------------------------------------------- */

@font-face {
  font-family: 'roboto';
  src: url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.eot');
  src: url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.woff') format('woff'),
       url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.ttf') format('truetype'),
       url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.svg#roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}

/* =Basics
-------------------------------------------------------------- */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

body, #cadasta {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: scroll;
}

#cadasta {
  display: table;
  padding-bottom: 40px;
}

h1, h2 {
  font-family: 'Roboto Condensed', Georgia, Arial, sans-serif;
}

h3, h4, h5 {
  letter-spacing: -0.3px;
}

label {
  font-weight: 400;
}

a {
  color: #337ab7;
  &:hover, 
  &:focus {
   color: $brand-darkblue;
   outline: none;
  }
}

/* =Header
-------------------------------------------------------------- */

header {
  z-index: 1000;
  position: relative;
  height: $header-height;
  background-color: $brand-primary;
  box-shadow: 0 1px 4px rgba(31,54,79,.2);
  &.header {
    top: 0;
  }
  #logo {
    display: inline-block;
    line-height: $header-height;
    font-size: 22px;
    margin: 0 auto;
    padding: 0;
  }
  #logo img {
    height: 18px;
    width: 124px;
  }
  nav {
    display: inline-block;
    float: right;
    height: $navbar-height;
    ul.list-inline {
      margin-bottom: 0;
      > li {
        border-top: solid 7px $brand-primary;
        padding-left: 0;
        padding-right: 0;
        &:hover, a:hover, a:focus {
          @include button-variant(#fff, lighten($btn-blue-bg, 5%), $brand-gold);
          transition: all 0.3s ease 0s;
        }
        a {
          line-height: $navbar-height;
          height: $navbar-height;
          color: $gray-light;
          padding-left: 24px;
          padding-right: 24px;
          display: inline-block;
          &:hover,
          &:focus {
            color: #fff;
            text-decoration: none;
            background: $brand-darkblue;
          }
        }
      }
    }
  }
  .btn-info { // info button
    border-radius: 0;
    padding-top: 28px;
    min-width: $header-height;
    height: $header-height;
    border: none;
    font-size: 13px;
    @include button-variant($gray-lighter, transparent, $btn-blue-bg);
    border-left: solid 1px $btn-blue-border;
    &:hover {
      @include button-variant(#fff, darken($btn-blue-bg, 5%), $btn-blue-bg);
      transition: all 0.3s ease 0s;
    }
    .glyphicon-info-sign {
      font-size: 18px;
      width: 48px;
      height: 32px;
    }
  }
}

.header {
  width: 100%;
  left: 0;
  right: 0;
}

/* =Top navigation status
-------------------------------------------------------------- */

#projects .nav li.projects,
#project-single .nav li.projects,
#organizations .nav li.organizations,
#organization-single .nav li.organizations,
#users .nav li.users {
  border-top: solid 7px $brand-gold;
  a {
    color: #fff;
  }
}

#project-single .header,
#organization-single .header { 
  position: absolute;
}

/* =User links & links in registration
-------------------------------------------------------------- */

.reg-links {
  .divider {
    border-left: solid 1px $btn-blue-border;
  }
  div.divider {
    height: $header-height;
    min-width: 22px;
  }
  .dropdown-menu {
    min-width: 224px;
  }
  .caret {
    margin-left: 14px;
    color: lighten($btn-blue-bg, 20%);
    transition: all 0.3s ease 0s;
  }
  .btn-user { // user profile links
    border-radius: 0;
    min-width: 224px;
    height: $header-height;
    border: none;
    font-size: 13px;
    @include button-variant($gray-lighter, transparent, $btn-blue-bg);
    &:focus, &:hover {
      @include button-variant(#fff, darken($btn-blue-bg, 5%), $btn-blue-bg);
      transition: all 0.3s ease 0s;
       .caret {
         color: #fff;
       }
    }
    .thumbnail {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 14px;
      background-color: transparent;
    }
  }
  .btn-reg { // login and register links
    margin-top: 22px;
    margin-left: 22px;
    min-width: 102px;
    @include button-variant($gray-lighter, lighten($btn-blue-bg, 5%), #fff);
    &:hover {
      @include button-variant(#fff, darken($btn-blue-bg, 5%), #fff);
      transition: all 0.3s ease 0s;
    }
  }
}

/* =Page header default
-------------------------------------------------------------- */

.page-header { // navy band on index pages
  background: $brand-darkblue;
  background-color: $brand-primary;
  background: -moz-linear-gradient(top, $brand-darkblue 0%, $brand-primary 70%); 
  background: -webkit-linear-gradient(top, $brand-darkblue 0%,$brand-primary 70%); 
  background: linear-gradient(to bottom, $brand-darkblue 0%,$brand-primary 70%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-darkblue', endColorstr='$brand-primary',GradientType=0 );
  margin: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  min-height: 300px;
  .top-btn {
    margin-top: 0;
  }
  .btn-add {
    margin-right: 14px;
  }
}

.page-title { // page title
  padding-top: 2px;
  padding-bottom: 24px;
  h1, h2 {
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    position: relative;
    margin-top: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
    .org-name {
      font-size: 14px;
      display: block;
      padding-bottom: 2px;
      text-transform: uppercase;
    }
    a {
      color: $brand-lightblue;
    }
  }
}

/* =Page header for single project or organization
-------------------------------------------------------------- */

#project-single .page-header, 
#organization-single .page-header { // navy band on pages for single project or organization
  background: $brand-darkblue;
  height: 110px;
  min-height: 110px;
  border-bottom: solid 1px #fff;
  margin: 0;
  padding-top: 18px;
  position: fixed;
  top: $header-height;
  z-index: 999;
  div > a {
    color: $brand-lightblue;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
  .index-link {
    padding: 4px 10px;
    margin-right: 24px;
    border: 1px solid $brand-lightblue;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    position: relative;
    top: -8px;
    display: inline-block;
    &:hover,
    &:focus {
      @include button-variant(#fff, lighten($btn-blue-bg, 5%), #fff);
      transition: all 0.3s ease 0s;
    }
  }
  .page-title {
    padding-top: 14px;
    padding-bottom: 8px;
  }
  .top-btn {
    margin-top: 18px;
  }
  .btn-add {
    margin-right: 14px;
  }
  .more-menu {
    float: left;
    font-size: 24px;
    margin: 2px 0 0 10px;
    width: $icon-width;
    height: $icon-height;
    display: block;
  }
}

#organization-single .page-header { 
  padding-top: 35px; // offset to match project 
  .top-btn {
    margin-top: 1px;
  }
}

/* =Page Content
-------------------------------------------------------------- */

#page-content { // for page content
  z-index: 800;
}

#projects #page-content,
#organizations #page-content,
#users #page-content { // index pages without subnav that overlap page-header
  max-width: 1220px;
  margin: -190px auto 10px;
  padding-bottom: 20px;
  padding-top: 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  border-radius: 4px;
}

#project-single #page-content,
#organization-single #page-content { // for single project and org pages with left subnav
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

/* =Sidebar for single project or organization navigation
-------------------------------------------------------------- */

#sidebar {
  position: relative;
  height: 100%;
  z-index: 990;
  display: block;
  padding: 0;
  overflow: hidden;
  background-color: $brand-darkblue;
  color: $brand-lightblue;
  text-align: center;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  .nav-sidebar {
    width: 100%;
    position: relative;
    > li {
      position: relative;
      cursor: pointer;
      display: block;
      text-align: center;
      border-bottom: solid 1px $brand-darkerblue;
      a {
        width: 100%;
        height: 100%;
        position: relative;
        color: $brand-lightblue;
        border-left: 7px solid $brand-darkerblue;
        &:focus, &:hover {
          @include button-variant(#fff, darken($btn-blue-bg, 2%), $brand-gold);
          transition: all 0.3s ease 0s;
          .icon { // show active icon
            background-position: -48px 0;
          }
        }
      }
      .icon {
        margin: 0 auto;
        height: 48px;
        width: 48px;
        position: relative;
        background-position: 0 0;
        display: block;
      }
      .title {
        display: block;
        position: relative; 
        margin: 0;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}

/* =Icons active in subnav
-------------------------------------------------------------- */

#sidebar {
  li.overview {
    .icon { 
      background-image: url('/static/img/icon-overview.png');
    }
  }
  li.map {
    .icon { 
      background-image: url('/static/img/icon-map.png');
    }
  }
  li.resources {
    .icon { 
      background-image: url('/static/img/icon-resources.png');
    }
  }
  li.reports {
    .icon { 
      background-image: url('/static/img/icon-reports.png');
    }
  }
  li.activity {
    .icon { 
      background-image: url('/static/img/icon-activity.png');
    }
  }
  li.projects {
    .icon { 
      background-image: url('/static/img/icon-projects.png');
    }
  }
  li.members {
    .icon { 
      background-image: url('/static/img/icon-members.png');
    }
  }
}

#sidebar.overview li.overview,
#sidebar.map li.map,
#sidebar.resources li.resources,
#sidebar.reports li.reports,
#sidebar.activity li.activity, 
#sidebar.projects li.projects,
#sidebar.members li.members { // show active icon
  a {
    border-left: 7px solid $brand-gold;
  }
  .icon { // show active icon
    background-position: -96px 0;
  }
  .title {
    color: #fff;
  }
}

/* =Main content to right of sidebar
-------------------------------------------------------------- */

#project-single #page-content main,
#organization-single #page-content main { 
  width: 100%;
  max-width: 100%;
}

.content-single {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 900;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
  > .row { // for map to expand need height
    height: 100%;
    height: -webkit-calc(100% - 30px);
    height: -moz-calc(100% - 30px);
    height: calc(100% - 30px);
    margin-right: 0;
  }
  h2 {
    color: $brand-darkblue;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 14px;
    text-shadow: none;
  }
  h3 {
    font-family: 'Roboto Condensed', Georgia, Arial, sans-serif;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 300;
    letter-spacing: 0;
  }
  .divider {
    border-top: solid 7px $table-border-color;
    margin: 24px auto;
  }
  .btn-block {
    margin: 24px auto;
  }
  .page-title {
    padding-bottom: 0;
    padding-top: 0;
    .top-btn{
      margin-top: 0;
      }
  }
  .map { // main panel map
    height: 100%;
    min-height: 100%;
    padding-right: 0;
    #project-map {
      height: 100%;
      min-height: 100%;
    }
  }
  .main-text {
    padding: 30px 40px 30px 50px;;
    .panel { // content box in main panel 
      border: 1px solid $table-border-color;
      .panel-heading {
        background: transparent;
        h3 {
          margin: 4px auto;
          padding: 0;
          text-transform: uppercase;
          opacity: 0.7;
          font-weight: 300;
          letter-spacing: 0;
        }
      }
    }
  }
  .detail { // right panel detail
    height: 100%;
    min-height: 100%;
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    .org-logo { // large org logo
      margin: 0 auto 20px;
      float: none;
      padding-left: 0;
      img { 
        width: 90%;
        max-width: 200px;
      }
    }
    ul.list-divider li { // lists with lines between
      border-bottom: 1px solid $table-border-color;
      padding: 12px 2px;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 6px;
    }
    } 
  }
}

/* =Table views
-------------------------------------------------------------- */

.table.dataTable {
  background: #fff;
  border-top: 1px solid $table-border-color;
  border-bottom: 3px solid $table-border-color;
  h4 {
    font-weight: bold;
    margin-top: 0;
  }
  > thead > tr > th {
    border-bottom: 2px solid $table-border-color;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.7;
    padding: 4px 24px;
    background: $body-bg;
  }
  > tbody > tr.linked > td:hover {
    cursor: pointer;
  }
  .btn-sm {
    min-width: 90px;
  }
  div.org-logo {
    padding: 4px 0;
  }
}

table.dataTable thead {
  .sorting::after {
    content: initial;
  }
  .sorting_asc::after, .sorting_desc::after {
    position: relative;
    left: 8px;
    display: inline-block;
    font-size: 10px;
    top: 1px;
  }
  .sorting_asc::after {
    content: "\e253";
  }
  .sorting_desc::after {
    content: "\e252";
  }
}

div.dataTables_wrapper div.dataTables_length label /* show number dropdown */, 
div.dataTables_wrapper div.dataTables_filter label /* search label */, 
div.dataTables_wrapper div.dataTables_info /* showing number total */ {
  opacity: 0.8;
  font-size: 12px;
}

/* =Organizations
-------------------------------------------------------------- */

div.org-logo {
  float: left;
  padding: 10px;
}

.org-text {
  margin-left: 160px;
}

.member-pic {
  padding-bottom: 12px;
  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
}

.member-detail {
  min-height: 100px;
  display: inline-block;
  padding: 0 0 20px 0;
  h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 4px 0;
  }
}

.member-role {
  padding: 30px 0;
  border-top: solid 1px $table-border-color;
  border-bottom: solid 1px $table-border-color;
  clear: both;
  margin: 30px 0;
}

#projects-permissions .form-control {
  min-width: 70%;
}

/* =Dashboard map
-------------------------------------------------------------- */

#dashboard-map {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  bottom: 30px;
}

/* =Img sizing
-------------------------------------------------------------- */

img.org-logo, img#org-logo {
  max-width: 120px;
  max-height: 50px;
}

.avatar {
  width: 48px;
  height: 48px;
}

.avatar-sm {
  width: 24px;
  height: 24px;
}

.avatar-lg {
  width: 120px;
  height: 120px;
}

.thumb-60 {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.thumb-128 {
  width: 128px;
  height: 128px;
  float: left;
  margin-right: 10px;
}

/* =Buttons
-------------------------------------------------------------- */

.top-btn {
  margin-top: 20px;
  .btn {
    min-width: 100px;
  }
  .btn-rt {
    min-width: 20px;
  }
}

.btn-full {
  background: $gray-lighter;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  .btn {
    min-width: 200px;
    margin: 0 10px;
    padding: 10px 24px;
  }
}

.btn-primary { // for green buttons on dark background
  &:hover {
    background-color: darken($btn-primary-bg, 5%);
  }
}

/* =Alerts
-------------------------------------------------------------- */

.alert {
  text-align: center;
}

.translation-wrapper {
  background-color: fuchsia;
}

#messages { // success messages on top of map
  position: relative;
  z-index: 999;
}

/* =Footer
-------------------------------------------------------------- */

footer {
  position: fixed;
  display: table-row;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: $body-bg;
  border-top: solid 1px $table-border-color;
  font-size: 11px;
  white-space: nowrap;
  padding-top: 4px;
  z-index: 1000;
  overflow: hidden;
  .list-inline {
    display: inline-block;
  }
  form {
    display: inline-block;
    padding-left: 24px;
    color: rgb(21, 51, 103);
  }
  .list-inline > li {
    padding-left: 24px;
    text-align: right;
  }
}

/* =CLEAN UP BELOW
-------------------------------------------------------------- */

div#id_extents_location_map {
  height: 500px;
}

label[for="id_extents-location"] {
  display: none;
}
