@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "wizard";
@import "widgets";
@import "reg";
@import "header";
@import "footer";
@import "orgs";
@import "resources";
@import "single";
@import "forms";
@import "maps";
@import "modals";

/* =Fonts
-------------------------------------------------------------- */

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.eot');
  src: url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.woff') format('woff'),
       url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.ttf') format('truetype'),
       url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.svg#roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.eot');
  src: url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.woff') format('woff'),
       url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.ttf') format('truetype'),
       url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.svg#roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Bengali';
    src: url('/static/fonts/NotoSansBengali/NotoSansBengali-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* =Basics
-------------------------------------------------------------- */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

body, #cadasta {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: auto;
}

#cadasta {
  display: table;
  padding-bottom: 40px;
}

@media (max-width: $screen-sm-max) {
  #cadasta {
    padding-bottom: 0;
  }
}

h1, h2 {
  font-family: $font-family-sans-serif-alt;
}

h3, h4, h5 {
  letter-spacing: -0.3px;
}

h4.div {
  border-top: 1px solid $table-border-color;
  border-bottom: 2px solid $table-border-color;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.7;
  padding: 8px;
  background: $body-bg;
}

label {
  font-weight: 400;
}

a {
  color: $link-color;
  &:hover,
  &:focus {
   color: $brand-darkblue;
   outline: none;
  }
}

kbd {
  background: $gray-light;
  color: $gray-dark;
}

/* =Page Content
-------------------------------------------------------------- */

#page-content { // for page content
  z-index: 800;
  position: relative;
  padding-bottom: 20px;
}

#projects #page-content,
#organizations #page-content,
#users #page-content { // index pages without subnav that overlap page-header
  max-width: 1220px;
  margin: -190px auto 0;
  padding-top: 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,.3);
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  border-radius: 4px;
}

body.tinted-bg #page-content { // for bg image
  background: transparent;
}

#project-wizard #page-content { // for non-map pages
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#dashboard #page-content,
#registration #page-content,
#project-single #page-content,
#project-wizard.map #page-content,
#organization-single #page-content { // for single project and org pages with left subnav
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

#dashboard #page-content,
#project-wizard.page #page-content,
#registration #page-content { // full height page with only site header
  top: $header-height;
}

@media (max-width: $screen-md-max) {
  #projects #page-content,
  #organizations #page-content,
  #users #page-content {
    border-radius: 0;
  }
}

@media (max-width: $screen-sm-max) {
  #projects #page-content,
  #organizations #page-content,
  #users #page-content {
    border-radius: 0;
    margin-top: -220px;
    padding-top: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  #project-single #page-content,
  #project-wizard.page #page-content,
  #organization-single #page-content,
  #registration #page-content {
    position: relative;
    top: 0;
    //background: #fff;
  }
}

/* =Main container
-------------------------------------------------------------- */

main.container-fluid {
  padding-bottom: 50px; // for footer
}

/* =Main content to right of sidebar
-------------------------------------------------------------- */

#project-single #page-content main,
#organization-single #page-content main {
  position: relative;
  left: 0;
  margin-left: 0;
  min-height: 100%;
  overflow: hidden;
}

#project-single #page-content main.show-sidebar,
#organization-single #page-content main.show-sidebar { 
  margin-left: 100px;
}

@media (max-width: $screen-sm-max) {
  main.container-fluid {
    padding-bottom: 0;
  }
  #project-single #page-content main,
  #organization-single #page-content main, 
  #project-single #page-content main.show-sidebar,
  #organization-single #page-content main.show-sidebar,
  #organization-single #page-content main {
    margin-left: 0;
    background: #fff;
  }
}

.content-single {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 900;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  height: -webkit-calc(100% - 30px);
  height: -moz-calc(100% - 30px);
  height: calc(100% - 30px);
  > .row { // for map to expand need height
    height: 100%;
    margin-right: 0;
  }
  h2 {
    color: $brand-darkblue;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 6px;
    text-shadow: none;
    &.short { // provides room for admin buttons on right
      width: 70%;
    }
    a {
      color: #0e305e;
      text-decoration: none;
    }
    a:hover {
      color: #2e51a3;
    }
  }
  h3 {
    font-family: $font-family-sans-serif-alt;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0;
    color: #0e305e;
  }
  h4 span.small { // small entity title above link in results tables
    font-size: 11px;
    color: $gray-medium;
    display: block;
    text-transform: uppercase;
    padding-bottom: 2px;
    font-weight: normal;
    letter-spacing: 0;
  }
  .divider-thick {
    border-top: solid 7px $table-border-color;
    margin: 20px auto;
  }
  .btn-block {
    margin: 24px auto;
  }
  .page-title {
    padding-bottom: 0;
    padding-top: 0;
    .top-btn{
      margin-top: 0;
    }
  }
  .map { // main panel map
    height: 100%;
    min-height: 100%;
    padding-right: 0;
    #project-map, #id_extent_map, #id_extents_extent_map {
      height: 100%;
      min-height: 100%;
    }
  }
  #id_geometry_map {
    height: 100%;
    min-height: 100%;
  }
  .main-text {
    padding: 30px 40px 50px 50px;
  }
  .detail { // right panel detail
    height: 100%;
    min-height: 100%;
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.3);
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    z-index: 300;
    .more-menu {
      width: auto !important;
    }
    .org-logo { // large org logo
      margin: 10px auto 20px;
      float: none;
      text-align: center;
      img {
        width: 90%;
        max-width: 200px;
      }
    }
    ul.list-divider li { // lists with lines between
      border-bottom: 1px solid $table-border-color;
      padding: 12px 2px;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 6px;
      }
    }
    .nav-tabs {
      li > a {
        font-size: 13px;
        padding: 10px;
      }
      li.active > a, li.active > a:hover, li.active > a:focus {
        border-color: $table-border-color;
        border-bottom-color: transparent;
      }
    }
    section > p:first-child {
      padding-top: 20px;
    }
    h4 {
      font-family: $font-family-sans-serif-alt;
      text-transform: uppercase;
      opacity: 0.8;
      letter-spacing: 0;
      padding-top: 10px;
    }
    .glyphicon-globe, .glyphicon-envelope, .glyphicon-earphone { // url and contacts in overview
      opacity: 0.7;
      padding-right: 12px;
    }
    dl.contacts { // contacts in overview
      dt {
        border-top: dotted 1px $table-border-color;
        padding-top: 10px;
        padding-bottom: 6px;
        padding-left: 30px;
        &:first-child {
          border-top: none;
          padding-top: 0;
        }
      }
      dd {
        padding-bottom: 10px;
        padding-left: 30px;
        a {
          display: block;
          font-size: 13px;
          padding-bottom: 4px;
        }
      }
    }
  }
  .row-height .detail { // columns fixed to match heights like org overview
    padding-top: 0;
  }
  .detail-edit { // edit on right
    background: $body-bg;
    .panel-footer {
      background: transparent;
    }
  }
  .panel { // content box in main panel
    border: 1px solid $table-border-color;
    clear: both;
    .panel-heading {
      background: transparent;
      h3 {
        margin: 4px auto;
      }
    }
    .panel-body {
      > h3 {
        margin-bottom: 10px;
        margin-top: 4px;
        padding-bottom: 10px;
        border-bottom: solid 1px $gray-light;
      }
      .top-add {
        margin-bottom: -30px;
      }
    }
    .panel-footer {
      background: lighten($body-bg, 2%);
    }
    .panel-buttons { // holds buttons at bottom of panels containing forms
      padding: 20px 15px;
      .btn {
        min-width: 110px;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .member-panel { // member edit page
    border: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .nav-tabs {
    margin-bottom: 20px;
  }
}

body.map .content-single {
  overflow-y: hidden;
}

@media (max-width: $screen-sm-max) {
  .content-single {
    position: relative;
    .map {
      height: 300px;
      min-height: 300px;
    }
    .main-text {
      padding: 15px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .content-single {
    .panel {
      .panel-buttons .btn {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
      }
      .panel-body {
        font-size: 12px;
      }
    }
    .detail {
      .nav-tabs li > a {
        font-size: 12px;
      }
      .tab-content {
        font-size: 12px;
      }
    }
  }
}

/* =Table for sort and filter
-------------------------------------------------------------- */

.dataTables_wrapper {
  clear: both;
  .table-search { // search
    label {
      float: left;
      text-align: left;
      margin-right: 10px;
    }
    input {
      margin-left: 0 !important;
    }
  }
  .table-entries { // number of entries
    font-size: 12px;
    float: left;
    display: inline-block;
    padding-right: 10px;
    opacity: 0.8;
  }
  .table-num { // select number of entries per page
    font-size: 12px;
    float: left;
    display: inline-block;
    padding-top: 3px;
    padding-left: 10px;
    border-left: 1px solid $table-border-color;
    opacity: 0.8;
    .input-sm {
      padding: 5px;
    }
    select {
      width: 55px !important;
    }
  }
  .table-pagination { // pagination
    float: right;
    display: inline-block;
    .pagination > li > a,
    .pagination > li > span {
      color: $gray-dark;
    }
    .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover    {
      color: $gray-medium;
    }
    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
      background-color: $gray-light;
      border-color: #ddd;
    }
  }
  table.dataTable thead {
    .sorting::after {
      content: initial;
    }
    .sorting_asc::after, .sorting_desc::after {
      position: relative;
      left: 8px;
      display: inline-block;
      font-size: 10px;
      top: 1px;
    }
    .sorting_asc::after {
      content: "\e253";
    }
    .sorting_desc::after {
      content: "\e252";
    }
  }
}

.detail div.dataTables_wrapper div.dataTables_filter input {
  max-width: 100px;
}

@media (max-width: 500px) {
  div.dataTables_wrapper div.dataTables_filter input {
    max-width: 80px;
  }
}

@media (max-width: 400px) {
  #project-single .dataTables_wrapper .col-sm-6,
  #organization-single .dataTables_wrapper .col-sm-6 {
    width: 100% !important; // fix for col-xs-6
    float: left !important;
  }
  #project-single div.dataTables_wrapper div.dataTables_filter,
  #organization-single div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
  }
  .dataTables_wrapper {
    .table-entries { // number of entries
      font-size: 10px;
      padding-right: 5px;
    }
    .table-num { // select number of entries per page
      font-size: 10px;
      padding-top: 0;
      padding-left: 5px;
      .input-sm {
        padding: 2px;
      }
      select {
        width: 50px !important;
        font-size: 10px;
      }
    }
  }
  .table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
    width: auto !important;
  }
}

/* =Table views
-------------------------------------------------------------- */

.table {
  background: #fff;
  border-top: 1px solid $table-border-color;
  border-bottom: 3px solid $table-border-color;
  h4 {
    font-weight: bold;
    margin-top: 0;
    color: $gray-darker;
  }
  > thead > tr > th {
    border-bottom: 2px solid $table-border-color;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.7;
    //padding: 4px 24px;
    background: $body-bg;
  }
  > tbody > tr.linked > td:hover {
    cursor: pointer;
  }
  .btn-sm {
    min-width: 80px !important;
  }
  .table-condensed .btn-sm {
    min-width: 60px !important;
  }
  div.org-logo {
    padding: 4px 0;
  }
}

table.table-location { // location details in map area
  border-top: none;
  tr:first-child td {
    border-top: none;
  }
  label {
    text-transform: uppercase;
    font-size: 12px;
  }
}

table#select-list {
  border-bottom-width: 1px;
  margin-bottom: 0;
}

@media (max-width: $screen-xs-max) {
  table {
    overflow-x: auto;
  }
}

@media (max-width: 500px) {
 .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 8px;
    font-size: 12px;
 }
 .form-group, .form-control, .public-private-widget, .s3-buckets .file-input, #id_select_file-file {
   font-size: 12px;
 }
 .form-control {
   padding: 6px; 
 }
}

/* =Dashboard map
-------------------------------------------------------------- */

#dashboard-map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 30px;
  z-index: 900;
  padding: 0;
  overflow: hidden;
  height: 100%;
  height: -webkit-calc(100% - 30px);
  height: -moz-calc(100% - 30px);
  height: calc(100% - 30px);
}

/* =Img sizing
-------------------------------------------------------------- */

img.org-logo, img#org-logo {
  max-width: 120px;
  max-height: 50px;
}

#organizations .table div.org-logo {
  display: none; // hidden until upload field is added
}

@media (max-width: $screen-xs-max) {
  img.org-logo, img#org-logo {
    max-width: 80px;
    max-height: 30px;
  }
  #organizations .table div.org-logo {
    display: none;
  }
  #organizations .table div.org-text {
    margin-left: 0;
  }
}

.avatar {
  width: 48px;
  height: 48px;
}

.avatar-sm {
  width: 24px;
  height: 24px;
}

.avatar-lg {
  width: 120px;
  height: 120px;
}

.thumb-60 {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.thumb-128 {
  width: 128px;
  height: 128px;
  float: left;
  margin-right: 20px;
}

@media (max-width: $screen-xs-max) {
  .avatar {
    width: 36px;
    height: 36px;
  }
}

/* =Buttons
-------------------------------------------------------------- */

.top-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  .btn {
    min-width: 100px;
  }
  .btn-rt, .btn-action {
    min-width: 34px;
  }
}

.btn-full {
  background: $gray-lighter;
  text-align: center;
  padding: 20px;
  clear: both;
  margin: 20px 0;
  .btn {
    min-width: 160px;
  }
  .btn-group .btn {
    margin: 0;
  }
}

.btn-link {
  min-width: 60px;
}

.btn-primary { // for green buttons on dark background
  &:hover {
    background-color: darken($btn-primary-bg, 5%);
  }
}

div.add-btn-btm { // add party link at bottom of table
  padding: 10px 24px;
  text-align: left;
  border-bottom: 3px solid $table-border-color;
  margin-bottom: 20px;
}

.more-menu { // for ellipsis menu on small screens
  float: left;
  font-size: 24px;
  margin: 2px 0 0 10px;
  width: 48px;
  height: 48px;
  display: block;
}

@media (max-width: $screen-md-max) {
  .btn-full .btn {
    min-width: 100px;
  }
}

@media (max-width: $screen-sm-max) {
  .top-btn {
    .btn {
      min-width: auto;
      font-size: 13px;
      color: black;
    }
  }
  #project-single .page-header,
  #organization-single .page-header {
    .top-btn {
      padding: 4px 10px 0;
      margin-top: 0;
      .btn {
        min-width: auto;
      }
      .langs-select {
        margin-right: 0;
        width: 50px;
        select {
          font-size: 13px;
          padding: 2px;
        }
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
 .top-btn .btn {
    min-width: auto;
  }
}

/* =Alerts, labels, text
-------------------------------------------------------------- */

.alert {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  -webkit-box-shadow:: 10px 10px 6px -8px rgba(0,0,0,.5);
  -moz-box-shadow:  10px 10px 6px -8px rgba(0,0,0,.5);
  box-shadow:  10px 10px 6px -8px rgba(0,0,0,.5);
}

.form-narrow .alert {
  max-width: 100%;
  margin-bottom: 20px;
}

.alert-full {
  width: 100%;
  max-width: 100%;
  text-align: left;
  margin-bottom: 20px;
  display: table;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  > div {
    display: table-cell;
    vertical-align: top;
    padding: 2px;
  }
}
.form-narrow, .narrow {
  .alert-full {
    margin-bottom: 20px;
  }
}

.form-narrow, .narrow {
  .alert-full {
    margin-bottom: 20px;
  }
}

.translation-wrapper {
  background-color: fuchsia;
}

#messages { // success messages on top of map
  position: relative;
  z-index: 999;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert-error { // same as alert-danger
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

.label {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 11px;
  font-weight: 500;
  vertical-align: middle;
}

h1 .label {
  font-size: 16px;
}

.highlight { // for emphasis for inline text
  font-weight: 600;
  color: #000;
}

.border-btm {
  margin-bottom: 20px;
  margin-top: 0;
  border: 0;
  border-bottom: 1px solid #eee;
}

.inline {
  display: inline;
}

@media (max-width: $screen-sm-max) {
  .alert {
    max-width: none;
  }
}

@media (max-width: $screen-xs-max) {
  h1 .label {
    font-size: 12px;
  }
}


/* =Map location details
-------------------------------------------------------------- */

.content-single .detail h2 span {
  font-size: 14px;
  color: #a6a7a8;
  display: block;
  text-transform: uppercase;
  padding-bottom: 2px;
}
