/* =Leaflet popups
-------------------------------------------------------------- */

.leaflet-container {
  font-family: $font-family-sans-serif !important;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 4px !important;
  padding-bottom: 0 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-content {
  .text-wrap { // org and project
    margin: 0 18px 0 10px;
    h2 {
      margin-top: 10px;
      font-size: 18px;
      span {
        font-size: 11px;
        color: $gray-medium;
        display: block;
        text-transform: uppercase; 
        padding-bottom: 2px;
      }
    }
  }
  .btn-wrap { // button
  background: $body-bg;
  border-top: 1px solid $gray-light;
  padding: 4px 4px 5px;
  }
}

.leaflet-popup-tip { // pointer
  background: $body-bg !important;
}

/* =Geolocate
-------------------------------------------------------------- */

.leaflet-control-geolocate {
  width: 25px;
  height: 25px;
  background-color: #fff;
  text-align: center;
}

.leaflet-control-geolocate:hover {
  background-color: #f4f4f4;
}

.leaflet-control-geolocate span {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  cursor: pointer;
}

/* =Mobile
-------------------------------------------------------------- */

.leaflet-touch {
  .leaflet-control-geolocate {
    width: 34px !important;
    height: 34px !important;
  }
  .leaflet-pelias-control {
    width: 34px !important;
    height: 34px !important;
  }
}

@media (max-width: $screen-xs-max) {
  .leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 9px !important;
  }
  .leaflet-container-default {
    min-block-size: auto !important;
  }
}

@media (max-width: 400px) {
  .leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    width: 70%;
   }
}

/* =Map controls
-------------------------------------------------------------- */

.leaflet-top, .leaflet-bottom {
  z-index: 200;
}

/* =Labels
-------------------------------------------------------------- */

div#id_extents_location_map {
  height: 500px;
}

label[for="id_extents-extent"],
label[for="id_extents-location"] {
  display: none;
}

