/* =Organizations
-------------------------------------------------------------- */

div.org-logo {
  padding: 30px 10px 10px;
  img {
    width: 90%;
    max-width: 200px;
  }
}

.org-text {
  // margin-left: 160px; adjusted until upload field is added
  margin-left: 0;
}

/* =Single member permissions
-------------------------------------------------------------- */

.member-info {
  .member-pic {
    padding-bottom: 12px;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
  }
  .member-detail {
    min-height: 100px;
    display: inline-block;
    padding: 0 0 20px 0;
    word-break: break-all;
    h5 {
      font-size: 16px;
      font-weight: 600;
      margin: 0 0 4px 0;
    }
  }
  .member-role {
    padding: 20px 0;
    border-top: solid 1px $table-border-color;
    border-bottom: solid 1px $table-border-color;
    clear: both;
    margin: 10px 0;
  }
  .btn-full {
    padding: 20px 0;
  }
}

#projects-permissions, .form-inline {
  .form-group {
    display: block;
  }
  .form-control {
    min-width: 70%;
  }
}

@media (max-width: $screen-sm-max) {
  .member-info {
    .member-pic {
      display: none;
    }
  }
}

/* =Columns of same height for organization overview
-------------------------------------------------------------- */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  vertical-align: top;
  height: 100%;
}

@media (max-width: $screen-sm-max) {
  .row-height, .col-height { 
    display: block;
  }
  #organization-single {
    .row-height {
      display: table; 
      margin: 0 auto;
      background: #fff;
    }
    .detail {
      box-shadow: none;
      section {
        padding: 20px;
      }
    }
  }
}

@media (min-width: $screen-xs-min) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}

@media (min-width: $screen-sm-min) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}

@media (min-width: $screen-md-min) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}

@media (min-width: $screen-lg-min) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}