/* =Registration area & profile pages
-------------------------------------------------------------- */

body.tinted-bg { // photo for login and register forms
  background: linear-gradient(rgba(44, 74, 165, 0.55), rgba(44, 74, 165, 0.55)), url("#{$img-path}land.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  @media (max-width: $screen-sm-max) {
    background: $body-bg;
  }
}

.form-narrow, .narrow {
  margin: 0 auto 20px;
  max-width: 500px;
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #ddd;
  padding: 30px 40px;
  margin-top: 30px;
  z-index: 100;
  position: relative;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  @media (max-width: $screen-md-max) {
    margin-top: 15px;
    padding: 10px 15px;
  }
  @media (max-width: $screen-sm-max) {
    max-width: 90%;
  }
  @media (max-width: 420px) {
    margin: 15px;
  }
  h1 {
    text-align: center;
    margin: 4px auto 24px;
    .xlg {
      font-size: 150%;
      font-weight: 600;
      letter-spacing: -0.5px;
    }
  }
  h5 {
    border-top: 1px dashed #ddd;
    padding-top: 20px;
  }
  .btn-block {
    margin-bottom: 20px;
  }
  .checkbox.pull-left {
    margin-top: 0;
  }
  .btn-full {
    background: transparent;
    border-top: 1px solid $table-border-color;
    .btn-group .btn {
      margin: 0;
    }
  }
}

.form-2col { // wide layout with 2 columns
  max-width: 970px;
  margin-bottom: 50px;
  h1 {
    text-align: left;
  }
  .form-container {
    border-left: 1px solid $gray-light;
    @media (max-width: $screen-sm-max) {
      border: none;
    }
  }
  @media (max-width: $screen-sm-max) {
    max-width: 90%;
    padding: 20px;
    .form-text {
      border-right: none;
      border-bottom: solid 1px $table-border-color;
      margin-bottom: 20px;
      padding-right: 0;
      margin-top: 0;
      h2 {
        margin-top: auto;
      }
    }
  }
  .form-inner { // forms in one column
    max-width: 460px;
    padding-left: 40px;
    margin: 0 auto;
    @media (max-width: $screen-sm-max) {
      padding-left: 0;
    }
  }
}

.form-group { // minimize spacing between fields on smaller screens
  @media (max-width: $screen-md-max) {
    margin-bottom: 14px;
  }
}

.panel.form-narrow {
    padding: 0;
    .panel-body {
      padding: 30px 40px 10px 40px;
    }
}

/* =S3 avatar image-upload work
-------------------------------------------------------------- */
#preview-box {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#avatar-preview {
  width: auto;
  height: 150px;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.s3-buckets > ul.errors {
  color: $state-danger-text;
  background-color: $state-danger-bg;
  border-radius: 3px;
}

#profile .s3-buckets > .file-links > .file-link {
  display: none;
}
