/* =Registration area & profile pages
-------------------------------------------------------------- */

body.tinted-bg { // photo for login and register forms
  background: linear-gradient(rgba(44, 74, 165, 0.55), rgba(44, 74, 165, 0.55)), url("/static/img/land.jpg");
  background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.form-narrow, .narrow {
  margin: 0 auto 20px;
  max-width: 500px;
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #ddd;
  padding: 30px 40px;
  margin-top: 30px;
  z-index: 100;
  position: relative;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  h1 {
    text-align: center;
    margin: 4px auto 24px;
    .xlg {
      font-size: 150%;
      font-weight: 600;
      letter-spacing: -0.5px;
    }
  }
  h5 {
    border-top: 1px dashed #ddd;
    padding-top: 20px;
  }
  .btn-block {
    margin-bottom: 20px;
  }
  .checkbox.pull-left {
    margin-top: 0;
  }
  .btn-full {
    background: transparent;
    border-top: 1px solid $table-border-color;
    text-align: center;
    padding: 20px;
    clear: both;
    margin: 20px 0;
    .btn {
      min-width: 100px;
    }
    .btn-group .btn {
      margin: 0;
    }
  }
}

.form-2col { // wide layout with 2 columns
  max-width: 970px;
  padding: 40px;
  margin-bottom: 50px;
  .form-text {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    border-right: solid 1px $table-border-color;
    h1 {
      text-align: left;
    }
    h2 {
      font-size: 24px;
      font-weight: 500;
      margin-top: 40px;
    }
  }
   .form-inner { // forms in one column
    max-width: 460px;
    padding-left: 40px;
    margin: 0 auto;
  }
}

@media (max-width: $screen-md-max) {
  .form-narrow { 
    margin-top: 15px;
    padding: 10px 15px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .form-narrow .btn-block {
    margin-bottom: 8px;
  }
}

@media (max-width: $screen-sm-max) {
  .form-2col { // wide layout with 2 columns
    padding: 20px;
    .form-text {
      border-right: none;
      border-bottom: solid 1px $table-border-color;
      margin-bottom: 20px;
      padding-right: 0;
      margin-top: 0;
      h2 {
        margin-top: auto;
      }
    }
     .form-inner { // forms in one column
      padding-left: 0;
    }
  }
}

@media (max-width: 400px) {
  .form-narrow {
    margin: 15px;
  }
  body.tinted-bg {
    background: $body-bg;
  }
}
