/* =Resources
-------------------------------------------------------------- */

div.resource-text {
  word-break: break-all;
}

ul.resource-actions > li {
  padding: 4px 12px;
  margin: 12px 0;
  &:first-child {
    padding-left: 0;
  }
  &+li {
    border-left: 1px solid $table-border-color;
  }
}
