/* =Resources
-------------------------------------------------------------- */

 div.resource-60 {
 }

div.resource-text {
  display: table-cell;
  margin-left: 80px;
  word-wrap: break-word;
}

.panel-body h4 {
  font-weight: 500;
  margin-top: 0;
  color: $gray-darker;
}

ul.resource-actions > li {
  padding: 4px 12px;
  margin: 12px 0;
  &:first-child {
    padding-left: 0;
  }
  &+li {
    border-left: 1px solid $table-border-color;
  }
}
