/* =For styles only found in single project or organization pages
-------------------------------------------------------------- */

/* =Page header default
-------------------------------------------------------------- */

.page-header { // navy band on index pages
  background: $brand-darkblue;
  background-color: $brand-primary;
  background: -moz-linear-gradient(top, $brand-darkblue 0%, $brand-primary 70%);
  background: -webkit-linear-gradient(top, $brand-darkblue 0%,$brand-primary 70%);
  background: linear-gradient(to bottom, $brand-darkblue 0%,$brand-primary 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-darkblue', endColorstr='$brand-primary',GradientType=0 );
  margin: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  min-height: 300px;
  .top-btn {
    margin-top: 0;
  }
  .btn-add {
    margin-right: 20px;
  }
}

.page-title { // page title
  padding-top: 2px;
  padding-bottom: 24px;
  clear: both;
  h1, h2 {
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    position: relative;
    margin-top: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
    max-width: 80%;
    &.short { // provides room for admin buttons on right
      width: 60%;
    }
    .org-name {
      font-size: 14px;
      display: block;
      padding-bottom: 2px;
      text-transform: uppercase;
    }
    a {
      color: $brand-lightblue;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .page-header {
    padding-top: 24px;
  }
}

@media (max-width: $screen-xs-max) {
  .page-title h1, .page-title h2, h1, h2 {
    font-size: 1.8em;
  }
  .page-title h2, h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
}

@media (min-width: $screen-md-min) {
  .page-header { // navy band on index pages
    .page-title h1, .page-title h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* =Page header single project or organizations
-------------------------------------------------------------- */

#project-single .page-header,
#organization-single .page-header { // navy band on pages for single project or organization
  background: $brand-darkblue;
  height: 110px;
  min-height: 110px;
  border-bottom: solid 1px #fff;
  margin: 0;
  padding-top: 18px;
  position: fixed;
  top: $header-height;
  z-index: 999;
  div > a {
    color: $brand-lightblue;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
  .index-link {
    padding: 4px 10px;
    margin-right: 10px;
    border: 1px solid $brand-lightblue;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    position: absolute;
    top: 55px;
    display: inline-block;
    &:hover,
    &:focus {
      @include button-variant(#fff, lighten($btn-blue-bg, 5%), #fff);
      transition: all 0.3s ease 0s;
    }
  }
  .page-title {
    padding-top: 14px;
    padding-bottom: 8px;
  }
  h1, h2 {
    margin-left: 54px;
    padding-bottom: 8px;
  }
  .top-btn {
    margin-top: 18px;
  }
  .btn-add {
    margin-right: 14px;
  }
}

#organization-single .page-header {
  padding-top: 35px; // offset to match project
  .top-btn {
    margin-top: 1px;
  }
}

@media (max-width: $screen-sm-max) {
  #project-single .page-header,
  #organization-single .page-header {
    overflow: visible;
    padding-top: 8px;
    padding-bottom: 0;
    border-bottom: solid 1px $brand-darkerblue;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    min-height: 74px;
    .more-menu {
      width: 36px;
      height: 36px;
    }
    h1, h2 {
        margin-left: 14px;
    }
  }
  #project-single .page-header .page-title,
  #organization-single .page-header .page-title {
    padding-bottom: 0;
  }
}

@media (max-width: $screen-xs-max) {
  #project-single .page-header,
  #organization-single .page-header {
    .more-menu {
      width: 24px;
    }
  }
}

/* =Sidebar for single project or organization navigation
-------------------------------------------------------------- */

#sidebar {
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 990;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  background-color: $brand-darkblue;
  color: $brand-lightblue;
  text-align: center;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  .nav-sidebar {
    width: 100%;
    position: relative;
    > li {
      overflow-y: visible;
      position: relative;
      cursor: pointer;
      display: block;
      text-align: center;
      border-bottom: solid 1px $brand-darkerblue;
      a {
        width: 100%;
        height: 100%;
        position: relative;
        color: $brand-lightblue;
        border-left: 7px solid $brand-darkerblue;
        &:focus, &:hover {
          @include button-variant(#fff, darken($btn-blue-bg, 2%), $brand-gold);
          transition: all 0.3s ease 0s;
          .icon { // show active icon
            background-position: -48px 0;
          }
        }
        .icon {
          margin: 0 auto;
          height: 48px;
          width: 48px;
          position: relative;
          background-position: 0 0;
          display: block;
        }
        .title {
          display: block;
          position: relative;
          margin: 0;
          font-size: 11px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }
}

#sidebar {
  li.overview {
    .icon { 
      background-image: url('/static/img/icon-overview.png');
    }
  }
  li.search {
    .icon { 
      background-image: url('/static/img/icon-search.png');
    }
  }
  li.map {
    .icon { 
      background-image: url('/static/img/icon-map.png');
    }
  }
  li.parties {
    .icon { 
      background-image: url('/static/img/icon-parties.png');
    }
  }
  li.resources {
    .icon { 
      background-image: url('/static/img/icon-resources.png');
    }
  }
  li.reports {
    .icon { 
      background-image: url('/static/img/icon-reports.png');
    }
  }
  li.activity {
    .icon { 
      background-image: url('/static/img/icon-activity.png');
    }
  }
  li.projects {
    .icon { 
      background-image: url('/static/img/icon-projects.png');
    }
  }
  li.members {
    .icon { 
      background-image: url('/static/img/icon-members.png');
    }
  }
}

#sidebar.search li.search,
#sidebar.overview li.overview,
#sidebar.map li.map,
#sidebar.parties li.parties,
#sidebar.resources li.resources,
#sidebar.reports li.reports,
#sidebar.activity li.activity,
#sidebar.projects li.projects,
#sidebar.members li.members { // show active icon
  a {
    border-left: 7px solid $brand-gold;
    .icon { // show active icon
      background-position: -96px 0;
    }
    .title {
      color: #fff;
    }
  }
}

#sidebar-search-box { // open search box from sidebar
  position: absolute;
  width: 290px;
  top: 0;
  left: 100px;
  z-index: 980;
  background: $brand-darkblue;
  overflow: hidden;
  transition: left 0.5s;
  &.disabled {
    left: 100px - 290px;
  }
  form {
    width: 290px;
    padding: 25.5px 15px;
  }
  input {
    width: 80%;
    height: 34px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button {
    height: 34px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#search-form {
  input {
    width: 80%;
    margin-right: 10px;
  }
}

@media (max-width: $screen-sm-max) {
  #sidebar {
    position: relative;
    width: 100%;
    background-color: $brand-darkblue;
    height: 70px;
    overflow: hidden;
    .nav-sidebar {
      position: relative;
      border-top: 3px solid $brand-darkerblue;
      > li {
        display: inline-block;
        border-left: 0;
        width: 20%;
        border-right: solid 1px $brand-darkerblue;
        border-bottom: 0;
        margin-top: -3px;
        &:last-child {
          border-right: 0;
        }
        a {
          width: 100%;
          height: 100%;
          position: relative;
          color: $brand-lightblue;
          border-left: 0;
          border-top: 3px solid $brand-darkerblue;
          padding: 10px;
          &:focus, &:hover {
            .icon { // show active icon
              background-position: -56px -60px;
            }
          }
          .icon {
            height: 32px;
            width: 32px;
            background-position: -8px -60px;
          }
        }
      }
    }
  }
  #sidebar.search li.search,
  #sidebar.overview li.overview,
  #sidebar.map li.map,
  #sidebar.parties li.parties,
  #sidebar.resources li.resources,
  #sidebar.reports li.reports,
  #sidebar.activity li.activity,
  #sidebar.projects li.projects,
  #sidebar.members li.members { // show active icon
    a {
      border-top: 3px solid $brand-gold;
      border-left: 0;
      .icon { // show active icon
        background-position: -108px -60px;
      }
    }
  }
  #sidebar-search-box {
    position: absolute;
    width: 100%;
    height: 54px;
    top: 70px;
    left: 0;
    transition: top 0.5s;
    border-top: 1px solid #fff;
    &.disabled {
      left: 0;
      top: 70px - 54px;
    }
    form {
      padding: 10px 15px;
      width: auto;
    }
  }
}

@media (max-width: 400px) {
  #sidebar {
    height: 60px;
    .nav-sidebar > li {
      width: 20%; // 5 tabs
      a {
        padding: 12px 0;
        .title {
          display: none;
        }
      }
    }
  }
  #sidebar-search-box {
    top: 60px;
    &.disabled {
      top: 60px - 54px;
    }
  }
}

/* =Search results page
-------------------------------------------------------------- */

#waiting-results {
  padding: 20px;
  img {
    display: block;
    margin: auto;
  }
}

#search-results.table {
  h4 {
    margin-bottom: 12px;
  }
  img.thumb-60 {
    margin-left: 24px;
  }
  img.thumb-60 ~ table {
    width: calc(100% - 100px);
  }
  table.entity-attributes {
    background: transparent;
    border: 0;
    td {
      border: 0;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}

/* =Stats on overview page
-------------------------------------------------------------- */

.stats {
  li {
    width: 30%;
    border-right: solid 1px $table-border-color;
    text-align: center;
    .num {
      font-size: 28px;
      font-size: 2.4vw;
      font-weight: 600;
      font-family: $font-family-sans-serif-alt;
      letter-spacing: -1px;
    }
    &:last-child {
      border-right: none;
    }
  }
}

@media (max-width: $screen-md-min) {
 .stats li .num {
    font-size: 36px;
  }
}

@media (max-width: $screen-sm-min) {
 .stats li .num {
    font-size: 28px;
  }
}

@media (max-width: $screen-xs-min) {
 .stats li .num {
    font-size: 21px;
  }
}

/* =Map location details in right column
-------------------------------------------------------------- */

.content-single .detail {
  h2, h3, h4 {
    span {
      font-size: 11px;
      color: $gray-medium;
      display: block;
      text-transform: uppercase; 
      padding-bottom: 2px;
    }
  }
}

.content-single.detail-hidden {
  .detail {
    left: 500px;
    transition: all 0.5s ease-in-out;
  }

  #project-map {
    width: 100%;
  }
}


.content-single {
  .detail {
    left: 0px;
    h2 {
      span {
        font-size: 11px;
        color: $gray-medium;
        display: block;
        text-transform: uppercase; 
        padding-bottom: 2px;
      }
    }
    .btn-group {
      margin-left: auto;
      margin-right: auto;
    }
    .top-add {
      margin-bottom: -30px;
    }
    transition: all 0.5s ease-in-out;
  }
  #project-map {
    // width: 100%;
    h2 {
    padding-bottom: 0;
    }
    .btn-wrap { // button
      padding: 4px 4px 5px;
      .btn-block {
        margin: 0 auto;
      }
    }
    transition: all 0.5s ease-in-out;
  }
}

