/* =Icons active in subnav
-------------------------------------------------------------- */

#sidebar {
  li.overview {
    .icon { 
      background-image: url('/static/img/icon-overview.png');
    }
  }
  li.map {
    .icon { 
      background-image: url('/static/img/icon-map.png');
    }
  }
  li.resources {
    .icon { 
      background-image: url('/static/img/icon-resources.png');
    }
  }
  li.reports {
    .icon { 
      background-image: url('/static/img/icon-reports.png');
    }
  }
  li.activity {
    .icon { 
      background-image: url('/static/img/icon-activity.png');
    }
  }
  li.projects {
    .icon { 
      background-image: url('/static/img/icon-projects.png');
    }
  }
  li.members {
    .icon { 
      background-image: url('/static/img/icon-members.png');
    }
  }
}

#sidebar.overview li.overview,
#sidebar.map li.map,
#sidebar.resources li.resources,
#sidebar.reports li.reports,
#sidebar.activity li.activity, 
#sidebar.projects li.projects,
#sidebar.members li.members { // show active icon
  a {
    border-left: 7px solid $brand-gold;
  }
  .icon { // show active icon
    background-position: -96px 0;
  }
  .title {
    color: #fff;
  }
}
