.public-private-widget > label {
    display: none;
}

.public-private-widget {
    & > div {
        width: 60px;
        float: left;
        text-align: center;
        margin-right: 15px;
        position: relative;
        top: 22px;
    }
    & > div:nth-child(2) {
        width: 40px;
        text-align: right;
    }
    & > div:last-child {
        width: 40px;
        text-align: left;
    }
}
