.public-private-widget {
  min-height: 70px;
  > label {
    display: none;
  }
  & > div {
    width: 60px;
    float: left;
    text-align: center;
    margin-right: 15px;
    position: relative;
    top: 22px;
  }
  & > div:nth-child(2) {
    width: 40px;
    text-align: right;
  }
  & > div:last-child {
    width: 40px;
    text-align: left;
  }
}

@media (max-width: $screen-xs-max) {
  .public-private-widget {
    & > div {
        top: 0;
    }
  }
}

.ui-datepicker {
  z-index: 2000 !important;
}