/* =Wizard css
-------------------------------------------------------------- */

.wizard {
  display: inline-block;
  width: 210px;
  > ul {
    position: relative;
    display: table;
    width: 100%;
    margin: 0 0 20px 0;
    list-style: none;
    padding: 0;
    > li {
      display: table-cell;
      width: 1%;
      text-align: center;
      a {
        position: relative;
        cursor: default;
        display: block;
        opacity: 1;
        color: #666;
        -moz-opacity: 1;
        text-decoration: none;
        &:before {
          position: absolute;
          z-index: 4;
          top: 20px;
          left: 0;
          width: 100%;
          height: 4px;
          content: '';
          background: #ccc;
        }
        .wizard-step {
          font-size: 16px;
          line-height: 42px;
          position: relative;
          z-index: 5;
          display: block;
          width: 40px;
          height: 40px;
          margin: 0 auto 5px;
          cursor: default;
          text-align: center;
          color: #fafafa;
          border-radius: 100px;
          background: #ccc;
        }
        .wizard-description {
          font-size: 13px;
          font-weight: bold;
          opacity: .60;
          -moz-opacity: .60;
          font-family: 'Roboto Condensed', sans-serif;
          text-transform: uppercase;
          opacity: 0.8;
          font-weight: 500;
          letter-spacing: 0;
        }
      }
    }
    > li:first-child a:before {
      left: 50%;
    }
    > li:last-child a:before {
      right: 50%;
      left: auto;
      width: 50%;
    }
  }
}

#project-wizard .wizard {
  width: 270px;
}

.wizard > ul > li.enabled a .wizard-step {
  background: $brand-primary;
}
.wizard > ul > li a.disabled .wizard-step {
  background: #ccc;
}
.msgBox {
  display: none;
}
.loader {
  display: none;
}
.actionBar {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0 0;
  border-top: #ddd solid 1px;
}
.actionBar a.btn {
  float: right;
  margin-left: 10px;
}

#project-wizard {
  .main-wizard {
    padding: 24px;
  }
  .col-md-8.map {
    padding-left: 0;
  }
  h1 {
    color: $brand-darkblue;
    text-shadow: none;
    margin: 14px auto;
    font-size: 30px;
    width: auto;
  }
  h2 {
    color: $brand-darkblue;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 14px;
    text-shadow: none;
  }
  h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 300;
    letter-spacing: 0;
  }
  .page-title {
    padding-bottom: 0;
    padding-top: 0;
  }
  div#org-wrapper {
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .panel {
    clear: both;
    .panel-body {
      h3 {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px $gray-light;
      }
    }
    .panel-buttons { // buttons at bottom of panels containing forms
      text-align: right;
      .btn {
        min-width: 140px !important;
      }
      .btn-link {
        min-width: 60px !important;
      }
    }
  }
}

.btn-group.btn-reverse {
  > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  > .btn:last-child:not(:first-child), > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn + .btn {
    margin-left: 0;
  }
}

@media (max-width: $screen-xs-max) {
  .wizard {
    width: 150px;
    > ul {
      margin: 0;
      > li a {
        &:before {
          top: 16px;
        }
        .wizard-step {
          font-size: 16px;
          line-height: 36px;
          width: 36px;
          height: 36px;
        }
      }
    }
  }
  #project-wizard {
    .panel-buttons .btn {
      width: 100%;
      margin-bottom: 10px;
    }
    .panel-buttons .btn-group {
      width: 100%;
      .btn {
        max-width: 50%;
        min-width: 50% !important;
      }
    }
  }
}

#configure-defaults-wizard {
    .padded {
        margin-left: 1em;
    }
}
