{% extends "organization/project_wrapper.html" %}
{% load i18n %}
{% load staticfiles %}

{% block page_title %}{% trans "Search" %} | {% endblock %}
{% block left-nav %}search{% endblock %}

{% block content %}
<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Search" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <form action="#" id="search-form" class="inline">
              {% csrf_token %}
              <div class="form-group col-md-9">
                <label class="control-label sr-only">{% trans "Search within project for" %}</label>
                <div class="form-row">
                  <input type="search" id="search-input" class="form-control input-lg" value="{{ search_query }}">
                  <button id="search-button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-search"></span></button>
                  <span id="search-clear" class="glyphicon glyphicon-remove-circle"></span>
                </div>
                <p class="small help-block">
                  {% blocktrans %}
                  e.g., <kbd>Parcel</kbd>, <kbd>John White</kbd>; <a id="search-guidelines-link">more search guidelines</a>
                  {% endblocktrans %}
                </p>
                <div id="search-guidelines" class="hidden small">
                  {% blocktrans %}
                  <ul>
                    <li>Review your wording, make sure that there aren’t any typos in your search query</li>
                    <li>If no results match your query, try removing some search terms (<kbd>John</kbd>, instead of <kbd>John White</kbd>)</li>
                    <li>Search results are limited to a maximum of {{ max_num_results }} entries</li>
                  </ul>
                  {% endblocktrans%}
                </div>
              </div>
            </form>
            <div id="last-update" class="hidden col-md-3 text-right">
              <p class="small help-block">{% trans "Last updated on" %} <span id="index-timestamp"></span></p>
            </div>
          </div>
          <div class="row">
            <div id="waiting-results" class="hidden"><img src="{% static 'img/loading.gif' %}"></div>
            <div id="failed-results" class="hidden col-md-9">
              <h4>{% trans "We’re sorry, search is currently not available" %}</h4>
            </div>
            <div id="no-results" class="hidden col-md-9">
              <h4>{% trans "We’re sorry, we couldn’t find any results for:" %} <strong><span id="failed-query-string"></span></strong></h4>
              <div class="divider-thick"></div>
              <p><strong>{% trans "Search tips:" %}</strong></p>
              <ul>
                <li>{% trans "Double check your spelling for typos." %}</li>
                <li>{% trans "Use fewer keywords." %}</li>
                <li>{% trans "Refer to our search guidelines for more tips." %}</li>
              </ul>
            </div>
            <div id="results" class="hidden col-md-9">
              {% if is_allowed_download %}
              <a id="export-btn" class="btn btn-default btn-action btn-sm pull-right" href="#search_export_modal" data-toggle="modal">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {% trans "Export" %}
              </a>
              {% endif %}
              <h4>
                {% blocktrans %}
                Showing <span id="total-results"></span> result(s) for <strong><span id="query-string"></span></strong>
                {% endblocktrans %}
              </h4>
              <table id="search-results" class="table table-hover" data-paging-type="simple">
                <thead class="hidden"><tr><th>{% trans "Search results" %}</th></tr></thead>
                <tbody><tr><td>&nbsp;</td></tr></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
'use strict';

function performSearch(query, updateDocumentUrl) {

  $('#failed-results').addClass('hidden');
  $('#no-results').addClass('hidden');
  $('#results').addClass('hidden');

  if (query === '') return;

  if (updateDocumentUrl) {
      history.pushState(history.state, null,
      window.location.href.split('?')[0] + '?q=' + encodeURIComponent(query)
      );
  }

  $('#waiting-results').removeClass('hidden');
  $('#search-results').DataTable().destroy();
  $('#search-results').DataTable({
    autoWidth: false,
    conditionalPaging: true,
    dom: 't<"table-pagination"p><"table-entries"i><"table-num"l>',
    destroy: true,
    ordering: false,
    serverSide: true,
    ajax: {
      url: '{% url "async:search:search" object.organization.slug object.slug %}',
      method: 'POST',
      headers: {'X-CSRFToken': $('#search-form input[name="csrfmiddlewaretoken"]')[0].value},
      data: {q: query},
    },
    drawCallback: drawHandler,
    language: {
      info: 'Showing _START_ - _END_ of _TOTAL_',
      lengthMenu: '<select class="form-control input-sm">'+
                  ' <option value="10">{% trans "10 per page" %}</option>'+
                  ' <option value="25">{% trans "25 per page" %}</option>'+
                  ' <option value="50">{% trans "50 per page" %}</option>'+
                  ' <option value="100">{% trans "100 per page" %}</option>'+
                  '</select>',
      paginate: {
        next: '<span class="glyphicon glyphicon-triangle-right"></span>',
        previous: '<span class="glyphicon glyphicon-triangle-left"></span>',
        first: 'First',
        last: 'Last',
      },
    }
 }).draw();
}

function drawHandler(settings) {

  var t = this.api();
  var response = t.ajax.json();

  $('#waiting-results').addClass('hidden');

  // Search error encountered
  if (response.error) {
    $('#failed-results').removeClass('hidden');
    $('#last-update').addClass('hidden');
    return;
  }
  $('#failed-results').addClass('hidden');

  // Show timestamp
  var timestamp = response.timestamp;
  timestamp = timestamp.replace(/T/, ' ');
  timestamp = timestamp.replace(/:\d\d\.\d+Z/, ' UTC');
  $('#last-update').removeClass('hidden');
  $('#index-timestamp').text(timestamp);

  // No results
  if (response.data.length === 0) {
    $('#no-results').removeClass('hidden');
    $('#results').addClass('hidden');
    $('#failed-query-string').text($('#search-input')[0].value);
  }

  // With results
  else {
    $('#no-results').addClass('hidden');
    $('#results').removeClass('hidden');
    $('#total-results').text(response.recordsTotal);
    $('#query-string').text($('#search-input')[0].value);
  }
}

window.addEventListener('load', function () {

  // Catch the specific error when ES is not available;
  // otherwise, alert the message as per DataTable's default behavior
  $.fn.dataTable.ext.errMode = function(settings, techNote, message) {
    if (message !== 'DataTables warning: table id=search-results - unavailable') {
      alert(message);
    }
  };

  // Toggle display of search guidelines
  $('#search-guidelines-link').bind('click', function(e) {
    $('#search-guidelines').toggleClass('hidden');
  });

  // If URL contains a search query, perform search
  var query = RegExp('[?&]q=([^&]*)').exec(window.location.search);
  query = query && decodeURIComponent(query[1].replace(/\+/g, ' '));
  if (query) {
    $('#search-input')[0].value = query;
    $('#search-clear').addClass('search-clear-show');
    $('#search_export_form_query')[0].value = query;
    performSearch(query, false);
  } else {
    $('#search-clear').removeClass('search-clear-show');
    $("#search-input").focus();
  }

  // Perform search when the search form is submitted
  $('#search-form').bind('submit', function(e) {
    var query = $('#search-input')[0].value;
    $('#search_export_form_query')[0].value = query;
    performSearch(query, true);
    return false;
  });

  // Update display of search-box clear option
  $(document).on('input', function() {
    if ($('#search-input').val()) {
      $('#search-clear').addClass('search-clear-show');
    } else {
      $('#search-clear').removeClass('search-clear-show');
    }
  });
  $('#search-clear').click(function(){
    $('#search-input').val('');
    $('#search-clear').removeClass('search-clear-show');
  });
  // Focusing search-input on search-button click if it is empty
  $('#search-button').click(function(){
    if ($('#search-input').val().length === 0) {
      $("#search-input").focus();
    }
  });
});

</script>
{% endblock %}

{% block form_modal %}
<div class="modal fade" id="search_export_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="search_export_form" action="{% url 'async:search:export' object.organization.slug object.slug %}" method="POST">
        {% csrf_token %}
        <input id="search_export_form_query" type="hidden" name="q" value="">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title">{% trans "Export search results" %}</h3>
        </div>
        <div class="modal-body">
          <p>{% trans "Select your desired file format" %}</p>
          <ul class="list-unstyled spacing-lg">
            <li class="radio">
              <label>
                <input type="radio" name="type" id="data_shp" value="shp">
                {% trans "SHP" %}
                <small>{% trans "A zip file containing shape files for result locations, relationships, and parties." %}</small>
              </label>
            </li>
            <li class="radio">
              <label>
                <input type="radio" name="type" id="data_xls" value="xls">
                {% trans "XLS" %}
                <small>{% trans "A single XLS spreadsheet containing result locations, relationships, and parties." %}</small>
              </label>
            </li>
            <li class="radio">
              <label>
                <input type="radio" name="type" id="data_res" value="res">
                {% trans "Resources" %}
                <small>{% trans "A zip file containing result resources." %}</small>
              </label>
            </li>
            <li class="radio">
              <label>
                <input type="radio" name="type" id="data_all" value="all" checked>
                {% trans "All data" %}
                <small>{% trans "A zip file containing result data XLS and SHP files and resources." %}</small>
              </label>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary pull-right" role="button">
            {% trans "Export" %}
          </button>
          <button type="button" class="btn btn-link cancel" data-dismiss="modal">
            {% trans "Cancel" %}
          </button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
