<div class="form-horizontal">
	<h3>Location</h3>
	<div class="form-group pdf_form_fields">
		<label class="col-left control-label"><strong>Longitude</strong></label>
		<div class="col-right">
			<input class="form-control" maxlength="100" name="longitude" type="text">
		</div>
		<label class="col-left control-label"><strong>Latitude</strong></label>
		<div class="col-right">
			<input class="form-control" maxlength="100" name="latitude" type="text">
		</div>
	</div>
</div>
<div class="hr"></div>
