{% if question.name not in exclude_geo_fields %}

<div class="form-group col-md-10 pdf_form_fields">
    <label class="control-label"><strong>{% if question.label_xlat.en %} {{question.label_xlat.en}} {% else %}{{ question.name}}{% endif %}</strong><i>(Select one option)</i></label>
    <br/>
    {% for option in question.options.all %}
        <div class="form-group col-md-8">
            <input type='checkbox' class="form-control" name='{{ option.name }}'>
            <label>{% if option.label_xlat.en %} {{option.label_xlat.en}} {% else %}{{ option.name}}{% endif %}</label>
        </div>
    {% endfor %}
</div>

{% endif %}
