{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block page_title %}{% trans "Edit resource" %} | {% endblock %}
{% block left-nav %}resources{% endblock %}

{% block extra_script %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resources: Edit" %}</h2>
      </div>
      <form method="POST" data-parsley-validate>
      {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>
              <span class="entity">{% trans "Resource" %}</span>
              {{ resource.name }}
              {% if resource.archived %}
              <span class="label label-danger">{% trans "Deleted" %}</span>
              {% endif %}
            </h2>
            <div class="row">
              <div class="media col-md-6">
                <div class="media-left">
                  <img src="{{ resource.thumbnail }}" class="thumb-128">
                </div>
                <div class="media-body">
                <p class="media-heading">{{ resource.description }}</p>
                <table class="table table-condensed table-media">
                  <tr>
                    <td class="small text-nowrap">{% trans "File name" %}:</td>
                    <td class="small name-break">{{ resource.original_file }}</td>
                  </tr>
                  <tr>
                    <td class="small text-nowrap">{% trans "Uploaded on" %}:</td>
                    <td class="small">{% blocktrans with date=resource.last_updated user=resource.contributor.get_display_name %}{{ date }} by {{ user }}{% endblocktrans %}</td>
                  </tr>
                </table>
              </div>
              </div>
            </div>
            <hr>
            {% include "resources/form.html" %}
          </div>
          <div class="panel-footer panel-buttons">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{{ cancel_url }}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
