{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block page_title %}{% trans "Edit resource" %} | {% endblock %}
{% block left-nav %}resources{% endblock %}

{% block extra_script %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resources: Edit" %}</h2>
      </div>
      <form method="POST" data-parsley-validate>
      {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>
              <span class="entity">{% trans "Resource" %}</span>
              {{ resource.name }}
              {% if resource.archived %}
              <span class="label label-danger">{% trans "Deleted" %}</span>
              {% endif %}
            </h2>
            {% include "resources/form.html" %}
          </div>
          <div class="panel-footer panel-buttons">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{{ cancel_url }}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
