{% load i18n %}
{% load widget_tweaks %}

<div class="row">
  <div class="col-md-6">
    {% csrf_token %}
    <div class="form-group{% if form.file.errors %} has-error{% endif %}">
      <div class="resource-60">
        <img src="{{ resource.thumbnail }}" class="thumb-128">
      </div>
      <div class="resource-text">
        <label class="control-label required" id="form_file_label" style="display: none;" for="{{ form.file.id_for_label }}">{% trans "Select the file to upload" %}</label>
        <div class="no-well file-well" id="file_well">
          {{ form.file }}
          <p class="help-block" style="display: none;">{% trans "Accepted file types: pdf, mp3, mp4, doc, docx, jpg, png, gpx, csv" %}</p>
        </div>
      </div>
      <div class="error-block">{{ form.file.errors }}</div>
    </div>
    <hr class="divider">
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
      <label class="control-label" for="{{ form.name.id_for_label }}">{% trans "Name" %}</label>
      {% render_field form.name class+="form-control" data-parsley-required="true" data-parsley-sanitize="1" %}
      <div class="error-block">{{ form.name.errors }}</div>
    </div>
    <div class="form-group{% if form.description.errors %} has-error{% endif %}">
      <label class="control-label" for="{{ form.description.id_for_label }}">{% trans "Description" %}</label>
      {% render_field form.description class+="form-control" data-parsley-sanitize="1" %}
      <div class="error-block">{{ form.description.errors }}</div>
    </div>
    <input type="hidden" name="original_file" value="{{ form.original_file.value }}">
    <input type="hidden" name="mime_type" value="{{ form.mime_type.value }}">
  </div>
</div>

<script>

window.addEventListener('load', function () {

  $(".file-remove").click(function() {
    $("#file_well").removeClass("no-well");
    $("#file_well").addClass("well");
    $(".resource-60").hide();
    $(".form_file_label").show();
    $(".help-block").show();
  });
  
});

</script>