{% load i18n %}
{% load widget_tweaks %}

<div class="row">
  <div class="col-md-6">
    {% csrf_token %}
    <div class="form-group{% if form.file.errors %} has-error{% endif %}">
      <label for="{{ form.file.id_for_label }}">{% trans "Select the file to upload" %}</label>
      <label class="pull-right control-label">{{ form.file.errors }}</label>
      <div class="well file-well">
        {{ form.file }}
        <p class="help-block">Accepted file types: pdf, mp3, mp4, doc, docx, jpg, png, xml (gpx)</p>
      </div>
    </div>
    <hr class="divider">
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
      <label for="{{ form.name.id_for_label }}">{% trans "Name" %}</label>
      <label class="pull-right control-label">{{ form.name.errors }}</label>
      {% render_field form.name class+="form-control" %}
    </div>
    <div class="form-group{% if form.description.errors %} has-error{% endif %}">
      <label for="{{ form.description.id_for_label }}">{% trans "Description" %}</label>
      <label class="pull-right control-label">{{ form.description.errors }}</label>
      {% render_field form.description class+="form-control" %}
    </div>
    <input type="hidden" name="original_file" value="{{ form.original_file.value }}">
    <input type="hidden" name="mime_type" value="{{ form.mime_type.value }}">
  </div>
</div>
