{% load i18n %}

<div class="modal-backdrop">
  <div class="modal show" data-backdrop="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
            <a class="close" href="{{ cancel_url }}{{ cancel_url_hash }}">
              <span aria-hidden="true">&times;</span>
            </a>
            <h3 class="modal-title">{% trans "Upload new resource" %}</h3>
            {% if project_has_resources %}
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="{{ add_lib_url }}" role="tab">{% trans "Add from library" %}</a></li>
              <li role="presentation" class="active"><a href="" role="tab">{% trans "Upload new" %}</a></li>
            </ul>
            {% endif %}
          </div>

          <div class="modal-body modal-6-12">
            {% include "resources/form.html" %}
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-right" name="submit">
              {% trans "Save" %}
            </button>
            <a class="btn btn-link cancel" href="{{ cancel_url }}{{ cancel_url_hash }}">
              {% trans "Cancel" %}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
