{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resource detail" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="{{ resource.thumbnail }}" class="thumb-128">
          <h4>{{ resource.name }}</h4>
          <p>{{ resource.description }}<br><strong>{{ resource.file_name }}</strong></p>
          <p class="small">{% blocktrans with date=resource.last_updated user=resource.contributor.full_name %}Added on {{ date }} by {{ user }}{% endblocktrans %}</p>
          <ul class="list-inline resource-actions">
            <li>
              <a href="{% url 'resources:project_edit' object.organization.slug object.slug resource.id %}">Edit</a>
            </li>
            <li>
              {% if resource.archived %}
              <a href="#unarchive_resource_confirm" data-toggle="modal">Unarchive</a>
              {% else %}
              <a href="#archive_resource_confirm" data-toggle="modal">Archive</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block modals %}

<div class="modal fade" id="archive_resource_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Archive this resources" %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you want to archive this resource?" %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link cancel" data-dismiss="modal">
          {% trans "Cancel" %}
        </button>
        <a href="{% url 'resources:archive' object.organization.slug object.slug resource.id %}?next={{ request.META.HTTP_REFERER }}"  class="btn btn-primary archive-final" role="button">
          {% trans "Yes, archive this resource" %}
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="unarchive_resource_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{% trans "Unarchive this resource" %}</h4>
      </div>
      <div class="modal-body">
        <p>
          {% trans "Are you sure you want to unarchive this resource?" %}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link cancel-u" data-dismiss="modal">
          {% trans "Cancel" %}
        </button>
        <a href="{% url 'resources:unarchive' object.organization.slug object.slug resource.id %}?next={{ request.META.HTTP_REFERER }}"  class="btn btn-primary unarchive-final" role="button">
          {% trans "Yes, unarchive this resource" %}
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
