{% extends "organization/project_wrapper.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}Add new resource | {% endblock %}
{% block left-nav %}resources{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resources: Add new" %}</h2>
      </div>
      <form method="POST">
      {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- Resources index -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="" role="tab">{% trans "From library" %}</a></li>
              <li role="presentation"><a href="{% url 'resources:project_add_new' object.organization.slug object.slug %}" role="tab">{% trans "Upload new" %}</a></li>
            </ul>

            <h3>{% trans "Select files from library" %}</h3>
            <p>{% trans "Resources in the library are able to be connected to locations, relationships, parties, and the project.  To add a connection, select the checkbox in the left column and select the 'Save' button.  If you would like to upload a new resource, select the 'Upload new' tab." %}<br /><br /></p>

            {% include 'resources/table_add_lib.html' %}
          </div>
          <div class="panel-footer panel-buttons">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'resources:project_list' object.organization.slug object.slug %}" class="btn btn-default">{% trans "Cancel" %}</a>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
