{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block page_title %}{% trans "Resources" %} | {% endblock %}
{% block left-nav %}resources{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resources" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="top-btn pull-right top-add">
            {% if has_unattached_resources %}
            <a class="btn btn-primary btn-sm" href="{% url 'resources:project_add_existing' project=object.slug organization=object.organization.slug %}">
            {% else %}
            <a class="btn btn-primary btn-sm" href="{% url 'resources:project_add_new' project=object.slug organization=object.organization.slug %}">
            {% endif %}
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Attach" %}</a>
          </div>
          {% include 'resources/table.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block form_modal %}
{% include 'resources/modal_unarchive.html' %}
{% endblock %}
