{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block page_title %}Resource detail: {{ resource.name }} | {% endblock %}
{% block left-nav %}resources{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resource detail" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="{{ resource.thumbnail }}" class="thumb-128">
          <h4>
            {{ resource.name }}
            {% if resource.archived %}
              <span class="label label-danger">{% trans "Deleted" %}</span>
            {% endif %}
          </h4>
          <p>{{ resource.description }}<br><strong>{{ resource.original_file }}</strong></p>
          <p class="small">{% blocktrans with date=resource.last_updated user=resource.contributor.full_name %}Added on {{ date }} by {{ user }}{% endblocktrans %}</p>
          <ul class="list-inline resource-actions">
            {% if can_edit %}
            <li>
              <a href="{% url 'resources:project_edit' object.organization.slug object.slug resource.id %}">{% trans "Edit resource" %}</a>
            </li>
            {% endif %}
            {% if resource.archived %}
            <li>
              <a href="#undelete_resource_confirm" data-toggle="modal">{% trans "Restore deleted resource" %}</a>
            </li>
            {% else %}
            {% if can_archive %}
            <li>
              <a href="#delete_resource_confirm" data-toggle="modal">{% trans "Delete resource" %}</a>
            </li>
            {% endif %}
            {% endif %}
          </ul>
        </div>
        <div class="panel-footer panel-buttons">
          <a href="{{ resource.file.url }}" class="btn btn-primary" download="{{ resource.original_file }}">{% trans "Download" %}</a>
        </div>
      </div>

      {% if not resource.archived %}
      <!-- Attachments table -->
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{% trans "Attached to" %}</h3>
          {% if attachment_list %}
          <table class="table table-hover datatable" data-paging-type="simple">
            <thead>
              <tr>
                <th class="col-md-2">{% trans "Entity Class" %}</th>
                <th class="col-md-8">{% trans "Entity Name or Description" %}</th>
                <th class="col-md-2">{% trans "Detach" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for attachment in attachment_list %}
              <tr class="linked" onclick="window.document.location='{{ attachment.object.ui_detail_url }}';">
                <td>{{ attachment.object.ui_class_name }}</td>
                <td>{{ attachment.object.name }}</td>
                <td>
                  <form method="POST" action="{% url 'resources:detach' object.organization.slug object.slug resource.id attachment.id %}?next={{ request.path }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm" role="button">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Detach" %}
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          {% trans "This resource is currently not attached to anything." %}
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block form_modal %}
{% url 'resources:archive' object.organization.slug object.slug resource.id as archive_url %}
{% url 'resources:unarchive' object.organization.slug object.slug resource.id as unarchive_url %}
{% include 'resources/modal_archive.html' %}
{% include 'resources/modal_unarchive.html' %}
{% endblock %}
