{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block page_title %}Resources | {% endblock %}
{% block left-nav %}resources{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resources" %}</h2>
        <div class="top-btn pull-right">
          <a class="btn btn-primary" href="{% url 'resources:project_add_existing' project=object.slug organization=object.organization.slug %}">
            <span class="glyphicon glyphicon-plus" aria-hidden=true></span> {% trans "Add" %}
          </a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          {% include 'resources/table.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
