{% extends "organization/project_wrapper.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block left-nav %}resources{% endblock %}

{% block content %}

<div class="col-md-11 col-md-offset-1 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resources: Add new" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- Resources index -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="" role="tab">{% trans "From library" %}</a></li>
            <li role="presentation"><a href="{% url 'resources:project_add_new' object.organization.slug object.slug %}" role="tab">{% trans "Upload new" %}</a></li>
          </ul>

          <form class="col-md-12" method="POST">
            {% csrf_token %}
            <table class="table table-hover datatable" data-paging-type="simple">
              <thead>
                <tr>
                  <th></th>
                  <th>{% trans "Resource" %}</th>
                  <th>{% trans "Type" %}</th>
                  <th>{% trans "Entities associated" %}</th>
                  <th>{% trans "Contributor" %}</th>
                  <th>{% trans "Last updated" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for field in form %}
                {% render_field field class+="form-control" %}
              {% endfor %}
              </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
