{% extends "organization/project_wrapper.html" %}
{% load i18n %}
{% load staticfiles %}

{% block page_title %}{% trans "Resources" %} | {% endblock %}
{% block left-nav %}resources{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resources" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          {% if is_allowed_add_resource %}
          <div class="top-btn pull-right top-add">
            {% if has_unattached_resources %}
            <a class="btn btn-primary btn-sm" href="{% url 'resources:project_add_existing' project=object.slug organization=object.organization.slug %}">
            {% else %}
            <a class="btn btn-primary btn-sm" href="{% url 'resources:project_add_new' project=object.slug organization=object.organization.slug %}">
            {% endif %}
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Attach" %}</a>
          </div>
          {% endif %}
          <div id="paginated-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block form_modal %}
{% include 'resources/modal_unarchive.html' with unarchive_url="#" %}
{% endblock %}

{% block extra_script %}
  {{ block.super }}
  {% include 'utils/react.html' %}
  <script type="text/javascript" src="{% static 'moment.js/2.20.1/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/paginated-table.js' %}"></script>
  <script type="text/javascript">
    {% include 'resources/paginated-resource-table.js' %}
  </script>
{% endblock %}
