{% load i18n %}

<!-- Resources index - smaller version for right panel of map -->
<table class="table table-hover datatable" data-paging-type="simple">
  <thead>
    <tr>
      <th class="col-md-10">{% trans "Resource" %}</th>
      <th class="col-md-2 hidden-md">{% trans "Connections" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for resource in object_list %}
    <tr class="linked" onclick="window.document.location='{% url 'resources:project_detail' project=object.slug organization=object.organization.slug resource=resource.id %}';">
      <td>
        <div class="resource-60">
          <img src="{{ resource.thumbnail }}" class="thumb-60">
        </div>
        <div class="resource-text">
          <strong>{{ resource.name }}</strong><br>{{ resource.file_name }}
        </div>
      </td>
      <td class="hidden-md">{{ resource.num_entities }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
