// Override Bootstrap variables:

//== Colors

$gray-dark:              #595a5c;  // Cadasta gray
$brand-primary:          #2069b3;  // Cadasta blue

//== Scaffolding

 $body-bg:               #eee;

//== Typography

$font-family-sans-serif:  'roboto', Helvetica, Arial, sans-serif;

//== Buttons

$btn-default-color:              #fff;
$btn-default-bg:                 #00b288;  // Cadasta green
$btn-default-border:             #009975;


// End Override


@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
