@import "variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
<<<<<<< HEAD
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";

@font-face {
  font-family: 'roboto';
  src: url('../css/fonts/roboto_regular_macroman/roboto-regular-webfont.eot');
  src: url('../css/fonts/roboto_regular_macroman/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/roboto_regular_macroman/roboto-regular-webfont.woff') format('woff'),
       url('../css/fonts/roboto_regular_macroman/roboto-regular-webfont.ttf') format('truetype'),
       url('../css/fonts/roboto_regular_macroman/roboto-regular-webfont.svg#roboto') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'steelfish';
  src: url('../css/fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot');
  src: url('../css/fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/steelfish_regular_macroman/steelfish_rg-webfont.woff2') format('woff2'),
       url('../css/fonts/steelfish_regular_macroman/steelfish_rg-webfont.woff') format('woff'),
       url('../css/fonts/steelfish_regular_macroman/steelfish_rg-webfont.ttf') format('truetype'),
       url('../css/fonts/steelfish_regular_macroman/steelfish_rg-webfont.svg#steelfish') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* =Basics
-------------------------------------------------------------- */

#cadasta {
  padding-top: 120px;
}

.wrapper {
  padding-bottom: 40px;
}

h1 {
  font-family: 'steelfish', Georgia, Arial, sans-serif;
  color: $brand-primary;
  text-transform: uppercase;
  letter-spacing: 1px;
}

label {
  font-weight: 400;
}
a {
  outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

/* =Header
-------------------------------------------------------------- */

header {
  width: 100%;
  height: 100px;
  background-color: #2069b3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
}
header h1#logo {
  display: inline-block;
  line-height: 100px;
  font-size: 29px;
  margin: 0 auto;
  padding: 0;
}
header #logo img {
  height: 29px;
  width: 200px;
}
/* for future resizing header
header.smaller {
  height: 75px; 
}
header.smaller h1#logo {
  height: 28px;
  line-height: 40px;
  font-size: 24px;
}*/
header nav {
  display: inline-block;
  float: right;
}
header nav a {
  line-height: 80px;
  margin-left: 20px;
  color: #eee;
  font-weight: 700;
  font-size: 18px;
}
header nav a:hover {
  color: white;
}

/* =User links & links in registration
-------------------------------------------------------------- */

.user-links ul, .reg-links ul {
  margin-top: 36px;
}
.reg-links ul {
  border: solid 1px #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.reg-links li:first-child {
   border-right: solid 1px #eee;
}
.reg-links .list-inline > li {
  padding: 0;
}
.user-links .list-inline li a, .reg-links .list-inline li a {
  padding: 6px 20px;
  color: #fff;
  font-size: 13px;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.reg-links li a:hover {
  background: #013c78;
  text-decoration: none;
}

/* =Narrow form
-------------------------------------------------------------- */

.form-narrow {
  margin: 0 auto;
  max-width: 400px;
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 30px 40px;
  margin-top: 30px;
}

.form-narrow h1 {
  text-align: center;
  margin: 4px auto 24px;
}

.form-narrow h5 {
  border-top: 1px dashed #ddd;
  padding-top: 20px;
}

.form-narrow .btn-block {
  margin-bottom: 20px;
}

/* =Alerts
-------------------------------------------------------------- */

.alert {
  text-align: center;
}
=======

.translation-wrapper {
    background-color: fuchsia;
}
>>>>>>> master
