div.switch {
    margin-left: 10px;
}
.toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input.toggle-round + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
}
input.toggle-round + label:before,
input.toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.toggle-round + label:before {
    right: 1px;
    background-color: #f10000;
    border-radius: 60px;
    transition: background 0.4s;
}
input.toggle-round + label:after {
    width: 29px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.toggle-round:checked + label:before {
    background-color: #8ce196;
}
input.toggle-round:checked + label:after {
    margin-left: 30px;
}
