{% load i18n %}

<h1>{% trans "Register" %}</h1>

<form method="POST" action="/site/account/register/" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
      {{ form.username.errors }}
      <label for="{{ form.username.id_for_label }}">
        {% trans "Username" %}:
      </label>
      {{ form.username }}
    </div>
    <div class="fieldWrapper">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">
        {% trans "Email" %}:
      </label>
      {{ form.email }}
    </div>
    <div class="fieldWrapper">
      {{ form.password.errors }}
      <label for="{{ form.password.id_for_label }}">
        {% trans "Password" %}:
      </label>
      {{ form.password }}
    </div>
    <div class="fieldWrapper">
      {{ form.full_name.errors }}
      <label for="{{ form.full_name.id_for_label }}">
        {% trans "Full name" %}:
      </label>
      {{ form.full_name }}
    </div>
    <button type="submit">{% trans "Submit" %}</button>
</form>
