{% extends "organization/organization_wrapper.html" %}

{% load i18n %}
{% load staticfiles %}

{% block page_title %}{% trans "Members" %} | {% endblock %}

{% block left-nav %}members{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2 class="short">{% trans "Members" %}</h2>
        <div class="top-btn pull-right">
          <a class="btn btn-primary" href="{% url 'organization:members_add' organization.slug %}">
            <span class="glyphicon glyphicon-plus" aria-hidden=true></span><span class="hidden-xs"> {% trans "Add" %}</span>
          </a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- Members index -->
          <table class="table table-hover datatable" data-paging-type="simple">
            <thead>
              <tr>
                <th>{% trans "Member" %}</th>
                <th class="hidden-xs">{% trans "Username" %}</th>
                <th class="hidden-xs">{% trans "Email" %}</th>
                <th class="hidden-xs hidden-sm">{% trans "Last login" %}</th>
              </tr>
            </thead>
            <tbody>
            {% for user in organization.users.all %}
              <tr class="linked" onclick="window.document.location='{% url 'organization:members_edit' slug=organization.slug username=user.username %}';">
                <td>
                  <a href="{% url 'organization:members_edit' slug=organization.slug username=user.username %}">
                    <div class="avatar-box avatar-box-sm pull-left">
                      <img src="{{ user.avatar_url }}" alt="{{ user.name }}" class="avatar avatar-sm">
                    </div>
                    {{ user.get_display_name }}</a>
                  <div class="hidden-sm hidden-md hidden-lg">
                    {{ user.username }}<br />
                    {{ user.email }}
                  </div>
                </td>
                <td class="hidden-xs">{{ user.username }}</td>
                <td class="hidden-xs">{{ user.email }}</td>
                <td class="hidden-xs hidden-sm">{{ user.last_login }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
       </div>
     </div>
    <!-- /.main-text -->
  </div>
</div>

{% endblock %}

{% block extra_script %}
  {{ form.media }}
  <script src="{% static 'js/form_submit.js' %}"></script>
{% endblock %}
