{% extends "organization/organization_wrapper.html" %}

{% load i18n %}
{% load staticfiles %}

{% block page_title %}{% if is_member %}{% trans "Dashboard" %}{% else %}{% trans "Overview" %}{% endif %} | {% endblock %}
{% block left-nav %}dashboard{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'js/dataTables.selectFiltering.js' %}"></script>
{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    {% if is_member %}
      {% include 'organization/organization_dashboard_member.html' %}
    {% else %}
      {% include 'organization/organization_dashboard_nonmember.html' %}
    {% endif %}
  </div>
</div>

{% endblock %}

