{% extends "organization/organization_list.html" %}

{% load i18n %}

{% block title %} | {% trans "Add organization" %}{% endblock %}

{% block modals %}

<div class="modal-backdrop">
  <div class="modal show" data-backdrop="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form method="POST"
              action="{% url 'organization:add' %}" class="modal-organization-add" data-parsley-validate>
          <div class="modal-header">
            <a class="close" href="{% url 'organization:list' %}">
              <span aria-hidden="true">&times;</span>
            </a>
            <h3 class="modal-title">{% trans "Add organization" %}</h3>
          </div>
          <div class="modal-body">
            {% include "organization/organization_form.html" %}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-right" name="submit">
              {% trans "Save" %}
            </button>
            <a class="btn btn-link cancel" href="{% url 'organization:list' %}">
              {% trans "Cancel" %}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
  {{ form.media }}
  <script>
    // Any visible error message to be clear upon form submission
    $('.modal-organization-add').submit(function() {
      $('.error-block').html('');
      $('.parsley-errors-list').remove();
      return true;
    });
  </script>
{% endblock %}
