{% extends "organization/organization_wrapper.html" %}

{% load i18n %}

{% block page_title %}Overview | {% endblock %}
{% block left-nav %}overview{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <div class="row-height">
      <!-- Main text  -->
      <div class="col-md-8 main-text col-height hidden-xs hidden-sm">
        <h2>{% trans "Organization Overview" %}</h2>
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Projects</h3></div>
          <div class="panel-body">
            {% if projects  %}
            <table class="table table-hover datatable" data-paging-type="simple">
              <thead>
                <tr>
                  <th class="col-md-6">{% trans "Project" %}</th>
                  <th class="col-md-2">{% trans "Country" %}</th>
                  <th class="col-md-2">{% trans "Last updated" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for prj in projects %}
                <tr class="linked" onclick="window.document.location='{% url 'organization:project-dashboard' organization=organization.slug project=prj.slug %}';">
                  <td>{{ prj.name }}</td>
                  <td>{{ prj.country }}</td>
                  <td>{{ prj.last_updated }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            {% if add_allowed %}
            <!-- Starter text -->
            <h3 style="text-transform: none;">{% trans "You're ready to go" %}</h3>
            <p>
              {% trans "You have successfully created your organization.  You're now ready to add your first project." %}
            </p>
            <div class="btn-full">
              <a href="{% url 'organization:project-add' organization.slug %}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add a new project" %}
              </a>
              <a href="#" class="btn btn-primary hidden" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add new members" %}
              </a>
            </div>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      <!-- /.main-text -->
      <!-- Right detail  -->
      <div class="col-md-4 detail col-height">
        <section>
          {% if organization.logo %}
            <div class="org-logo">
              <img src="{{ organization.logo }}" alt="{{ organization.name }}" />
            </div>
          {% endif %}
          <p>{{ organization.description }}<p>
          <div class="divider-thick"></div>
          <!-- Starter text -->
          <h3>{% trans "Members" %}</h3>
          <ul class="list-unstyled list-divider">
          {% for user in organization.users.all %}
            <li>
              <strong>{{ user.get_full_name }}</strong><br />{% trans "Username" %}: {{ user.username }}
            </li>
          {% endfor %}
          </ul>
          <div class="btn-full">
            <a href="{% url 'organization:members' organization.slug %}" class="btn btn-primary" role="button">
              {% trans "View all" %}
            </a>
          </div>
        </section>
      </div>
      <!-- /.detail -->
    </div>
  <div>
</div>
<!-- /.main -->

{% endblock %}

{% block modals %}

<div class="modal fade" id="archive_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{% trans "Archive organization" %}</h3>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you want to archive this organization?" %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link cancel" data-dismiss="modal">
          {% trans "Cancel" %}
        </button>
        <a href="{% url 'organization:archive' organization.slug %}"  class="btn btn-primary archive-final" role="button">
          {% trans "Yes, archive this organization" %}
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="unarchive_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{% trans "Unarchive organization" %}</h3>
      </div>
      <div class="modal-body">
        <p>
          {% trans "Are you sure you want to unarchive this organization?" %}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link cancel" data-dismiss="modal">
          {% trans "Cancel" %}
        </button>
        <a href="{% url 'organization:unarchive' organization.slug %}"  class="btn btn-primary unarchive-final" role="button">
          {% trans "Yes, unarchive this organization" %}
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
