{% extends "organization/organization_wrapper.html" %}

{% load i18n %}
{% block page_title %}Members | {% endblock %}

{% block left-nav %}members{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Members" %}</h2>
        <div class="top-btn pull-right">
          <a class="btn btn-primary" href="{% url 'organization:members_add' organization.slug %}">
            <span class="glyphicon glyphicon-plus" aria-hidden=true></span> {% trans "Add" %}
          </a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- Members index -->
          <table class="table table-hover datatable" data-paging-type="simple">
            <thead>
              <tr>
                <th>Member</th>
                <th class="hidden-xs">Username</th>
                <th class="hidden-xs">Email</th>
                <th class="hidden-xs hidden-sm">Last login</th>
              </tr>
            </thead>
            <tbody>
            {% for user in organization.users.all %}
              <tr class="linked" onclick="window.document.location='{% url 'organization:members_edit' slug=organization.slug username=user.username %}';">
                <td>{{ user.get_full_name }}
                  <div class="hidden-sm hidden-md hidden-lg">
                    {{ user.username }}<br />
                    {{ user.email }}
                  </div>
                </td>
                <td class="hidden-xs">{{ user.username }}</td>
                <td class="hidden-xs">{{ user.email }}</td>
                <td class="hidden-xs hidden-sm">{{ user.last_login }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
       </div>
     </div>
    <!-- /.main-text -->
  </div>
</div>

{% endblock %}
