{% load i18n %}
{% load widget_tweaks %}

{% csrf_token %}

{{ form.non_field_errors }}

<div class="row">
  <div class="col-sm-12">
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
      <label class="control-label" for="{{ form.name.id_for_label }}">{% trans "Organization name" %}</label>
      {% render_field form.name class+="form-control" data-parsley-required="true" data-parsley-sanitize="1" %}
      <div class="error-block">{{ form.name.errors }}</div>
    </div>
  </div>
  <!-- <div class="col-sm-4">
    {{ form.access }}
  </div> -->
</div>

<div class="form-group{% if form.description.errors %} has-error{% endif %}">
  <label class="control-label" for="{{ form.description.id_for_label }}">{% trans "Organization description" %}</label>
  {% render_field form.description class+="form-control" data-parsley-sanitize="1" %}
  <div class="error-block">{{ form.description.errors }}</div>
</div>

<div class="form-group{% if form.urls.errors %} has-error{% endif %}">
  <label class="control-label" for="{{ form.urls.id_for_label }}">{% trans "Organization URL" %}</label>
  {% render_field form.urls class+="form-control" placeholder="http://" data-parsley-type="url" %}
  <div class="error-block">{{ form.urls.errors }}</div>
</div>

<label>{% trans "Contacts" %}</label>
{% render_field form.contacts class+="form-control" %}
