{% extends "organization/organization_members.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}{% trans "Add member" %} | {% endblock %}

{% block modals %}

<div class="modal-backdrop">
  <div class="modal show" data-backdrop="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST"
              action="{% url 'organization:members_add' organization.slug %}" data-parsley-validate>
          <div class="modal-header">
            <a class="close" href="{% url 'organization:members' organization.slug %}"><span aria-hidden="true">&times;</span></a>
            <h3 class="modal-title">{% trans "Add member" %}</h3>
          </div>
          <div class="modal-body">
            <div class="form-group{% if form.identifier.errors %} has-error{% endif %}">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <label class="control-label" for="{{ form.identifier.id_for_label }}">
                {% trans "Enter new member's username or email address or phone" %}
              </label>
              {% render_field form.identifier class+="form-control input-lg" data-parsley-required="true" %}
              <div class="error-block">{{ form.identifier.errors }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-right">{% trans "Save" %}</button>
            <a class="btn btn-link" href="{% url 'organization:members' organization.slug %}">{% trans "Cancel" %}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
