{% extends "organization/organization_wrapper.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block page_title %}{% trans "Edit member" %} | {% endblock %}

{% block left-nav %}members{% endblock %}

{% block content %}
<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Member" %}: <span class="text-capitalize">{{ object.get_display_name }}</span></h2>
      </div>
      <div class="panel panel-default">
        <form method="POST" action="" class="org-member-edit" data-parsley-validate>
        {% csrf_token %}
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <!-- Member panel -->
                <div class="panel panel-default member-panel">
                  <div class="panel-body member-info">
                    <div class="member-pic">
                      <img src="/static/img/avatar.jpg" class="avatar-lg thumbnail">
                    </div>
                    <div class="member-detail">
                      <h4>{{ object.username }}</h4>
                      {{ object.full_name }}<br>
                      {{ object.email }}<br>
                      {% trans "Last login:" %} {{ object.last_login }}<br>
                    </div>
                    <div class="form-group member-role{% if form.org_role.errors %} has-error{% endif %}">
                      <label class="control-label" for="{{ form.org_role.id_for_label }}">{% trans "Role" %}</label>
                      {% if org_admin %}
                      {% render_field form.org_role class+="form-control" data-parsley-required="true" disabled="disabled" %}
                      {% else %}
                      {% render_field form.org_role class+="form-control" data-parsley-required="true" %}
                      {% endif %}
                      <div class="error-block">{{ form.org_role.errors }}</div>
                    </div>
                    <div class="btn-full">
                      <button type="button" class="btn btn-danger" name="remove" data-toggle="modal" data-target="#remove_confirm"{% if org_admin %} disabled{% endif %}>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Remove member" %}</button>
                      {% if org_admin %}
                      <div class="alert alert-full" role="alert">
                        <div class="pull-left"><span class="glyphicon glyphicon-info-sign"></span></div>
                        <div>{% trans "An organization administrator cannot remove themself." %}</div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <!-- /member panel -->
              </div>
              <div class="col-md-9">
                <!-- Members index -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3>{% trans "Member Permissions" %}</h3>
                  </div>
                  <div class="panel-body">
                    <table class="table table-hover datatable" id="projects-permissions">
                      <thead>
                        <tr>
                          <th>{% trans "Project" %}</th>
                          <th>{% trans "Permissions" %}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for field in form %}
                          {% if field.name != 'org_role' %}
                          <tr>
                            <td>
                              <label class="control-label" for="{{ field.id_for_label }}">
                                {{field.label}}
                              </label>
                            </td>
                            <td>
                              <div class="form-group">
                                {% render_field field class+="form-control" data-parsley-required="true" %}
                              </div>
                            </td>
                          </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- /members index -->
              </div>
            </div>
          </div>
          <div class="panel-footer panel-buttons text-center">
            <button type="submit" class="btn btn-primary" name="submit">{% trans "Save" %}</button>
            <a href="{% url 'organization:members' organization.slug %}" class="btn btn-default">{% trans "Cancel" %}</a>
          </div>
        </form>
      </div>
    </div>
    <!-- /.main-text -->
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/dataTables.forms.js' %}"></script>
<script>
  'use strict';
  $(function() {
    activateFormFieldsInDataTable('.org-member-edit', 1, 'select');
  });
</script>
{% endblock %}

{% block modals %}
{% if not org_admin  %}
<div class="modal fade" id="remove_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" name="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{% trans "Remove Member" %}</h3>
      </div>
      <div class="modal-body">
        <p>{% trans "Removing this member will remove the member's project permissions for this organization." %}</p>
        <p>{% trans "Are you sure you want to remove this member?" %}</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'organization:members_remove' slug=organization.slug username=object.username%}"  class="btn btn-danger confirm pull-right">{% trans "Yes, remove this member" %}</a>
        <button type="button" class="btn btn-link" name="cancel" data-dismiss="modal">{% trans "Cancel" %}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}

{% endblock %}
