organization{% extends "organization/organization_dashboard.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %} | {% trans "Edit" %} {{ form.instance.name }}{% endblock %}

{% block modals %}

<div class="modal-backdrop">
  <div class="modal show" data-backdrop="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form method="POST"
              action="{% url 'organization:edit' form.instance.slug %}" class="edit-org">
          <div class="modal-header">
            <a class="close" href="{% url 'organization:dashboard' form.instance.slug %}">
              <span aria-hidden="true">&times;</span>
            </a>
            <h3 class="modal-title">{% trans "Edit organization" %}</h3>
          </div>

          <div class="modal-body">
            {% include "organization/organization_form.html" %}
          </div>

          <div class="modal-footer">
            <a class="btn btn-link cancel"
               href="{% url 'organization:dashboard' form.instance.slug %}">
              {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-default text-uppercase" name="submit">
              {% trans "Save" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
