{% extends "core/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %} | {% trans "Organizations" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 page-title">
    <h2>{% trans "Organizations" %}</h2>
    <div class="top-btn pull-right">
      <a href="{% url 'organization:add' %}" class="btn btn-primary add-org">
        <span class="glyphicon glyphicon-plus" aria-hidden=true></span> {% trans "Add" %}
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover datatable" data-paging-type="simple">
      <thead>
        <tr>
          <th class="col-md-9">{% trans "Organization" %}</th>
          <th class="col-md-3">{% trans "Projects" %}</th>
        </tr>
      </thead>
      {% for org in object_list %}
      <tr onclick="window.document.location='{% url 'organization:dashboard' slug=org.slug %}';">
        <td>
          {% if org.logo %}
          <div class="org-logo">
            <img src="{{ org.logo }}" class="org-logo" alt="{{ org.name }}"/>
          </div>
          {% endif %}
          <div class="org-text">
            <h4>{{ org.name }}</h4>
            {% if org.description %}
              <p>{{ org.description }}</p>
            {% endif %}
          </div>
        </td>
        {% if user.is_authenticated and org in user.organizations.all %}
          <td>{{ org.all_projects.count }}</td>
        {% else %}
          <td>{{ org.public_projects.count }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
