{% extends "core/base.html" %}

{% load i18n %}

{% block title %} | {% trans "Add project" %} {% block page_title %}{% endblock %} {% endblock %}
{% block top-nav %}project-wizard{% endblock %}

{% block content %}

<form action="" method="post" data-parsley-validate data-parsley-excluded=":hidden">
{% csrf_token %}
  <div class="row">
    {% block step_content_1 %}{% endblock %}

  <div class="page-title">
    <div class="wizard pull-right">
      <ul class="steps">
        <li class="{{ wizard_step_classes.extent }}">
          <a>
          <label class="wizard-step">1</label>
          <span class="wizard-description">
            {% trans "Draw Map" %}
          </span>
          </a>
        </li>
        <li class="{{ wizard_step_classes.details }}">
          <a>
          <label class="wizard-step">2</label>
          <span class="wizard-description">
            {% trans "Add Details" %}
          </span>
          </a>
        </li>
        <li class="{{ wizard_step_classes.permissions }}">
          <a>
          <label class="wizard-step">3</label>
          <span class="wizard-description">
            {% trans "Assign Team" %}
          </span>
          </a>
        </li>
      </ul>
    </div>
    <h1 class="new-project-page pull-left">{% trans "Add project" %}</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>{% block step_title %}{% endblock %}</h3>
      {% block step_instructions %}{% endblock %}
      {% block step_content_2 %}{% endblock %}
    </div>
    <div class="panel-footer panel-buttons clearfix">
      <div class="btn-group btn-reverse" role="group">
        <button class="btn btn-primary pull-right" type="submit">
          {% if wizard.steps.current == wizard.steps.last %}{% trans "Finish" %}{% else %}{% trans "Next" %}{% endif %}
          <span class="glyphicon glyphicon-triangle-right"></span>
        </button>
        {% if wizard.steps.current != wizard.steps.first %}
          <button class="btn btn-default btn-previous" name="wizard_goto_step" value="{{ wizard.steps.prev }}" formnovalidate="formnovalidate">
            <span class="glyphicon glyphicon-triangle-left"></span>
            {% trans "Previous" %}
          </button>
        {% endif %}
      </div>
      <a class="btn btn-link pull-left cancel" href="{% url 'project:list' %}">{% trans "Cancel" %}</a>
    </div>
    {% block step_content_3 %}{% endblock %}
  </div>

  </div>
</form>

{% endblock %}
