{% extends "organization/project_add_wrapper.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block page_title %}| Add details{% endblock %}

{% block extra_script %}
{{ form.media }}
<script>
 $(document).ready(function () {
   var logos = {{ org_logos|safe }};
   var select = $('#{{ wizard.form.organization.id_for_label }}');
   var img = $('#org-logo');
   select.change(function() {
     if (logos[select[0].value]) {
       img.removeClass('org-logo-hidden');
       img.attr('src', logos[select[0].value]);
     } else {
       img.hadClass('org-logo-hidden');
     }
   });
 });
</script>
{% endblock %}

{% block main-width %} container{% endblock %}

{% block step_content_1 %}

  <!-- Main wizard  -->
  <div class="col-md-12 main-wizard">

{% endblock %}

{% block step_title %}{% trans "1. General Information" %}{% endblock %}

{% block step_content_2 %}

          {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              {{ form }}
            {% endfor %}
          {% else %}

            <div class="row">
              <div class="col-md-9">
                {{ wizard.form.non_field_errors }}
              </div>
            </div>

            <div class="row{% if display_org %} hidden{% endif %}">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group{% if wizard.form.organization.errors %} has-error{% endif %}">
                      <label for="{{ wizard.form.organization.id_for_label }}">{% trans "Select organization" %}</label>
                      <label class="pull-right control-label">{{ wizard.form.organization.errors }}</label>
                      {% render_field wizard.form.organization class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-sm-4 hidden-xs">
                    {% if init_org_logo %}
                    <div id="org-wrapper">
                      <img class="org-logo {{ init_org_hidden }}" id="org-logo" src="{{ init_org_logo }}" />
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group{% if wizard.form.name.errors %} has-error{% endif %}">
                      <label for="{{ wizard.form.name.id_for_label }}">{% trans "Project name" %}</label>
                      <label class="pull-right control-label">{{ wizard.form.name.errors }}</label>
                      {% render_field wizard.form.name class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    {{ wizard.form.access.errors }}
                    {{ wizard.form.access }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <div class="form-group{% if wizard.form.description.errors %} has-error{% endif %}">
                  <label for="{{ wizard.form.description.id_for_label }}">{% trans "Project description" %}</label>
                  <label class="pull-right control-label">{{ wizard.form.description.errors }}</label>
                  {% render_field wizard.form.description class+="form-control" %}
                </div>

                <div class="form-group{% if wizard.form.url.errors %} has-error{% endif %}">
                  <label for="{{ wizard.form.url.id_for_label }}">{% trans "Project URL" %}</label>
                  <label class="pull-right control-label">{{ wizard.form.url.errors }}</label>
                  {% render_field wizard.form.url class+="form-control" placeholder="http://" %}
                </div>
              </div>
            </div>

            <h3>2. Questionnaire</h3>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group{% if wizard.form.questionnaire.errors %} has-error{% endif %}">
                  <label for="{{ wizard.form.questionnaire.id_for_label }}">{% trans "Select the questionnaire file to use for this project" %}</label>
                  <label class="pull-right control-label">{{ wizard.form.questionnaire.errors }}</label>
                  <div class="well file-well">
                    {% render_field wizard.form.questionnaire class+="form-control" %}
                    <p class="help-block">Accepted file types: xls, xlsx</p>
                    {{ wizard.form.original_file }}
                  </div>
                  <div class="alert alert-info alert-full clearfix row" role="alert">
                    <div class="pull-left"><span class="glyphicon glyphicon-info-sign"></span></div>
                    <div>
                        For assistance with questionnaires view our <a href="http://docs.cadasta.org/en/08-XLSForms.html" class="alert-link" target="_blank">user guide</a>.  To help you get started two samples have been provided: <a href="https://s3-us-west-2.amazonaws.com/cadasta-resources/sample-forms/minimum_cadasta_questionnaire.xlsx" class="alert-link">a minimal</a> and <a href="https://s3-us-west-2.amazonaws.com/cadasta-resources/sample-forms/standard_cadasta_questionnaire.xlsx" class="alert-link">a standard questionnaire</a>.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h3>3. Contacts</h3>
            <div class="row">
              <div class="col-md-12">
                {% render_field wizard.form.contacts class+="form-control" %}
              </div>
            </div>

          {% endif %}

{% endblock %}

{% block step_content_buttons %}
<div class="btn-group btn-reverse" role="group">
  <button class="btn btn-primary pull-right" type="submit">
    {% trans 'Next' %}
    <span class="glyphicon glyphicon-triangle-right"></span>
  </button>
  <button class="btn btn-default btn-details-previous" type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
    <span class="glyphicon glyphicon-triangle-left"></span>
    {% trans "Previous" %}
  </button>
</div>
{% endblock %}

{% block step_content_3 %}

      </div>
    </div>
    <!-- / main wizard  -->

{% endblock %}
