{% extends "organization/project_add_wrapper.html" %}

{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}| {% trans "Add details" %}{% endblock %}

{% block extra_script %}
{{ form.media }}
<script src="{% static 'js/form_submit.js' %}"></script>
<script>
$(document).ready(function () {
  var logos = {{ org_logos|safe }};
  var select = $('#{{ wizard.form.organization.id_for_label }}');
  var img = $('#org-logo');
  select.change(function() {
    if (logos[select[0].value]) {
      img.css('display', 'inline-block');
      img.attr('src', logos[select[0].value]);
    } else {
      img.css('display', 'none');
    }
  });
});
</script>
{% endblock %}

{% block main-width %} container{% endblock %}

{% block step_content_1 %}

  <!-- Main wizard  -->
  <div class="col-md-12 main-wizard">

{% endblock %}

{% block step_title %}{% trans "1. General Information" %}{% endblock %}

{% block step_content_2 %}

          {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              {{ form }}
            {% endfor %}
          {% else %}

            <div class="row">
              <div class="col-md-9">
                {{ wizard.form.non_field_errors }}
              </div>
            </div>

            <div class="row{% if display_org %} hidden{% endif %}">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group{% if wizard.form.organization.errors %} has-error{% endif %}">
                      <label class="control-label" for="{{ wizard.form.organization.id_for_label }}">{% trans "Select organization" %}</label>
                      {% render_field wizard.form.organization class+="form-control" data-parsley-required="true" %}
                      <div class="error-block">{{ wizard.form.organization.errors }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4 hidden-xs">
                    <div id="org-wrapper">
                      <img class="org-logo" id="org-logo" style="display:none;" src="/" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group{% if wizard.form.name.errors %} has-error{% endif %}">
                      <label class="control-label" for="{{ wizard.form.name.id_for_label }}">{% trans "Project name" %}</label>
                      {% render_field wizard.form.name class+="form-control" data-parsley-required="true" data-parsley-sanitize="1" %}
                      <div class="error-block">{{ wizard.form.name.errors }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    {{ wizard.form.access.errors }}
                    {{ wizard.form.access }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <div class="form-group{% if wizard.form.description.errors %} has-error{% endif %}">
                  <label class="control-label" for="{{ wizard.form.description.id_for_label }}">{% trans "Project description" %}</label>
                  {% render_field wizard.form.description class+="form-control" data-parsley-sanitize="1" %}
                  <div class="error-block">{{ wizard.form.description.errors }}</div>
                </div>

                <div class="form-group{% if wizard.form.url.errors %} has-error{% endif %}">
                  <label class="control-label" for="{{ wizard.form.url.id_for_label }}">{% trans "Project URL" %}</label>
                  {% render_field wizard.form.url class+="form-control" placeholder="http://" %}
                  <div class="error-block">{{ wizard.form.url.errors }}</div>
                </div>
              </div>
            </div>

            <h3>{% trans "2. Questionnaire" %}</h3>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group{% if wizard.form.questionnaire.errors %} has-error{% endif %}">
                  <label class="control-label" for="{{ wizard.form.questionnaire.id_for_label }}">{% trans "Select the questionnaire file to use for this project" %}</label>
                  <div class="well file-well">
                    {% render_field wizard.form.questionnaire class+="form-control" %}
                    <p class="help-block">{% trans "Accepted file types: xls, xlsx" %}</p>
                    {{ wizard.form.original_file }}
                    <div class="error-block">{{ wizard.form.questionnaire.errors }}</div>
                  </div>
                  <div class="alert alert-info alert-full clearfix row" role="alert">
                    <div class="pull-left"><span class="glyphicon glyphicon-info-sign"></span></div>
                    <div>
                      {% blocktrans %}To get started, choose the form that most closely matches your documentation needs.
                      <ul>
                        <li>The <a href="https://docs.google.com/spreadsheets/d/1MHg6iok4SkDxN2NdMVt3P2W9UZe81VxH6CpAz_eUtOY/pub?output=xlsx" class="alert-link">Customary Rights Form</a> is designed for documenting the rights of a single group of people who are using a single parcel or piece of land.</li>
                        <li>The <a href="https://docs.google.com/spreadsheets/d/1hyF_uxZb4959lxD6vDMM574cQEFTyq636VAS7n3e0MA/pub?output=xlsx" class="alert-link">Sustainable Sourcing Form</a> is for documenting land that's being used for sustainable agricultural production.</li>
                        <li>The <a href="https://docs.google.com/spreadsheets/d/1iORFg75ofq-QzLB5x-WvuggEZN6JaE0iS6yqc7dE1Y0/pub?output=xlsx" class="alert-link">Urban Informal Settlements Form</a> is for documenting many people who may be living in a very small urban area.</li>
                      </ul>
                      If you need help or have questions, <a href="http://cadasta.org/contact/" target="_blank" class="alert-link">please contact us</a>.
                      {% endblocktrans %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h3>{% trans "3. Contacts" %}</h3>
            <div class="row">
              <div class="col-md-12">
                {% render_field wizard.form.contacts class+="form-control" %}
              </div>
            </div>

          {% endif %}

{% endblock %}

{% block step_content_buttons %}
<div class="btn-group btn-reverse" role="group">
  <button class="btn btn-primary pull-right" type="submit">
    {% trans 'Next' %}
    <span class="glyphicon glyphicon-triangle-right"></span>
  </button>
  <button class="btn btn-default btn-details-previous" type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
    <span class="glyphicon glyphicon-triangle-left"></span>
    {% trans "Previous" %}
  </button>
</div>
{% endblock %}

{% block step_content_3 %}

      </div>
    </div>
    <!-- / main wizard  -->

{% endblock %}
