{% extends "organization/project_wrapper.html" %}

{% load i18n %}


{% block content %}
<form method="POST" class="col-md-12 content-single" data-parsley-validate>
  {% csrf_token %}
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <h2>{% trans "Export project data" %}</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="panel-title">{% trans "Select your desired file format" %}</h3>
          <div class="error-block"></div>
          <ul class="list-unstyled spacing-lg">
            <li class="radio">
              <label>
                <input type="radio" name="type" id="data_shp" value="shp" data-parsley-errors-container=".error-block" required="" {% if form.type.value == 'shp' %}checked{% endif%}>
                {% trans "SHP" %}
                <small>{% trans "A ZIP containing shape files for project locations, relationships, and parties." %}</small>
              </label>
            </li>
            <li class="radio">
              <label>
                <input type="radio" name="type" id="data_xls" value="xls" required="" {% if form.type.value == 'xls' %}checked{% endif%}>
                {% trans "XLS" %}
                <small>{% trans "A single XLS spreadsheet containing project locations, relationships, and parties." %}</small>
              </label>
            </li>
            <!-- li class="radio">
              <label>
                <input type="radio" name="type" id="data_res" value="res" required="" {% if form.type.value == 'res' %}checked{% endif%}>
                {% trans "Resources" %}
                <small>{% trans "A zip file containing all resources." %}</small>
              </label>
            </li>
            <li class="radio">
              <label>
                <input type="radio" name="type" id="data_all" value="all" required="" {% if form.type.value == 'all' %}checked{% endif%}>
                {% trans "All data" %}
                <small>{% trans "A zip file containing all project data XLS and SHP files and all resources." %}</small>
              </label>
            </li -->
          </ul>
        </div>
        <div class="panel-footer panel-buttons">
          <button type="submit" class="btn btn-primary">
            {% trans "Download file" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
