{% extends "core/base.html" %}

{% load i18n %}

{% block top-nav %}project-single{% endblock %}

{% block title %} | {% block page_title %}{% endblock %} {{ object.name }}{% endblock %}

{% block page-header %}

<!-- Single project header -->
<div class="header page-header">
  <div class="page-title">
    <a class="index-link visible-md-inline visible-lg-inline" href="{% url 'project:list' %}">
      <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
    </a>
    <h1>
      <a href="{% url 'organization:dashboard' slug=object.organization.slug %}" class="org-name">
        {{ object.organization.name }}
      </a>
      {{ object.name }}
      {% if object.archived %}
      <span class="label label-danger">
        Archived
      </span>
      {% endif %}
    </h1>
    <div class="top-btn pull-right">

      <!-- More options menu -->
      {% if is_administrator %}
      <div class="dropdown pull-right btn-more">
        <a data-target="#" data-toggle="dropdown" class="dropdown-toggle" role="button">
          <span class="more-menu glyphicon glyphicon-option-vertical"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a class="edit" href="{% url 'organization:project-edit-geometry' object.organization.slug object.slug %}">{% trans "Edit project boundary" %}</a></li>
          <li><a class="edit" href="{% url 'organization:project-edit-details' object.organization.slug object.slug %}">{% trans "Edit project details" %}</a></li>
          <li><a class="edit" href="{% url 'organization:project-edit-permissions' object.organization.slug object.slug %}">{% trans "Edit member permissions" %}</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'organization:project-download' object.organization.slug object.slug %}" data-toggle="modal">{% trans "Download data" %}</a></li>
          {% if is_administrator %}
          <li role="separator" class="divider"></li>
          <li>
            {% if object.archived %}
            <a class="archive" href="#unarchive_confirm" data-toggle="modal">{% trans "Unarchive project" %}</a>
            {% else %}
            <a class="archive" href="#archive_confirm" data-toggle="modal">{% trans "Archive project" %}</a>
            {% endif %}
          </li>
          {% endif %}
          
        </ul>
      </div>
      {% endif %}

      <div class="btn-group pull-right btn-add visible-sm-inline visible-md-inline visible-lg-block">
        <a class="btn btn-primary" href="{% url 'locations:add' object.organization.slug object.slug %}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add location" %}
        </a>
        <button type="button" class="btn btn-primary btn-rt dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">{%trans "Toggle add" %}</span>
        </button>
        <ul class="dropdown-menu">
          <!--<li><a href="#">{% trans "Add party" %}</a></li>
          <li><a href="#">{% trans "Add relationship" %}</a></li>-->
          <li><a href="{% url 'resources:project_add_existing' object.organization.slug object.slug %}">{% trans "Add resource" %}</a></li>
          <!-- <li role="separator" class="divider"></li> -->
          <!-- <li><a class="edit" href="#">{% trans "Import data" %}</a></li> -->
        </ul>
      </div>
      <!-- Single add button for smaller screens-->
      <div class="dropdown pull-right visible-xs-inline">
        <a data-target="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" role="button">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="{% url 'locations:add' object.organization.slug object.slug %}">{% trans "Add location" %}</a></li>
          <!--<li><a href="#">{% trans "Add party" %}</a></li>
          <li><a href="#">{% trans "Add relationship" %}</a></li>-->
          <li><a href="{% url 'resources:project_add_existing' object.organization.slug object.slug %}">{% trans "Add resource" %}</a></li>
          <!--<li role="separator" class="divider"></li>
          <li><a class="edit" href="#">{% trans "Import data" %}</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- / single project header -->
{% endblock %}

{% block sub-nav %}

<!-- Sidebar -->
<div id="sidebar" class="{% block left-nav %}{% endblock %}">
  <ul class="nav nav-sidebar">
    <li class="overview">
      <a href="{% url 'organization:project-dashboard' object.organization.slug object.slug %}">
        <span class="icon"></span>
        <span class="title">{% trans "Overview" %}</span>
      </a>
    </li>
    <li class="map">
      <a href="{% url 'locations:list' object.organization.slug object.slug %}">
        <span class="icon map"></span>
        <span class="title">{% trans "Map" %}</span>
      </a>
    </li><!--
    --><li class="resources">
      <a href="{% url 'resources:project_list' object.organization.slug object.slug %}">
        <span class="icon resources"></span>
        <span class="title">{% trans "Resources" %}</span>
      </a>
    </li><!--
    --><li class="reports hidden">
      <a href="#">
         <span class="icon reports"></span>
         <span class="title">{% trans "Reports" %}</span>
      </a>
    </li><!--
    --><li class="activity hidden">
      <a href="#">
        <span class="icon activity"></span>
        <span class="title">{% trans "Activity" %}</span>
      </a>
    </li>
  </ul>
</div>
<!-- /.sidebar -->

{% endblock %}

{% block content %}{% endblock %}

{% block modals %}
{% block form_modal %}{% endblock %}

<div class="modal fade" id="archive_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{% trans "Archive project" %}</h3>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you want to archive this project?" %}</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'organization:project-archive' object.organization.slug object.slug %}" class="btn btn-danger archive-final pull-right" role="button">
          {% trans "Yes, archive this project" %}
        </a>
        <button type="button" class="btn btn-link cancel" data-dismiss="modal">
          {% trans "Cancel" %}
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="unarchive_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{% trans "Unarchive project" %}</h3>
      </div>
      <div class="modal-body">
        <p>
          {% trans "Are you sure you want to unarchive this project?" %}
        </p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'organization:project-unarchive' object.organization.slug object.slug %}" class="btn btn-primary unarchive-final pull-right" role="button">
          {% trans "Yes, unarchive this project" %}
        </a>
        <button type="button" class="btn btn-link cancel cancel-u" data-dismiss="modal">
          {% trans "Cancel" %}
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
