{% extends "organization/project_wrapper.html" %}

{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}Edit member permissions | {% endblock %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block left-nav %}overview{% endblock %}

{% block content %}

<form method="POST" action="{% url 'organization:project-edit-permissions' project.organization.slug project.slug %}" novalidate>
{% csrf_token %}
  <div class="col-md-12 content-single">
    <div class="row">
      <!-- Main text  -->
      <div class="col-md-12 main-text">
        <h2>{% trans "Edit member permissions" %}</h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-striped datatable" data-paging-type="simple">
              <thead>
                <tr>
                  <th class="col-md-4">{% trans "Member" %}</th>
                  <th class="col-md-4">{% trans "Email address" %}</th>
                  <th class="col-md-4">{% trans "Permissions" %}</th>
                </tr>
              </thead>
              {% for field in form %}
                {% render_field field class+="form-control" %}
              {% endfor %}
            </table>
          </div>
          <div class="panel-footer panel-buttons">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a class="btn btn-default" href="{% url 'organization:project-dashboard' project.organization.slug project.slug %}">{% trans "Cancel" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
