{% extends "organization/project_add_wrapper.html" %}

{% load staticfiles %}
{% load leaflet_tags %}
{% load i18n %}

{% block page_title %}| {% trans "Draw map" %}{% endblock %}
{% block body-class %} map{% endblock %}

{% block extra_head %}
{% leaflet_css plugins="draw,forms" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.8.0/leaflet-geocoder-mapzen.css">
{% endblock %}

{% block extra_script %}
{% leaflet_js plugins="draw,forms" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.8.0/leaflet-geocoder-mapzen.js"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<script>
 $(document).ready(function () {
   $(window).on('map:init', function(e) {
      if (e.detail) {
        var map = e.detail.map;
      } else {
        var map = e.originalEvent.detail.map;
      }

      map = add_map_controls(map);
      map.fitBounds([[-45.0, -180.0], [45.0, 180.0]]);
   });
 });
</script>
{% endblock %}

{% block step_content_1 %}

  <div class="col-md-12 content-single">
    <!-- Extent map  -->
    <div class="col-md-8 map">
      <div id="project_map" class="project-extent-map">
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
            {{ form }}
          {% endfor %}
        {% else %}
          {{ wizard.form }}
        {% endif %}
      </div>
    </div>
    <!-- / extent map -->

    <!-- Wizard detail  -->
    <div class="col-md-4 detail detail-edit">

{% endblock %}

{% block step_title %}{% trans "Draw project on map" %}{% endblock %}
{% block step_instructions %}
  <p>
    {% blocktrans %}Use the tools provided on the left side of the map to outline your new project boundary. Once complete, select the save button below.{% endblocktrans %}
  </p>
  <div class="alert alert-info alert-full clearfix row" role="alert">
    <div class="pull-left"><span class="glyphicon glyphicon-info-sign"></span></div>
    <div>
    {% blocktrans %}We encourage you to mark the area in which your project takes place (if your project doesn't include the entire world). This makes interactions simpler and also helps other users to find your project.{% endblocktrans %}
    </div>
  </div>
{% endblock %}
{% block step_content_buttons %}
  <button class="btn btn-primary pull-right" type="submit">
    {% trans 'Next' %}
    <span class="glyphicon glyphicon-triangle-right"></span>
  </button>
{% endblock %}

{% block step_content_3 %}

      </div>
    </div>
    <!-- / wizard detail -->
  </div>
{% endblock %}
