{% extends "organization/project_add_wrapper.html" %}

{% load staticfiles %}
{% load leaflet_tags %}
{% load i18n %}

{% block page_title %}| Draw map{% endblock %}
{% block body-class %} map{% endblock %}

{% block extra_head %}
{% leaflet_css plugins="draw,forms" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.css">
{% endblock %}

{% block extra_script %}
{% leaflet_js plugins="draw,forms" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.js"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<script>
 $(document).ready(function () {
   $(window).on('map:init', function(e) {
     map = add_map_controls(e.originalEvent.detail.map);
     map.fitBounds([[-45.0, -180.0], [45.0, 180.0]]);
   });
 });
</script>
{% endblock %}

{% block step_content_1 %}

<!-- Start extent map  -->
<div class="col-md-8 map">
  <div id="project-map" class="project-extent-map">
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {{ form }}
      {% endfor %}
    {% else %}
      {{ wizard.form }}
    {% endif %}
  </div>
</div>
<!-- / end extent map -->

<!-- wizard detail  -->
<div class="col-md-4 detail">

{% endblock %}

{% block step_title %}{% trans "Draw project on map" %}{% endblock %}

{% block step_instructions %}
    <p>
      {% blocktrans %}
      Use the map tools to outline your project location boundaries. Once complete, select the save button below.
      {% endblocktrans %}
    </p>
{% endblock %}

{% block step_content_3 %}

</div>
<!-- / wizard detail -->

{% endblock %}