{% extends "organization/project_wrapper.html" %}

{% load i18n %}

{% load staticfiles %}

{% load leaflet_tags %}

{% block extra_head %}
{% leaflet_css plugins="groupedlayercontrol,markercluster" %}
{% endblock %}

{% block extra_script %}
{% leaflet_js plugins="groupedlayercontrol,markercluster,deflate" %}
<script src="{% static 'js/smap/index.js' %}"></script>

<script>
  var url = '/async/organizations/' +
      '{{ project.organization.slug }}/projects/{{ project.slug }}/spatial/tiled/{z}/{x}/{y}'
  var fetch_spatial_resources = '/api/v1/organizations/' +
      '{{ project.organization.slug }}/projects/{{ project.slug }}/spatialresources/';
  var trans = {open: "{% trans 'Open location' %}"};
  {% if project.extent %}
    var projectExtent = {{ project.extent.geojson|safe }};
  {% else %}
    var projectExtent = null;
  {% endif %}
  var options = {
    projectExtent: projectExtent,
    trans: trans,
    fitBounds: 'project',
    project_slug: '{{ project.slug }}',
    org_slug: '{{ project.organization.slug }}'
  }

  var layers = {{ leaflet_tiles|safe }}

</script>
{% endblock %}

{% block page_title %}{% trans "Overview" %} | {% endblock %}
{% block body-class %} map{% endblock %}
{% block left-nav %}overview{% endblock %}

{% block content %}
<div class="col-md-12 content-single">
  <div class="row">
    <!-- Start overview map  -->
    <div class="col-md-8 map" id="project-map">
      <div id="mapid"></div>
    </div>
    <!-- / end overview map -->
    <!-- Overview detail  -->
    <div class='col-md-4 detail'>
    <!-- THIS IS WHERE THE NEW SIDE MENU DETAILS GO -->
    </div>
  </div>
  <!-- / overview detail -->
</div>
{% endblock %}
