{% extends "organization/project_add_wrapper.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block page_title %}| {% trans "Assign team" %}{% endblock %}

{% block main-width %}{% endblock %}

{% block step_content_1 %}

  <!-- Main wizard: permissions  -->
  <div class="col-md-12 content-single">
    <div class="row">
      <!-- Main wizard text -->
      <div class="col-md-12 main-text">

{% endblock %}

{% block step_title %}{% trans "Assign permissions to members" %}{% endblock %}

{% block step_instructions %}
    <p>
      {% blocktrans %}
      Not able to find a member?  Organization administrators must first
      invite users to join your organization before permissions can be assigned.
      {% endblocktrans %}
    </p>
{% endblock %}

{% block step_content_2 %}

          {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              {{ form }}
            {% endfor %}
          {% else %}

            <table class="table table-striped datatable" data-paging-type="simple">
              <thead>
                <tr>
                  <th class="col-md-4">{% trans "Member" %}</th>
                  <th class="col-md-4 hidden-xs hidden-sm">{% trans "Email address" %}</th>
                  <th class="col-md-4">{% trans "Permissions" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for field in form %}
                  {% render_field field class+="form-control" data-parsley-required="true" %}
                {% endfor %}
              </tbody>
            </table>

          {% endif %}

{% endblock %}

{% block step_content_3 %}

        </div>
      </div>
    </div>
    <!-- / main wizard text -->

{% endblock %}

{% block extra_script %}
<script src="{% static 'js/dataTables.forms.js' %}"></script>
<script>
  'use strict';
  $(function() {
    activateFormFieldsInDataTable('.container-fluid form', 2, 'select');
  });
</script>
{% endblock %}
