{% extends "organization/project_wrapper.html" %}

{% load i18n %}


{% block content %}
<form method="POST" class="col-md-12 content-single">
  {% csrf_token %}
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <h2>{% trans "Download project data" %}</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Select your file format</h4>

          <div class="radio">
            <label>
              <input type="radio" name="type" id="data_xls" value="xls" {% if form.type.value == 'xls' %}checked{% endif%}>
              <strong>{% trans "XLS" %}</strong><br>
              {% trans "A single file containing project locations, relationships, and parties." %}
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="type" id="data_res" value="res" {% if form.type.value == 'res' %}checked{% endif%}>
              <strong>{% trans "Resources" %}</strong><br>
              {% trans "A zip file containing all resources." %}
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="type" id="data_all" value="all" {% if form.type.value == 'all' %}checked{% endif%}>
              <strong>{% trans "All data" %}</strong><br>
              {% trans "A zip file containing all project data in SHP and XLS files." %}
            </label>
          </div>

          <button type="submit" class="btn btn-primary">
            {% trans "Download" %}
          </button>
          <button type="button" class="btn btn-link cancel" data-dismiss="modal">
            {% trans "Cancel" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
