{% extends "organization/project_wrapper.html" %}

{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block page_title %}Edit project location | {% endblock %}

{% block extra_head %}
{% leaflet_css plugins="draw,forms" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.css">
{% endblock %}

{% block extra_script %}
{% leaflet_js plugins="draw,forms" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.js"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<script>
 $(document).ready(function () {
   $(window).on('map:init', function(e) {
      add_map_controls(e.originalEvent.detail.map);
   });
 });
</script>
{% endblock %}

{% block left-nav %}overview{% endblock %}

{% block content %}

<form method="POST" action="{% url 'organization:project-edit-geometry' project.organization.slug project.slug %}">
{% csrf_token %}
  <div class="col-md-12 content-single">
    <div class="row">
      <!-- Location map  -->
      <div class="col-md-8 map">
        {{ form.extent }}
      </div>
      <!-- / location map -->
      <!-- Location detail  -->
      <div class="col-md-4 detail detail-edit">
        <h2>{% trans "Edit project location" %}</h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>{% blocktrans %}Use the map tools to modify your project location boundaries. Once complete, select the save button below.{% endblocktrans %}</p>
          </div>
          <div class="panel-footer panel-buttons">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'organization:project-dashboard' project.organization.slug project.slug %}" class="btn btn-default">{% trans "Cancel" %}</a>
          </div>
        </div>
      </div>
      <!-- / location detail -->
    </div>
  </div>
</form>

{% endblock %}
