{% extends "core/base.html" %}

{% load i18n %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h1 class="new-project-page">{% trans "PROJECTS" %}: {% trans "Add new" %}</h1>
  </div>
  <div class="col-md-7">
    <div class="wizard">
      <ul class="steps">
        <li class="{{ wizard_step_classes.extent }}">
          1. {% trans "Create Project Geometry" %}
          <span class="chevron"></span>
        </li>
        <li class="{{ wizard_step_classes.details }}">
          2. {% trans "Add Details" %}
          <span class="chevron"></span>
        </li>
        <li class="{{ wizard_step_classes.permissions }}">
          3. {% trans "Assign Permissions" %}
        </li>
      </ul>
    </div>
  </div>
</div>

<hr/>


<form action="" method="post">{% csrf_token %}
  <div class="row">
    <h2>{% block step_title %}{% endblock %}</h2>

    <p>{% block step_description %}{% endblock %}</p>

    {% block step_content %}{% endblock %}
  </div>

  <br>
  <div class="row">
    <input class="btn btn-default btn-lg" type="submit" value="{% trans 'Continue' %}"/>
    <a href="{% url 'project:list' %}">{% trans "Cancel" %}</a>
  </div>
</form>

{% endblock %}
