{% extends "organization/project_wrapper.html" %}

{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block extra_script %}
  {{ form.media }}
{% endblock %}

{% block page_title %}Edit project details | {% endblock %}
{% block left-nav %}overview{% endblock %}

{% block content %}

<form method="POST" action="{% url 'organization:project-edit-details' project.organization.slug project.slug %}" novalidate>
{% csrf_token %}
  <div class="col-md-12 content-single">
    <div class="row">
      <!-- Main text  -->
      <div class="col-md-12 main-text">
        <h2>{% trans "Edit project details" %}</h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>{% trans "1. General information" %}</h3>
            <div class="row">
              <div class="col-md-9">
                {{ form.non_field_errors }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                      <label for="{{ form.name.id_for_label }}">{% trans "Project name" %}</label>
                      <label class="pull-right control-label">{{ form.name.errors }}</label>
                      {% render_field form.name class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    {{ form.access }}
                  </div>
                </div>
                <div class="form-group{% if form.description.errors %} has-error{% endif %}">
                  <label for="{{ form.description.id_for_label }}">{% trans "Project description" %}</label>
                  <label class="pull-right control-label">{{ form.description.errors }}</label>
                  {% render_field form.description class+="form-control" %}
                </div>
  
                <div class="form-group{% if form.urls.errors %} has-error{% endif %}">
                  <label for="{{ form.urls.id_for_label }}">{% trans "Project URL" %}</label>
                  <label class="pull-right control-label">{{ form.urls.errors }}</label>
                  {% render_field form.urls class+="form-control" placeholder="http://" %}
                </div>
              </div>
            </div>
  
            <h3>{% trans "2. Questionnaire" %}</h3>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group{% if form.questionnaire.errors %} has-error{% endif %}">
                  <label for="{{ form.questionnaire.id_for_label }}">{% trans "Select the questionnaire file to use for this project" %}</label>
                  <label class="pull-right control-label">{{ form.questionnaire.errors }}</label>
                  <div class="well file-well">
                    {{ form.questionnaire }}
                    <p class="help-block">Accepted file types: xls, xlsx</p>
                  </div>
                  <div class="alert alert-info alert-full clearfix row" role="alert">
                    <div class="pull-left"><span class="glyphicon glyphicon-info-sign"></span></div>
                    <div>
                        For assistance with questionnaires view our <a href="http://docs.cadasta.org/en/08-XLSForms.html" class="alert-link" target="_blank">user guide</a>.  To help you get started two samples have been provided: <a href="https://s3-us-west-2.amazonaws.com/cadasta-resources/sample-forms/minimum_cadasta_questionnaire.xlsx" class="alert-link">a minimal</a> and <a href="https://s3-us-west-2.amazonaws.com/cadasta-resources/sample-forms/standard_cadasta_questionnaire.xlsx" class="alert-link">a standard questionnaire</a>.
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <h3>{% trans "3. Contacts" %}</h3>
            <div class="row">
              <div class="col-md-9">
                {% render_field form.contacts class+="form-control" %}
              </div>
            </div>
          </div>
          <div class="panel-footer panel-buttons">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'organization:project-dashboard' project.organization.slug project.slug %}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
