{% load i18n %}
{% load leaflet_tags %}

      <!-- Project Overview for non-project members  -->
      <div class="main-text">
        <div class="col-md-8">

        <h2>{% trans "Project Overview" %}</h2>
          {% if not user.is_authenticated %}
            <section>
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table noborder">
                    <tr>
                      <td class="col-sm-6 dashboard-box">
                        <h3 class="panel-title panel-title-bordered">{% trans "New Users" %}</h3>
                      </td>
                      <td class="col-sm-6 dashboard-box">
                        <h3 class="panel-title panel-title-bordered">{% trans "Have an account?" %}</h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="dashboard-box">
                        <p>{% trans "Register for free to securely collect, manage, and store your land and resource rights documentation, geometries, and other data." %}</p>
                      </td>
                      <td class="dashboard-box">
                        <p>{% trans "Sign in to manage your projects and access permissions-based data." %}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="dashboard-box">
                        <a href="{% url 'account_signup' %}?next={{ request.path }}" class="btn btn-primary btn-block btn-lg"><i class="glyphicon glyphicon-pencil"></i> {% trans "Register now" %}</a>
                      </td>
                      <td class="dashboard-box">
                        <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-primary btn-block btn-lg"><i class="glyphicon glyphicon-lock"></i> {% trans "Sign in" %}</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </section>
            
          {% elif user.is_authenticated %}
            <!-- Project restriction message -->
            <div class="alert alert-info alert-full alert-dismissible" role="alert">
              <div class="text-center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="glyphicon glyphicon-info-sign"></i>
                {% trans "Access to project data is restricted to current project members only." %}
              </div>
            </div>

            {% if has_content %}
              <!-- Project stats -->
              <section>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="tile-box bg-primary">
                      <div class="tile-header">{% trans "Locations" %}</div>
                      <div class="tile-content-wrapper">
                        <i class="glyphicon glyphicon-map"></i>
                        <div class="tile-content">
                          <span class="num">{{ num_locations }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="tile-box bg-primary">
                      <div class="tile-header">{% trans "Parties" %}</div>
                      <div class="tile-content-wrapper">
                        <i class="glyphicon glyphicon-user"></i>
                        <div class="tile-content">
                          <span class="num">{{ num_parties }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="tile-box bg-primary">
                      <div class="tile-header">{% trans "Resources" %}</div>
                      <div class="tile-content-wrapper">
                        <i class="glyphicon glyphicon-file"></i>
                        <div class="tile-content">
                          <span class="num">{{ num_resources }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            {% endif %}

          {% endif %}

          <!-- Project map -->
          <section>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{% trans "Project Map" %}</h3>
              </div>
              <div class="panel-body overview">
                <!-- Display locations without interactions -->
                {% leaflet_map "project-map" callback="project_map_init" %}
              </div>
            </div>
          </section>

        </div>

        <div class="col-md-4">

          <!-- Project about -->
          <section>
            <div class="panel panel-default panel-about">
              <div class="panel-heading">
                <h3 class="panel-title">{% trans "About this project" %}</h3>
              </div>
              <div class="panel-body">
                {% if not object.description and not object.urls.0 and not object.contacts %}
                  <!-- No project description -->
                  <div class="overlay-wrapper">
                    <div class="overlay">
                      <p class="text-center">{% trans "Looks like this project doesn't have a description yet." %}</p>
                    </div>
                  </div>
                {% else %}
                  <p>{{ object.description }}</p>
                  {% if object.urls.0 %}
                    <p><a href="{{ object.urls.0 }}" target="_blank" class="break"><i class="glyphicon glyphicon-globe"></i> {{ object.urls.0 }}</a></p>
                  {% endif %}
                  {% if object.contacts %}
                    <h4 class="panel-subtitle">{% trans "Contacts" %}</h4>
                    <dl class="contacts">
                    {% for contact in object.contacts %}
                      <dt>{{ contact.name }}</dt>
                      <dd class="clearfix">
                        {% if contact.email %}
                        <a href="mailto:{{ contact.email }}" class="break">
                          <i class="glyphicon glyphicon-envelope"></i>
                         {{ contact.email }}
                        </a>
                        {% endif %}
                        {% if contact.tel %}
                        <a href="tel:{{ contact.tel }}">
                          <i class="glyphicon glyphicon-earphone"></i>
                          {{ contact.tel }}
                        </a>
                        {% endif %}
                      </dd>
                    {% endfor %}
                    </dl>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </section>

        </div>
      </div>
