{% extends "organization/project_wrapper.html" %}

{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block left-nav %}overview{% endblock %}

{% block content %}

<div class="col-md-11 col-md-offset-1 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <h2>{% trans "Edit project permissions" %}</h2>
      <form method="POST" action="{% url 'organization:project-edit-permissions' project.organization.slug project.slug %}">
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-striped datatable" data-paging-type="simple">
              <thead>
                <tr>
                  <th class="col-md-2">{% trans "Member" %}</th>
                  <th class="col-md-3">{% trans "Email address" %}</th>
                  <th class="col-md-4">{% trans "Permissions" %}</th>
                </tr>
              </thead>
              {% for field in form %}
                {% render_field field class+="form-control" %}
              {% endfor %}
            </table>
          </div>

          <div class="panel-footer panel-buttons">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a class="btn btn-default" href="{% url 'organization:project-dashboard' project.organization.slug project.slug %}">{% trans "Cancel" %}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
