{% extends "organization/project_add_wrapper.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block step_title %}{% trans "Assign project permissions" %}{% endblock %}

{% block step_description %}
{% blocktrans %}
Not able to find a member?  Organization administrators must first
invite users to join your organization before permissions can be assigned.
{% endblocktrans %}
{% endblock %}

{% block step_content %}

{{ wizard.management_form }}
{% if wizard.form.forms %}
{{ wizard.form.management_form }}
{% for form in wizard.form.forms %}
{{ form }}
{% endfor %}
{% else %}

<table class="table table-striped datatable" data-paging-type="simple">
  <thead>
    <tr>
      <th class="col-md-2">{% trans "Member" %}</th>
      <th class="col-md-3">{% trans "Email address" %}</th>
      <th class="col-md-4">{% trans "Permissions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for field in form %}
      {% render_field field class+="form-control" %}
    {% endfor %}
  </tbody>>
</table>

{% endif %}

{% endblock %}
