{% extends "organization/project_add_wrapper.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block page_title %}| Add details{% endblock %}

{% block extra_script %}
{{ form.media }}
<script>
 $(document).ready(function () {
   var logos = {{ org_logos|safe }};
   var select = $('#{{ wizard.form.organization.id_for_label }}');
   var img = $('#org-logo');
   select.change(function() {
     if (logos[select[0].value]) {
       img.removeClass('org-logo-hidden');
       img.attr('src', logos[select[0].value]);
     } else {
       img.hadClass('org-logo-hidden');
     }
   });
 });
</script>
{% endblock %}

{% block step_content_1 %}

    <div class="row">
      <!-- Main text  -->
      <div class="col-md-12 main-text">

{% endblock %}

{% block step_title %}{% trans "1. General Information" %}{% endblock %}

{% block step_content_2 %}

          {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              {{ form }}
            {% endfor %}
          {% else %}

            <div class="row">
              <div class="col-md-9">
                {{ wizard.form.non_field_errors }}
              </div>
            </div>

            <div class="row{% if display_org %} hidden{% endif %}">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group{% if wizard.form.organization.errors %} has-error{% endif %}">
                      <label for="{{ wizard.form.organization.id_for_label }}">{% trans "Select organization" %}</label>
                      <label class="pull-right control-label">{{ wizard.form.organization.errors }}</label>
                      {% render_field wizard.form.organization class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    {% if init_org_logo %}
                    <div id="org-wrapper">
                      <img class="org-logo {{ init_org_hidden }}" id="org-logo" src="{{ init_org_logo }}" />
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group{% if wizard.form.name.errors %} has-error{% endif %}">
                      <label for="{{ wizard.form.name.id_for_label }}">{% trans "Project name" %}</label>
                      <label class="pull-right control-label">{{ wizard.form.name.errors }}</label>
                      {% render_field wizard.form.name class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-sm-4">
                    {{ wizard.form.access.errors }}
                    {{ wizard.form.access }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <div class="form-group{% if wizard.form.description.errors %} has-error{% endif %}">
                  <label for="{{ wizard.form.description.id_for_label }}">{% trans "Project description" %}</label>
                  <label class="pull-right control-label">{{ wizard.form.description.errors }}</label>
                  {% render_field wizard.form.description class+="form-control" %}
                </div>

                <div class="form-group{% if wizard.form.url.errors %} has-error{% endif %}">
                  <label for="{{ wizard.form.url.id_for_label }}">{% trans "Project URL" %}</label>
                  <label class="pull-right control-label">{{ wizard.form.url.errors }}</label>
                  {% render_field wizard.form.url class+="form-control" placeholder="http://" %}
                </div>
              </div>
            </div>

            <h3>2. Questionnaire</h3>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group{% if wizard.form.questionaire.errors %} has-error{% endif %}">
                  <label for="{{ wizard.form.questionaire.id_for_label }}">{% trans "Select the questionnaire file to use for this project" %}</label>
                  <label class="pull-right control-label">{{ wizard.form.questionaire.errors }}</label>
                  {% render_field wizard.form.questionaire class+="form-control" %}
                  <p class="help-block">Accepted file type: xls</p>
                </div>
              </div>
            </div>

            <h3>3. Contacts</h3>
            <div class="row">
              <div class="col-md-9">
                {% render_field wizard.form.contacts class+="form-control" %}
              </div>
            </div>

          {% endif %}

{% endblock %}

{% block step_content_3 %}

      </div>
    </div>

{% endblock %}
