{% extends "core/base.html" %}

{% block title %} | {{ project.name }}{% endblock %}

{% load leaflet_tags %}
{% load i18n %}

{% block extra_head %}
{% leaflet_css %}
{% endblock %}

{% block extra_script %}
{% leaflet_js %}
<script>
 function project_map_init(map, options) {
   {% if extent %}
   var sw = L.latLng({{ slat }}, {{ wlon }});
   var ne = L.latLng({{ nlat }}, {{ elon }});
   var bounds = L.latLngBounds(sw, ne);
   map.fitBounds(bounds);
   var boundary = L.polygon({{ boundary }});
   boundary.addTo(map);
   {% endif %}
 }
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="inner-header">
      <a class="index-link" href="{% url 'project:list' %}">
        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
      </a>
      <div class="org-logo">
        <img src="{{ object.organization.logo }}" alt="{{ object.organization.name }}" class="org-logo" />
      </div>
      <h2>{{ object.name }}</h2>
      <div class="top-btn pull-right">
        <!-- More options menu -->
        <div class="dropdown pull-right btn-more">
          <a data-target="#" data-toggle="dropdown" class="dropdown-toggle" role="button">
            <span class="icon kabob-icon"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a class="edit" href="#">{% trans "Edit project geometry" %}</a></li>
            <li><a class="edit" href="#">{% trans "Edit project details" %}</a></li>
            <li><a class="edit" href="#">{% trans "Edit project member permissions" %}</a></li>
            <li role="separator" class="divider"></li>
            <li>
              {% if object.archived %}
              <a class="archive" href="#" data-toggle="modal">{% trans "Unarchive project" %}</a>
              {% else %}
              <a class="archive" href="#" data-toggle="modal">{% trans "Archive project" %}</a>
              {% endif %}
            </li>
          </ul>
        </div>
        <!-- Split add button -->
        <div class="btn-group pull-right btn-add">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden=true></span> {% trans "Add location" %}
          </button>
          <button type="button" class="btn btn-default btn-rt dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Add</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Add project resource</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="edit" href="#">{% trans "Import field data" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Sidebar -->
  <div class="col-md-1 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active">
        {% trans "Overview" %}
      </li>
      <li>
        {% trans "Map" %}
      </li>
      <li>
        {% trans "Records" %}
      </li>
      <li>
        {% trans "Resources" %}
      </li>
      <li>
        {% trans "Reports" %}
      </li>
      <li>
        {% trans "Activity" %}
      </li>
    </ul>
  </div>
  <!-- /.sidebar -->
  <!-- Main content -->
  <div class="col-md-11 col-md-offset-1 main main-map">
    <div class="row">
      <!-- Left column map  -->
      <div class="col-md-8 col-map">
        {% leaflet_map "project-map" callback="project_map_init" %}
      </div>
      <!-- /.col-map -->
      <!-- Right column detail  -->
      <div class="col-md-4 col-detail">
        <section class="desc">
          <h3>Project Overview</h3>
          <p>{{ object.description }}</p>
        </section>
        {% if has_content %}
        <section class="stats">
          {% trans "Some statistics here..." %}
        </section>
        {% else %}
        <!-- Starter text -->
        <section class="text">
          <p class="larger">{% trans "You have successfully created your project." %}</p>
          <p class="larger">{% trans "What would you like to do next?" %}</p>

          <div class="btn-view">
            <button class="btn btn-default btn-lg">
              {% trans "Add a parcel" %}
            </button>
            <button class="btn btn-default btn-lg">
              {% trans "Upload data" %}
            </button>
          </div>
          <br/>
          <p>{% trans "Not sure what to do next?  View our Getting Started demo." %}</p>
          <iframe width="420" height="315"
                  src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                  frameborder="0" allowfullscreen>
          </iframe>
        </section>
        {% endif %}
      </div>
      <!-- /.col-detail -->
    </div>
  </div>
  <!-- /.main -->
</div>

{% endblock %}
