{% extends "core/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block top-nav %}project-single{% endblock %}

{% block title %} | {% block page_title %}{% endblock %} {{ object.name }}{% endblock %}

{% block main-width %}-fluid{% if is_project_member %} show-sidebar{% endif %}{% endblock %}

{% block page-header %}
<!-- Single project header -->
<div class="header page-header">
  <div class="page-title">
    <h1 class="{% if is_administrator or is_allowed_add_location or is_allowed_add_resource %}short{% endif %}">
      <a href="{% url 'organization:dashboard' slug=object.organization.slug %}" class="org-name">{{ object.organization.name }}</a>
      {{ object.name }}
      {% if object.access == "private" %}
        <span class="glyphicon glyphicon-eye-close inline small" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="{% trans 'Private project' %}"></span>
      {% endif %}
      {% if object.archived %}
        <span class="label label-danger">{% trans "Archived" %}</span>
      {% endif %}
    </h1>
    <div class="top-btn">

      <!-- Project translation dropdown-->
      {% if form_langs and is_project_member %}
      <div class="langs-select form-group pull-right">
        <label class="control-label sr-only" for="form-langs-select">{% trans "Language for project fields" %}</label>
        <select id="form-langs-select" class="form-control" data-project-slug="{{ object.slug }}" data-default-lang="{{ form_lang_default }}">
          {% for lang in form_langs %}
          <option value="{{ lang.0 }}" {% if lang.0 == form_lang_default %}selected{% endif %}>{{ lang.1 }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

      <!-- More actions menu -->
      {% if is_administrator %}
        <div class="dropdown pull-right btn-add">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-label="{% trans 'More actions' %}" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a class="edit" href="{% url 'organization:project-edit-geometry' object.organization.slug object.slug %}">{% trans "Edit project boundary" %}</a></li>
            <li><a class="edit" href="{% url 'organization:project-edit-details' object.organization.slug object.slug %}">{% trans "Edit project details" %}</a></li>
            <li><a class="edit" href="{% url 'organization:project-edit-permissions' object.organization.slug object.slug %}">{% trans "Edit member permissions" %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'organization:project-import' object.organization.slug object.slug %}" data-toggle="modal">{% trans "Import data" %}</a></li>
            <li><a href="{% url 'organization:project-download' object.organization.slug object.slug %}" data-toggle="modal">{% trans "Export data" %}</a></li>
            <li role="separator" class="divider"></li>
            <li>
              {% if object.archived %}
              <a class="archive" href="#unarchive_confirm" data-toggle="modal">{% trans "Unarchive project" %}</a>
              {% else %}
              <a class="archive" href="#archive_confirm" data-toggle="modal">{% trans "Archive project" %}</a>
              {% endif %}
            </li>
          </ul>
        </div>
      {% endif %}

      <!-- Add locations menu -->
      <div class="btn-group pull-right btn-add visible-sm-inline visible-md-inline visible-lg-block">
        {% if is_allowed_add_location %}
          <a class="btn btn-primary" href="{% url 'locations:add' object.organization.slug object.slug %}" aria-label="{% trans 'Add location' %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add location" %}
          </a>
        {% endif %}
        {% if is_allowed_add_resource or is_allowed_import %}
          <button type="button" class="btn btn-primary btn-rt dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">{% trans "Toggle add" %}</span>
          </button>
          <ul class="dropdown-menu">
            {% if is_allowed_add_resource %}<li><a href="{% url 'resources:project_add_existing' object.organization.slug object.slug %}">{% trans "Add resource" %}</a></li>{% endif %}
            {% if is_allowed_add_resource and is_allowed_import %}<li role="separator" class="divider"></li>{% endif %}
            {% if is_allowed_import %}<li><a href="{% url 'organization:project-import' object.organization.slug object.slug %}" data-toggle="modal">{% trans "Import data" %}</a></li>{% endif %}
          </ul>
        {% endif %}
      </div>

      <!-- Single add button for smaller screens-->
      <div class="dropdown pull-right visible-xs-inline">
        {% if is_allowed_add_location or is_allowed_add_resource %}
        <a data-target="#" data-toggle="dropdown" class="btn btn-primary btn-add dropdown-toggle" role="button" aria-label="{% trans 'Add location' %}">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          {% if is_allowed_add_location %}
          <li><a href="{% url 'locations:add' object.organization.slug object.slug %}">{% trans "Add location" %}</a></li>
          {% endif %}
          <!--<li><a href="#">{% trans "Add party" %}</a></li>-->
          {% if is_allowed_add_resource %}
          <li><a href="{% url 'resources:project_add_existing' object.organization.slug object.slug %}">{% trans "Add resource" %}</a></li>
          {% endif %}
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'organization:project-import' object.organization.slug object.slug %}" data-toggle="modal">{% trans "Import data" %}</a></li>
        </ul>
        {% endif %}
      </div>

    </div>
  </div>
</div>
<!-- / single project header -->
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/xlang.js' %}"></script>
{% endblock %}

{% block sub-nav %}
{% if is_project_member %}
<!-- Sidebar -->
<div id="sidebar" class="{% block left-nav %}{% endblock %}">
  <ul class="nav nav-sidebar">
    <li class="search">
      <a href="#">
        <span class="icon"></span>
        <span class="title">{% trans "Search" %}</span>
      </a>
    </li><!-- needed to eliminate spacing issue on horizontal menus
    --><li class="dashboard">
      <a href="{% url 'organization:project-dashboard' object.organization.slug object.slug %}">
        <span class="icon"></span>
        <span class="title">{% trans "Dashboard" %}</span>
      </a>
    </li><!--
    --><li class="map">
      <a href="{% url 'locations:list' object.organization.slug object.slug %}">
        <span class="icon map"></span>
        <span class="title">{% trans "Data" %}</span>
      </a>
    </li><!--
    --><li class="parties">
      <a href="{% url 'parties:list' object.organization.slug object.slug %}">
        <span class="icon parties"></span>
        <span class="title">{% trans "Parties" %}</span>
      </a>
    </li><!--
    --><li class="resources">
      <a href="{% url 'resources:project_list' object.organization.slug object.slug %}">
        <span class="icon resources"></span>
        <span class="title">{% trans "Resources" %}</span>
      </a>
    </li>
  </ul>
</div>
<!-- /.sidebar -->
<!-- Sidebar search box-->
<div id="sidebar-search-box" class="disabled" data-search-url="{% url 'search:search' object.organization.slug object.slug %}">
  <form action="#" class="form-inline">
    <div class="form-group">
      <label class="control-label sr-only">{% trans "Search within project for" %}</label>
      <input type="text" class="form-control pull-left" placeholder="{% trans 'Search within project' %}" value="">
      <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
  </form>
</div>
<script>
'use strict';
window.addEventListener('load', function() {
  $( '.search').find('.search').click( function(){
   $('.content-single').animate({ scrollTop: 0 }, 'fast');
  });
  $('#sidebar .nav-sidebar .search a').bind('click', function(e) {
    if (!$('#sidebar').hasClass('search')) {
      if ($('#sidebar-search-box').hasClass('disabled')) {
        $('#sidebar-search-box').removeClass('disabled');
        $('#sidebar-search-box input').focus();
      } else {
        $('#sidebar-search-box').addClass('disabled');
      }
    }
  });
  $('#sidebar-search-box form').bind('submit', function(e) {
    var query = $('#sidebar-search-box input')[0].value;
    var url = $('#sidebar-search-box')[0].dataset.searchUrl + '?q=' + encodeURIComponent(query);
    window.location = url;
    return false;
  });
});
</script>
<!-- /.sidebar search box -->
{% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block modals %}
{% if is_project_member %}
{% block form_modal %}{% endblock %}
<div class="modal fade" id="archive_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{% trans "Archive project" %}</h3>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you want to archive this project?" %}</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'organization:project-archive' object.organization.slug object.slug %}" class="btn btn-danger archive-final pull-right" role="button">
          {% trans "Yes, archive this project" %}
        </a>
        <button type="button" class="btn btn-link cancel" data-dismiss="modal">
          {% trans "Cancel" %}
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="unarchive_confirm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{% trans "Unarchive project" %}</h3>
      </div>
      <div class="modal-body">
        <p>
          {% trans "Are you sure you want to unarchive this project?" %}
        </p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'organization:project-unarchive' object.organization.slug object.slug %}" class="btn btn-primary unarchive-final pull-right" role="button">
          {% trans "Yes, unarchive this project" %}
        </a>
        <button type="button" class="btn btn-link cancel cancel-u" data-dismiss="modal">
          {% trans "Cancel" %}
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
{% endblock %}
