{% extends "organization/project_wrapper.html" %}

{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block page_title %}{% trans "Edit project boundary" %} | {% endblock %}
{% block body-class %} map{% endblock %}


{% block extra_head %}
{% leaflet_css plugins="draw,forms" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.8.0/leaflet-geocoder-mapzen.css">
{% endblock %}

{% block extra_script %}
{{ block.super }}
{% leaflet_js plugins="draw,forms" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.8.0/leaflet-geocoder-mapzen.js"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<script>
 $(document).ready(function () {
   $(window).on('map:init', function(e) {
      if (e.detail) {
        var map = e.detail.map;
      } else {
        var map = e.originalEvent.detail.map;
      }
      add_map_controls(map);

      {% if project.extent %}
      var projectExtent = {{ project.extent.geojson|safe }};
      {% else %}
      var projectExtent = null;
      {% endif %}
      if (!projectExtent) {
        map.fitBounds([[-45.0, -180.0], [45.0, 180.0]]);
      }

      // Enable edit mode on map load and save the geometry on page save
      setTimeout(enableMapEditMode, 500);
      $('button.btn-primary[type=submit]')[0].addEventListener('click', saveOnMapEditMode);
   });
 });
</script>
{% endblock %}

{% block left-nav %}overview{% endblock %}

{% block content %}

<form method="POST" action="{% url 'organization:project-edit-geometry' project.organization.slug project.slug %}" data-parsley-validate data-parsley-excluded=":hidden">
{% csrf_token %}
  <div class="col-md-12 content-single">
    <div class="row">
      <!-- Boundary map  -->
      <div class="col-md-8 map">
        {{ form.extent }}
      </div>
      <!-- / Boundary map -->
      <!-- Boundary detail  -->
      <div class="col-md-4 detail detail-edit">
        <h2>{% trans "Edit project boundary" %}</h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              {% blocktrans %}Use the tools provided on the left side of the map to update your project boundary. Once complete, select the save button below.{% endblocktrans %}
            </p>
            <div class="alert alert-info alert-full clearfix row" role="alert">
              <div class="pull-left"><span class="glyphicon glyphicon-info-sign"></span></div>
              <div>
              {% blocktrans %}We encourage you to mark the area in which your project takes place (if your project doesn't include the entire world). This makes interactions simpler and also helps other users to find your project.{% endblocktrans %}
              </div>
            </div>
          </div>
          <div class="panel-footer panel-buttons">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'organization:project-dashboard' project.organization.slug project.slug %}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
          </div>
        </div>
      </div>
      <!-- / Boundary detail -->
    </div>
  </div>
</form>

{% endblock %}
