{% extends "organization/project_add_wrapper.html" %}

{% load i18n %}

{% block step_title %}{% trans "Assign project permissions" %}{% endblock %}

{% block step_description %}
{% blocktrans %}
Not able to find a member?  Organization administrators must first
invite users to join your organization before permissions can be assigned.
{% endblocktrans %}
{% endblock %}

{% block step_content %}

{{ wizard.management_form }}
{% if wizard.form.forms %}
{{ wizard.form.management_form }}
{% for form in wizard.form.forms %}
{{ form }}
{% endfor %}
{% else %}

<table class="table table-striped datatable" data-paging-type="simple">
  <thead>
    <tr>
      <th class="col-md-2">{% trans "Member" %}</th>
      <th class="col-md-3">{% trans "Email address" %}</th>
      <th class="col-md-4">{% trans "Permissions" %}</th>
    </tr>
  </thead>
  {% for user in members %}
  <tr>
    <td>
      <p>{{ user.first_name }} {{ user.last_name }}</p>
      <p>{{ user.username }}</p>
    </td>
    <td>{{ user.email }}</td>
    <td>
      {% if user.is_admin %}
      {% trans "Administrator" %}
      {% else %}
      <select id="perms-{{ user.index }}" name="{{ user.username }}"
              class="form-control">
        <option value="PU">{% trans "Project User" %}</option>
        <option value="DC">{% trans "Data Collector" %}</option>
        <option value="PM">{% trans "Project Manager" %}</option>
      </select>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endif %}

{% endblock %}
