{% extends "organization/project_wrapper.html" %}

{% load i18n %}

{% load staticfiles %}
{% load leaflet_tags %}

{% block extra_head %}
{% leaflet_css plugins="groupedlayercontrol" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.8.0/leaflet-geocoder-mapzen.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.9/select2-bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/leaflet.toolbar.css' %}">
{% endblock %}

{% block extra_script %}
{{ block.super }}
{% leaflet_js plugins="groupedlayercontrol" %}
<script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
<script src="https://cdn.rawgit.com/jquery/jquery-ui/1.12.1/ui/i18n/datepicker-{{ LANGUAGE_CODE }}{% if LANGUAGE_CODE == 'en' %}-GB{% endif %}.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'buckets/js/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.8.0/leaflet-geocoder-mapzen.js"></script>
<script type="text/javascript" src="{% static 'js/dataTables/dataTables.forms.js' %}"></script>
<script type="text/javascript" src="{% static 'js/parsley/sanitize.js' %}"></script>
<script>
  var url = '/async/organizations/' +
      '{{ project.organization.slug }}/projects/{{ project.slug }}/spatial/tiled/{z}/{x}/{y}';
  var fetch_spatial_resources = '/api/v1/organizations/' +
      '{{ project.organization.slug }}/projects/{{ project.slug }}/spatialresources/';
  var trans = {open: "{% trans 'Open location' %}",
               current_viewing: "{% trans 'Currently viewing' %}",
               // page_title(s)
               project_overview: '{% trans " Overview " %}',
               project_map: '{% trans " Project Map " %}',
               location_add: '{% trans " Add location " %}',
               location_detail: '{% trans " Location detail " %}',
               location_edit: '{% trans " Edit location " %}',
               location_resource_new: '{% trans " Upload new resource for location " %}',
               location_resource_add: '{% trans " Add resource for location " %}',
               location_delete:'{% trans " Delete location " %}',
               rel_add: '{% trans " Add relationship " %}',
               rel_detail: '{% trans " Relationship detail " %}',
               rel_edit: '{% trans " Edit relationship " %}',
               rel_resource_add: '{% trans " Add resource for relationship " %}',
               rel_resource_new: '{% trans " Upload new resource for relationship " %}',
               rel_delete: '{% trans " Delete relationship " %}',
             };

  {% if project.extent %}
    var projectExtent = {{ project.extent.geojson|safe }};
  {% else %}
    var projectExtent = null;
  {% endif %}
  var options = {
    projectExtent: projectExtent,
    trans: trans,
    fitBounds: 'project',
    project_slug: '{{ project.slug }}',
    org_slug: '{{ project.organization.slug }}',
    num_locations: {{ locations_count }},
  }

  var layers = {{ leaflet_tiles|safe }}

</script>
<script src="{% static 'js/smap/dist/smap.min.js' %}"></script>
{% endblock %}

{% block page_title %}{% trans "Overview" %} | {% endblock %}
{% block body-class %} map{% endblock %}
{% block left-nav %}overview{% endblock %}

{% block content %}
<div class="col-md-12 content-single">
  <div class="row">
    <!-- Start overview map  -->
    <div class="col-md-8 map" id="project-map">
      <div id="mapid"></div>
    </div>
    <!-- / end overview map -->
    <!-- Overview detail  -->
    <div class='col-md-4 detail' id='project-detail'>
    </div>
  </div>
  <!-- / overview detail -->
</div>
{% endblock %}
