{% extends "organization/project_wrapper.html" %}

{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block project_main %}

<form class="col-md-11 col-md-offset-1 main" method="POST" action="{% url 'organization:project-edit-permissions' project.organization.slug project.slug %}">
  {% csrf_token %}
  <table class="table table-striped datatable" data-paging-type="simple">
    <thead>
      <tr>
        <th class="col-md-2">{% trans "Member" %}</th>
        <th class="col-md-3">{% trans "Email address" %}</th>
        <th class="col-md-4">{% trans "Permissions" %}</th>
      </tr>
    </thead>
    {% for field in form %}
      {% render_field field class+="form-control" %}
    {% endfor %}
  </table>

  <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
  <a class="btn btn-default" href="{% url 'organization:project-dashboard' project.organization.slug project.slug %}">{% trans "Cancel" %}</a>
</form>

{% endblock %}
