{% extends "organization/project_wrapper.html" %}

{% load i18n %}
{% load leaflet_tags %}

{% block extra_head %}
{% leaflet_css %}
{% endblock %}

{% block extra_script %}
{% leaflet_js %}
<script>
 function project_map_init(map, options) {
   {% if extent %}
   var sw = L.latLng({{ slat }}, {{ wlon }});
   var ne = L.latLng({{ nlat }}, {{ elon }});
   var bounds = L.latLngBounds(sw, ne);
   map.fitBounds(bounds);
   var boundary = L.polygon({{ boundary }});
   boundary.addTo(map);
   {% endif %}
 }
</script>
{% endblock %}

{% block left-nav %}overview{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Start overview map  -->
    <div class="col-md-8 map">
      {% leaflet_map "project-map" callback="project_map_init" %}
    </div>
    <!-- / end overview map -->
    <!-- Overview detail  -->
    <div class="col-md-4 detail">
      <section>
        <h2>Project Overview</h2>
        <p>{{ object.description }}</p>
        {% if has_content %}
          {% trans "Some statistics here..." %}
        {% else %}
          <div class="divider-thick"></div>
          <!-- Starter text -->
          <h3 style="text-transform: capitalize;">{% trans "Congratulations!" %}</h3> 
          <p>{% trans "You have successfully created your project.  You're now ready to add your first location." %}</p>
          <div class="btn-full">
            <a class="btn btn-primary btn-lg" href="{% url 'locations:add' object.organization.slug object.slug %}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add a location" %}
            </a>
          </div>
        {% endif %}
      </section>
    </div>
    <!-- / overview detail -->
  </div>
</div>

{% endblock %}
