{% extends "organization/project_import_wrapper.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block extra_script %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block step_content %}

{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}

  <div class="panel panel-default">

    <div class="panel-body">
      <h3>{% trans "Select import fields" %}</h3>
      <div class="row">
        <div class="col-md-12">
          {{ wizard.form.non_field_errors }}
          {% if object.current_questionnaire and attr_map %}
          <p>{% trans "The following attribute fields can be imported.  To prevent a field from being imported, deselect the checkbox in the right column." %}</p>
          <table id="import-mapping" class="table table-hover">
            <thead>
              <tr>
                <th>{% trans "CSV Column" %}</th>
                <th>{% trans "Schema Attribute" %}</th>
                <th>{% trans "Content Type" %}</th>
                <th>{% trans "Required" %}</th>
                <th>{% trans "Import" %}</th>
              </tr>
            </thead>
            <tbody>
            {% for content_type, attributes in attr_map.items %}
              {% for header, attr in attributes.items %}
              <tr>
              {% if attr %}
                <td>{{ header }}</td>
                <td>{{ attr.0.name }}</td>
                <td>{{ attr.2 }}</td>
                <td>{{ attr.0.required }}</td>
                <td>
                    <input type="checkbox" name="attributes" value="{{content_type}}::{{header}}" {% if attr.0.required %} disabled {% endif %} checked /> {% if attr.0.required %}
                    <input type=hidden name="attributes" value="{{content_type}}::{{header}}" /> {% endif %}
                </td>
              {% endif %}
              </tr>
              {% endfor %}
            {% endfor %}
            </tbody>
          </table>
          {% elif object.current_questionnaire and not attr_map %}
          <div class="alert alert-warning alert-full clearfix row" role="alert">
            <div class="text-center">
              <span class="glyphicon glyphicon-warning-sign"></span>
            </div>
            <div>
              <p>{% trans "We could not match any import fields to attributes in your project schema." %}</p>
            </div>
          </div>
          {% endif %}

          {% if object.current_questionnaire and extra_headers %}
            <div class="alert alert-warning alert-full clearfix row" role="alert">
              <div class="text-center">
                <span class="glyphicon glyphicon-warning-sign"></span>
              </div>
              <div>
                <p>{% trans "The following import fields have no corresponding attribute in your project schema:" %}</p>
                <div class="well">
                  {{ extra_headers|join:" / "}}
                </div>
              </div>
            </div>
          {% else %}
          <div class="alert alert-full clearfix row">
            <div>
              <p>{% trans "The following fields can be imported:" %}</p>
              <div class="well">
                {{ extra_headers|join:" / "}}
              </div>
            </div>
          </div>
          {% endif %}

          {% if extra_attrs %}
          <div class="alert alert-warning alert-full clearfix row" role="alert">
            <div class="text-center">
              <span class="glyphicon glyphicon-warning-sign"></span>
            </div>
            <div>
              <p>{% trans "The following attributes were found in your schema but do not correspond to any import fields." %}</p>
              <div class="well">
                {{ extra_attrs|join:" / "}}
              </div>
            </div>
          </div>
          {% endif %}
          <input type="hidden" value="{{ extra_headers|join:',' }}" name="extra_headers" />
        </div>
      </div>
    </div>

    <div class="panel-footer panel-buttons clearfix">
      <div class="btn-group btn-reverse pull-right" role="group">
        <button id="map_attributes-next" class="btn btn-primary pull-right" type="submit">
          {% trans 'Next' %}
          <span class="glyphicon glyphicon-triangle-right"></span>
        </button>
        <button class="btn btn-default btn-details-previous" type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
          <span class="glyphicon glyphicon-triangle-left"></span> {% trans "Previous" %}
        </button>
      </div>
      <a class="btn btn-link pull-left cancel" href="{% url 'organization:project-dashboard' object.organization.slug object.slug %}">{% trans "Cancel" %}</a>
    </div>

  </div>

{% endif %}

{% endblock %}
