{% extends "organization/project_wrapper.html" %}

{% load i18n %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block extra_head %}
{% leaflet_css plugins="groupedlayercontrol"%}
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
{% endblock %}

{% block extra_script %}
{% leaflet_js plugins="groupedlayercontrol"%}
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/L.Map.Deflate.js' %}"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<script src="https://cdn.rawgit.com/ghybs/Leaflet.MarkerCluster.LayerSupport/3d4c4f24a008d6983a8f98b1c823f9a05ad62f80/leaflet.markercluster.layersupport-src.js"></script>
<script>
  function project_map_init(map, options) {
    var trans = {
      open: "{% trans 'Open location' %}"
    };

    switch_layer_controls(map, options);

    {% if project.extent %}
    var projectExtent = {{ project.extent.geojson|safe }};
    {% else %}
    var projectExtent = null;
    {% endif %}
    var spatialUnits = {{ geojson|safe }};

    renderFeatures(map, projectExtent, spatialUnits, trans, 'locations');

    var orgSlug = '{{ project.organization.slug }}';
    var projectSlug = '{{ project.slug }}';
    var url = '/api/v1/organizations/'
            + orgSlug + '/projects/' + projectSlug + '/spatialresources/';
    add_spatial_resources(map, url);
  }
</script>
{% endblock %}

{% block page_title %}{% trans "Overview" %} | {% endblock %}
{% block body-class %} map{% endblock %}
{% block left-nav %}overview{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Start overview map  -->
    <div class="col-md-8 map">
      {% leaflet_map "project-map" callback="project_map_init" %}
    </div>
    <!-- / end overview map -->
    <!-- Overview detail  -->
    <div class="col-md-4 detail">
      <section>
        <h2>{% trans "Project Overview" %}</h2>
        <p>{{ object.description }}</p>
        {% if object.urls.0 %}
          <p><a href="{{ object.urls.0 }}" target="_blank"><span class="glyphicon glyphicon-globe"></span>{{ object.urls.0 }}</a></p>
        {% endif %}
        {% if object.contacts %}
          <h4>Contact information</h4>
          <dl class="contacts">
          {% for contact in object.contacts %}
            <dt>{{ contact.name }}</dt>
            <dd class="clearfix">
              {% if contact.email %}<a href="mailto:{{ contact.email }}"><span class="glyphicon glyphicon-envelope"></span>{{ contact.email }}</a>{% endif %}
              {% if contact.tel %} <a href="tel:{{ contact.tel }}"><span class="glyphicon glyphicon-earphone"></span>{{ contact.tel }}</a>{% endif %}
            </dd>
          {% endfor %}
          </dl>
        {% endif %}
        <div class="divider-thick"></div>
          {% if has_content or not is_allowed_add_location %}
          <h4>{% trans "Project stats" %}</h4>
          <ul class="list-inline stats">
            <li>
              {% blocktrans count counter=num_locations %}
              <div class="num">{{ counter }}</div> location
              {% plural %}
              <div class="num">{{ counter }}</div> locations
              {% endblocktrans %}
            </li>
            <li>
              {% blocktrans count counter=num_parties %}
              <div class="num">{{ counter }}</div> party
              {% plural %}
              <div class="num">{{ counter }}</div> parties
              {% endblocktrans %}
            </li>
            <li>
              {% blocktrans count counter=num_resources %}
              <div class="num">{{ counter }}</div> resource
              {% plural %}
              <div class="num">{{ counter }}</div> resources
              {% endblocktrans %}
            </li>
          </ul>
        {% else %}
          <!-- Starter text -->
          <h3 style="text-transform: capitalize;">{% trans "Congratulations!" %}</h3>
          <p>{% trans "You have successfully created your project.  You're now ready to add your first location." %}</p>
        {% endif %}
        {% if is_allowed_add_location %}
        <div class="btn-full">
          <a class="btn btn-primary" href="{% url 'locations:add' object.organization.slug object.slug %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add a location" %}
          </a>
        </div>
        {% endif %}
      </section>
    </div>
    <!-- / overview detail -->
  </div>
</div>

{% endblock %}
