{% extends "organization/project_wrapper.html" %} 

{% load i18n %}

{% block top-nav %}project-single{% endblock %}

{% block page_title %}{% trans "Import Data" %} | {% endblock %}

{% block content %}

<form method="POST" action="" enctype="multipart/form-data" data-parsley-validate>
  {% csrf_token %}
  <div class="col-md-12 content-single">
    <div class="row">
      <!-- Main text  -->
      <div class="col-md-12 main-text">
        <div class="page-title">
          <div class="wizard pull-right">
            <ul class="steps">
              <li class="{{ wizard_step_classes.select_file }}">
                <a><label class="wizard-step">1</label></a>
              </li>
              <li class="{{ wizard_step_classes.map_attributes }}">
                <a><label class="wizard-step">2</label></a>
              </li>
              <li class="{{ wizard_step_classes.select_defaults }}">
                <a><label class="wizard-step">3</label></a>
              </li>
            </ul>
          </div>
          <h2 class="pull-left">{% trans "Import project data" %}</h2>
        </div>

        {% block step_content %}{% endblock %}

      </div>
      <!-- /main text  -->
    </div>
  </div>
</form>

{% endblock %}
