{% extends "organization/project_import_wrapper.html" %} {% load i18n %} {% load widget_tweaks %} {% block extra_script %} {{ block.super }} {{ form.media }} {% endblock %} {% block step_content %} {{ wizard.management_form }} {% if wizard.form.forms %} {{ wizard.form.management_form
}} {% for form in wizard.form.forms %} {{ form }} {% endfor %} {% else %}

<div class="panel panel-default">
    <div class="panel-body">
        <h3>{% trans "Configure default fields" %}</h3>
        <p>{% trans "Match the fields and select the default values below." %}</p>
        {% if 'PT' in entity_types %}
        <div id="party">
            <h4 class="div">{% trans "Party" %}</h4>
            <div class="row">
                <div class="form-group col-md-4{% if wizard.form.party_name_field.errors %} has-error{% endif %}">
                    <label class="control-label" for="{{ wizard.form.party_name_field.id_for_label }}">
                        {% blocktrans %}Select the <span class="highlight">Party name</span> field{% endblocktrans %}
                    </label>
                    <select id="party_name_field" class="form-control" name="select_defaults-party_name_field">
                        {% for header in available_headers %}
                        <option value="{{ header }}" {% if 'name' in header %} selected="selected" {% endif %}>
                            {% if header == 'type' %}
                                party_type
                            {% else %}
                                {{ header }}
                            {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4{% if wizard.form.party_type_field.errors %} has-error{% endif %}">
                    <label class="control-label padded" for="{{ wizard.form.party_type_field.id_for_label }}">
                        {% blocktrans %}Select the <span class="highlight">Party type</span> field{% endblocktrans %}
                    </label>
                    <select id="party_type_field" class="form-control" name="select_defaults-party_type_field">
                        {% for header in available_headers %}
                        <option value="{{ header }}" {% if 'type' in header %} selected="selected" {% endif %}>
                            {% if header == 'type' %}
                                party_type
                            {% else %}
                                {{ header }}
                            {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'SU' in entity_types %}
        <div id="location">
            <h4 class="div">{% trans "Location" %}</h4>
            <div class="row">
                <div class="form-group col-md-4{% if wizard.form.geometry_field.errors %} has-error{% endif %}">
                    <label class="control-label" for="{{ wizard.form.geometry_field.id_for_label }}">
                        {% blocktrans %}Select the <span class="highlight">Geometry</span> field{% endblocktrans %}
                    </label>
                    <select id="geometry_field" class="form-control" name="select_defaults-geometry_field">
                        {% for header in available_headers %}
                        <option value="{{ header }}" {% if 'geo' in header %} selected="selected" {% endif %}>
                            {% if header == 'type' %}
                                location_type
                            {% else %}
                                {{ header }}
                            {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4{% if wizard.form.location_type_field.errors %} has-error{% endif %}">
                    <label class="control-label padded" for="{{ wizard.form.location_type_field.id_for_label }}">
                        {% blocktrans %}Select the <span class="highlight">Location type</span> field{% endblocktrans %}
                    </label>
                    <select id="location_type_field" class="form-control" name="select_defaults-location_type_field">
                        {% for header in available_headers %}
                        <option value="{{ header }}" {% if 'type' in header %} selected="selected" {% endif %}>
                            {% if header == 'type' %}
                                location_type
                            {% else %}
                                {{ header }}
                            {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="panel-footer panel-buttons clearfix">
        <div class="btn-group btn-reverse pull-right" role="group">
            <button id="finish" class="btn btn-primary pull-right" type="submit">
                {% trans 'Finish' %}
                <span class="glyphicon glyphicon-triangle-right"></span>
            </button>
            <button class="btn btn-default" type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
                <span class="glyphicon glyphicon-triangle-left"></span> {% trans "Previous" %}
            </button>
        </div>
        <a class="btn btn-link pull-left cancel" href="{% url 'organization:project-dashboard' object.organization.slug object.slug %}">{% trans "Cancel" %}</a>
    </div>
</div>

{% endif %} {% endblock %}
