{% extends "account/base.html" %}

{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block top-nav %}registration{% endblock %}
{% block body-class %} tinted-bg{% endblock %}

{% block title %} | {% trans "Sign In" %}{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div id="messages">
  {% for message in form.non_field_errors %}
  <div class="alert alert-dismissible alert-danger"
       role="alert">
    <button type="button" class="close" data-dismiss="alert"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message|escape }}
  </div>
  {% endfor %}
</div>
{% endif %}

{% if 'next' in request.GET %}

<div id="messages">
  <div class="alert alert-warning alert-dismissible fade in" role="alert"> 	
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">×</span>
    </button> 
    You must log in to continue.
  </div>
</div>

{% endif%}


<form class="login-form form-narrow" method="POST" action="{% url 'account_login' %}" novalidate>
  <h1>{% trans "Sign in to your account" %}</h1>

  {% csrf_token %}

  <div class="form-group{% if form.login.errors %} has-error{% endif %}">
    <label for="id_login">Username</label>
    <label class="pull-right control-label">{{ form.login.errors }}</label>
    {% render_field form.login class+="form-control input-lg" placeholder="" %}
  </div>

  <div class="form-group{% if form.password.errors %} has-error{% endif %}">
    <label for="id_password">Password</label>
    <label class="pull-right control-label">{{ form.password.errors }}</label>
    {% render_field form.password class+="form-control input-lg" placeholder="" %}
  </div>

  <div class="small pull-right">
    <a href="{% url 'account_reset_password' %}">
      {% trans "Forgotten password?" %}
    </a>
  </div>

  <div class="checkbox pull-left">
    <label>
      <input id="id_remember" label="Remember me"
             name="remember" type="checkbox" />
      Remember me
    </label>
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button name="sign-in" type="submit"
          class="btn btn-primary btn-lg btn-block text-uppercase">
    {% trans "Sign In" %}
  </button>

  <p class="text-center">
    Don't have an account?
    <a href="{% url 'account_signup' %}">Register here</a>
  </p>
</form>

{% endblock %}
