{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set form-narrow" data-parsley-validate>
    {% csrf_token %}
        <h1>{% trans "Set password" %}</h1>
		{{ form.as_p }}
        <input class="btn btn-block btn-primary btn-lg text-uppercase" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>

{% endblock %}