{% extends "account/base.html" %}

{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block title %} | {% trans "Password Reset" %}{% endblock %}

{% block content %}

<form method="POST" action="{% url 'account_reset_password' %}"
      class="login-form form-narrow" data-parsley-validate>
  <h1>{% trans "Reset your password" %}</h1>

  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  {% csrf_token %}

  <div class="form-group{% if form.email.errors %} has-error{% endif %}">
    <label class="control-label" for="id_email">{% trans "Enter email" %}</label>
    {% render_field form.email class+="form-control input-lg" placeholder="" data-parsley-required="true" %}
    <div class="error-block">{{ form.email.errors }}</div>
  </div>

  <input type="submit" value="{% trans 'Reset password' %}"
         class="btn btn-primary btn-lg btn-block text-uppercase" />
</form>

{% endblock %}
