{% extends "account/base.html" %}

{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_script %}

<script type="text/javascript">

  // checks password 3 out of 4 character requirement
  window.Parsley
    .addValidator('character', function (value, requirement) {
      var isNumeric = + /\d+/.test(value),
        isCapitals  = + /[A-Z]+/.test(value),
        isSmall     = + /[a-z]+/.test(value),
        isSpecial   = + /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/.test(value);
      if (isNumeric + isCapitals  + isSmall + isSpecial < requirement) {
        return false;
      }
    }, 3)
    .addMessage('character', 'Your password must contain at least 3 of the following: lowercase characters, uppercase characters, special characters, and/or numerical characters.');

  // checks username not contained in password
  window.Parsley
    .addValidator('username', function (value, requirement) {
      var term = "{{ user.username }}";
      if (value.indexOf(term) >= 0) {
        return false;
      }
    }, 2)
    .addMessage('username', 'Your password cannot contain your username.');

  // checks email not contained in password
  window.Parsley
    .addValidator('email', function (value, requirement) {
      var term = "{{ user.email }}".split("@");
      if (value.indexOf(term[0]) >= 0) {
        return false;
      }
    }, 2)
    .addMessage('email', 'Your password cannot contain your email mailbox name.');

</script>

{% endblock %}

{% block content %}

<div class="narrow">
    <h1>{% if token_fail %}{% trans "Bad token" %}{% else %}{% trans "Change your password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="." data-parsley-validate>
                {% csrf_token %}

                <div class="form-group{% if form.password1.errors %} has-error{% endif %}">
                    <label class="control-label" for="id_password1">{% trans "Enter a new password" %}</label>
                    {% render_field form.password1 class+="form-control input-lg" placeholder="" data-parsley-required="true" data-parsley-minlength="10" data-parsley-character="3" data-parsley-username="1" data-parsley-email="1" %}
                    <p class="help-block small">Passwords must have a minimum of 10 characters and contain at least 3 of the following: lowercase characters, uppercase characters, special characters, and/or numerical characters.  Passwords cannot contain the username or email address.</p>
                    <div class="error-block">{{ form.password1.errors }}</div>
                </div>

                <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
                    <label class="control-label" for="id_password2">{% trans "Confirm the new password" %}</label>
                    {% render_field form.password2 class+="form-control input-lg" placeholder="" data-parsley-required="true" data-parsley-equalto="#id_password1" %}
                    <div class="error-block">{{ form.password2.errors }}</div>
                </div>

                <input class="btn btn-primary btn-lg btn-block text-uppercase" type="submit" name="action" value="{% trans 'Change password' %}"/>

            </form>
        {% else %}
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}