{% extends "account/base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function() {
      $("input[name='password1']").on('focus', function() {
          $(this).parent().next(".help-block").removeClass("hidden");
      });
    });
  </script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".input-group-btn > button").click(function() {
        var glyph = $(this).children(".glyphicon");
        if(glyph.hasClass("glyphicon-eye-close")) {
          $(this).parent().prev("input").attr("type", "text");
          glyph.removeClass("glyphicon-eye-close");
          glyph.addClass("glyphicon-eye-open");
        }
        else {
          $(this).parent().prev("input").attr("type", "password");
          glyph.removeClass("glyphicon-eye-open");
          glyph.addClass("glyphicon-eye-close");
        }
      });
   });
  </script>
<script src="{% static 'js/parsleyAddValidator.js' %}"></script>
{% endblock %}

{% block content %}

<div class="narrow">
    <h1>{% if token_fail %}{% trans "Bad token" %}{% else %}{% trans "Change your password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="." data-parsley-validate>
                {% csrf_token %}

                <div class="form-group{% if form.password1.errors %} has-error{% endif %}">
                    <label class="control-label" for="id_password1">{% trans "Enter a new password" %}</label>
                    <div class="input-group input-group-lg">
                    {% render_field form.password1 class+="form-control input-lg" placeholder="" data-parsley-required="true" data-parsley-minlength="10" data-parsley-character="3" data-parsley-userfield="1" data-parsley-emailfield="1" %}
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                           <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </button>
                    </span>
                    </div>
                    <p class="help-block small">{% trans "Passwords must have a minimum of 10 characters and contain at least 3 of the following: lowercase characters, uppercase characters, special characters, and/or numerical characters.  Passwords cannot contain the username or email address." %}</p>
                    <div class="error-block">{{ form.password1.errors }}</div>
                </div>

                <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
                    <label class="control-label" for="id_password2">{% trans "Confirm the new password" %}</label>
                    <div class="input-group input-group-lg">
                    {% render_field form.password2 class+="form-control input-lg" placeholder="" data-parsley-required="true" data-parsley-equalto="#id_password1" %}
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                           <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </button>
                    </span>
                    </div>
                    <div class="error-block">{{ form.password2.errors }}</div>
                </div>

                <input class="btn btn-primary btn-lg btn-block text-uppercase" type="submit" name="action" value="{% trans 'Change password' %}"/>

            </form>
        {% else %}
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
