{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="narrow">

    <h1>{% trans "Password reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Your email address has been submitted. If it matches your account on the Cadasta Platform, you will receive an email shortly with instructions for resetting your password. Please <a href="mailto:support@cadasta.org">contact us</a> if you require assistance.{% endblocktrans %}</p>

</div>

{% endblock %}
