{% extends "account/base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}

{% block top-nav %}registration{% endblock %}
{% block body-class %} tinted-bg{% endblock %}

{% block title %} | {% trans "Register" %}{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function() {
    $("input[name='password']").on('focus', function() {
      $(this).parent().next(".help-block").removeClass("hidden");
    });
  });
</script>
<script src="{% static 'js/password_widget.js' %}"></script>
<script src="{% static 'js/parsleyAddValidator.js' %}"></script>
{{ form.media }}
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div id="messages">
  {% for message in form.non_field_errors %}
  <div class="alert alert-dismissible alert-danger"
       role="alert">
    <button type="button" class="close" data-dismiss="alert"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message|escape }}
  </div>
  {% endfor %}
</div>
{% endif %}

<form class="account-register form-narrow" id="signup_form" method="POST"
      action="{% url 'account_signup' %}" data-parsley-validate>
  <h1>{% trans "Register for a free account" %}</h1>
  {% csrf_token %}

  <div class="form-group{% if form.username.errors %} has-error{% endif %}">
    <label class="control-label" for="id_username">{% trans "Choose your username" %}</label>
    {% render_field form.username class+="form-control input-lg" data-parsley-minlength="3" data-parsley-sanitize="1" %}
    <div class="error-block">{{ form.username.errors }}</div>
  </div>

  <div class="form-group{% if form.email.errors %} has-error{% endif %}">
    <label class="control-label" for="id_email">{% trans "Email" %}</label>
    {% render_field form.email class+="form-control input-lg" data-parsley-sanitize="1" %}
    <div class="error-block">{{ form.email.errors }}</div>
  </div>

  <div class="form-group{% if form.phone.errors %} has-error{%endif%}">
  <label class="control-label" for="id_phone">{% trans "Phone" %}</label>
  {% render_field form.phone class+='form-control input-lg' data-parsley-santize="1" %}
  <div class="error-block">{{form.phone.errors}}</div>
  </div>

  <div class="form-group{% if form.password.errors %} has-error{% endif %}">
    <label class="control-label" for="id_password">{% trans "Password" %}</label>
    <div class="input-group input-group-lg">
      {% render_field form.password class+="form-control" data-parsley-minlength="10" data-parsley-character="3" data-parsley-userfield="1" data-parsley-emailfield="1" data-parsley-sanitize="1" %}
      <span class="input-group-btn">
        <button class="btn" type="button">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </button>
      </span>
    </div>
    <p class="help-block small hidden">{% trans "Passwords must have a minimum of 10 characters and contain at least 3 of the following: lowercase characters, uppercase characters, special characters, and/or numerical characters.  Passwords cannot contain the username or email address or phone." %}</p>
    <div class="error-block">{{ form.password.errors }}</div>
  </div>

  <div class="form-group{% if form.full_name.errors %} has-error{% endif %}">
    <label class="control-label" for="id_full_name">{% trans "Full name" %}</label>
    {% render_field form.full_name class+="form-control input-lg" data-parsley-sanitize="1" %}
    <div class="error-block">{{ form.full_name.errors }}</div>
  </div>

  <div class="form-group{% if form.language.errors %} has-error{% endif %}">
    <label class="control-label" for="id_language">{% trans "Your preferred language" %}</label>
    {% render_field form.language class+="form-control input-lg" %}
    <div class="error-block">{{ form.language.errors }}</div>
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" name="register"
          class="btn btn-primary btn-lg btn-block text-uppercase">
    {% trans "Register" %}
  </button>

  <p class="text-center">
    {% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in</a>{% endblocktrans %}
  </p>
</form>

{% endblock %}
