{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block body-class %} map{% endblock %}
{% block left-nav %}map{% endblock %}

{% load leaflet_tags %}
{% load staticfiles %}

{% block extra_head %}
{% leaflet_css plugins="groupedlayercontrol"%}
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
{% endblock %}

{% block extra_script %}
{{ block.super }}
{% leaflet_js plugins="groupedlayercontrol" %}
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/L.Map.Deflate.js' %}"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<!-- Detail extra script-->
<script>
  function locations_map_init(map, options) {
    var trans = {
      open: "{% trans 'Open location' %}"
    };

    switch_layer_controls(map, options);

    {% if is_project_member or is_superuser %}
      var projectUser = true;
    {% else %}
      var projectUser = false;
    {% endif %}

    {% if object.extent %}
    var projectExtent = {{ object.extent.geojson|safe }};
    {% else %}
    var projectExtent = null;
    {% endif %}

    var data = {{ location.geometry.geojson|safe }};
    var currentlocation = L.geoJson(data, {
      style: {color: '#edaa00', fillColor: '#edaa00', weight: 3},
      onEachFeature: function(feature, layer) {
        layer.bindPopup("<div class=\"text-wrap\">" +
                       "<h2><span class=\"entity\">Location</span>{{ location.get_type_display }}</h2></div>" +
                       "<div class=\"btn-wrap\"><span class=\"btn-sm btn-block\">{% trans 'Currently viewing' %}</span>" +
                       "</div>");
      }
    });

    renderFeatures(map,
                   '{% url "async:spatial:list" object.organization.slug object.slug %}?exclude={{location.id}}',
                   {projectExtent: projectExtent, trans: trans, location: currentlocation, projectUser: projectUser});

    var orgSlug = '{{ object.organization.slug }}';
    var projectSlug = '{{ object.slug }}';
    var url = '/api/v1/organizations/'
            + orgSlug + '/projects/' + projectSlug + '/spatialresources/';
    add_spatial_resources(map, url);
  }

  $(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
  });
  $(window).on('popstate', function() {
      var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
      $('a[href=' + anchor + ']').tab('show');
  });
</script>
{% block location_extra_script %}{% endblock %}
{% endblock %}

{% block content %}

<div class="col-sm-12 content-single">
  <div class="row">
    <!-- Start overview map  -->
    <div class="col-md-8 map">
      {% leaflet_map "project-map" callback="locations_map_init" %}
    </div>
    <!-- / end overview map -->
    <!-- Overview detail  -->
    {% block location_panel %}{% endblock %}
    <!-- / overview detail -->
  </div>
</div>
{% endblock %}
