{% extends "spatial/location_wrapper.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}Location detail | {% endblock %}

{% block location_panel %}

<div class="page-title">
  <h2>Location</h2>
  <div class="top-btn pull-right">
    <!-- More options menu -->
    <div class="dropdown pull-right btn-more">
        <a data-target="#" data-toggle="dropdown" class="dropdown-toggle" role="button">
          <span class="more-menu glyphicon glyphicon-option-vertical"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="{% url 'locations:edit' object.organization.slug object.slug location.id %}">{% trans "Edit location" %}</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'locations:delete' object.organization.slug object.slug location.id %}">{% trans "Delete location" %}</a></li>
        </ul>
      </div>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">{% trans "Overview" %}</a></li>
  <li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab">{% trans "Relationships" %}</a></li>
  <li role="presentation"><a  href="#resources" aria-controls="resources" role="tab" data-toggle="tab">{% trans "Resources" %}</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="overview">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><strong>Type</strong></td>
          <td>{{ location.get_type_display }}</td>
        </tr>
        {% for attr in attributes %}
        <tr>
          <td><strong>{{ attr.0 }}</strong></td>
          <td>{{ attr.1 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div role="tabpanel" class="tab-pane" id="relationships">
    <table class="table table-hover datatable" data-paging-type="simple">
      <thead>
        <tr>
          <th>{% trans "Relationship type" %}</th>
          <th>{% trans "Party" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for rel in relationships %}
        <tr class="linked" onclick="window.document.location='{% url 'parties:relationship_detail' object.organization.slug object.slug rel.id %}';">
          <td>{{ rel.tenure_type.label }}</td>
          <td><a href="{% url 'parties:detail' object.organization.slug object.slug rel.party.id %}">{{ rel.party.name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'locations:relationship_add' object.organization.slug object.slug location.id %}" class="btn btn-primary btn-block">
      {% trans "Add new relationship" %}
    </a>
  </div>

  <div role="tabpanel" class="tab-pane" id="resources">
    {% include 'resources/table_sm.html' with object_list=location.resources %}
    <div class="btn-group btn-group-justified">
      <a class="btn btn-primary" href="{% url 'locations:resource_add' object.organization.slug object.slug location.id %}">{% trans "Add from library" %}</a>
      <a class="btn btn-primary" href="{% url 'locations:resource_new' object.organization.slug object.slug location.id %}">{% trans "Upload new resource" %}</a>
    </div>
  </div>
</div>
{% endblock %}
