{% extends "spatial/location_detail.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block page_title %}{% trans "Edit location" %} | {% endblock %}
{% block body-class %} map{% endblock %}

{% block extra_head %}
{% leaflet_css plugins="draw,forms,groupedlayercontrol" %}
<link rel="stylesheet" href="{% static 'leaflet-geocoder-mapzen/1.9.2/leaflet-geocoder-mapzen.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
<link rel="stylesheet" href="{% static 'jquery-ui/1.12.1/css/jquery-ui.min.css' %}">
{% endblock %}

{% block extra_script %}
{{ block.super }}
{{ form.media }}
{% leaflet_js plugins="draw,forms,groupedlayercontrol" %}
<script src="{% static 'leaflet-geocoder-mapzen/1.9.2/leaflet-geocoder-mapzen.js' %}"></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/L.Map.Deflate.js' %}"></script>
<script src="{% static 'jquery-ui/1.12.1/js/jquery-ui.js' %}"></script>
<script src="{% static 'js/form_submit.js' %}"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<script>
  $(document).ready(function () {
    $(window).on('map:init', function(e) {
      if (e.detail) {
        var detail = e.detail;
      } else {
        var detail = e.originalEvent.detail;
      }
      var map = detail.map;
      var options = detail.options;
      switch_layer_controls(map, options);

      var orgSlug = '{{ object.organization.slug }}';
      var projectSlug = '{{ object.slug }}';
      var url = '/api/v1/organizations/'
              + orgSlug + '/projects/' + projectSlug + '/spatialresources/';
      add_spatial_resources(map, url);

      add_map_controls(map);
      renderFeatures(detail.map,
                     '{% url "async:spatial:list" object.organization.slug object.slug %}?exclude={{location.id}}');

      // Enable edit mode on map load and save the geometry on page save
      setTimeout(enableMapEditMode, 500);
      $('input.btn-primary')[0].addEventListener('click', saveOnMapEditMode);
    });

    $('.datepicker').datepicker({
      yearRange: "c-200:c+200",
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true,
    });
  });
</script>
{% endblock %}

{% block content %}
  {% url 'locations:detail' object.organization.slug object.slug location.id as cancel_url %}
  {% include "spatial/location_form.html" %}
{% endblock %}
