{% extends "organization/project_wrapper.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block body-class %} map{% endblock %}
{% block left-nav %}map{% endblock %}

{% load staticfiles %}
{% load leaflet_tags %}

{% block page_title %}{% trans "Add new location" %} | {% endblock %}

{% block extra_head %}
{% leaflet_css plugins="draw,forms,groupedlayercontrol" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.css">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
{% endblock %}

{% block extra_script %}
{% leaflet_js plugins="draw,forms,groupedlayercontrol" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.js"></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/L.Map.Deflate.js' %}"></script>
<script src="https://cdn.rawgit.com/ghybs/Leaflet.MarkerCluster.LayerSupport/3d4c4f24a008d6983a8f98b1c823f9a05ad62f80/leaflet.markercluster.layersupport-src.js"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<script>
 $(document).ready(function () {
   $(window).on('map:init', function(e) {
      var map = e.originalEvent.detail.map;
      var options = e.originalEvent.detail.options;
      add_map_controls(map);

      switch_layer_controls(map, options);

      // TODO: It seems Leaflet has a bug with L.geoJson()
      // not returning the correct bounds (see #377 for details)
      var trans = {
        open: "{% trans 'Open location' %}"
      };

      {% if object.extent %}
      var projectExtent = {{ object.extent.geojson|safe }};
      {% else %}
      var projectExtent = null;
      {% endif %}
      var spatialUnits = {{ geojson|safe }};

      renderFeatures(map, projectExtent, spatialUnits, trans, 'project');

      var orgSlug = '{{ object.organization.slug }}';
      var projectSlug = '{{ object.slug }}';
      var url = '/api/v1/organizations/'
              + orgSlug + '/projects/' + projectSlug + '/spatialresources/';
      add_spatial_resources(map, url);
   });
 });
</script>
{% endblock %}

{% block content %}
  {% include "spatial/location_form.html" with title="Add new location" cancel_url=request.META.HTTP_REFERER %}
{% endblock %}
