{% extends "organization/project_wrapper.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block body-class %} map{% endblock %}
{% block left-nav %}map{% endblock %}

{% load staticfiles %}
{% load compress %}
{% load leaflet_tags %}

{% block page_title %}{% trans "Add location" %} | {% endblock %}

{% block extra_head %}
{% compress css %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'leaflet/draw/leaflet.draw.css' %}">
<link rel="stylesheet" href="{% static 'leaflet-geocoder-mapzen/1.9.2/leaflet-geocoder-mapzen.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
<link rel="stylesheet" href="{% static 'css/leaflet.groupedlayercontrol.min.css' %}">
{% endcompress %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
{{ form.media }}
{% leaflet_js %}
{% compress js %}
<script src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
<script src="{% static 'leaflet/leaflet.forms.js' %}"></script>
<script src="{% static 'leaflet-geocoder-mapzen/1.9.2/leaflet-geocoder-mapzen.js' %}"></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/L.Map.Deflate.js' %}"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<script src="{% static 'js/leaflet.groupedlayercontrol.min.js' %}"></script>
{% endcompress %}

<script>
  $(document).ready(function () {
    $(window).on('map:init', function(e) {
      if (e.detail) {
        var detail = e.detail;
      } else {
        var detail = e.originalEvent.detail;
      }
      var options = detail.options;
      add_map_controls(detail.map);
      switch_layer_controls(detail.map, options);

      var trans = {
        open: "{% trans 'Open location' %}"
      };

      {% if object.extent %}
      var projectExtent = {{ object.extent.geojson|safe }};
      {% else %}
      var projectExtent = null;
      {% endif %}

      renderFeatures(detail.map,
                     '{% url "async:spatial:list" object.organization.slug object.slug %}',
                     {projectExtent: projectExtent, trans: trans, fitBounds: 'locations'});

      var orgSlug = '{{ object.organization.slug }}';
      var projectSlug = '{{ object.slug }}';
      var url = '/api/v1/organizations/'
              + orgSlug + '/projects/' + projectSlug + '/spatialresources/';
      add_spatial_resources(detail.map, url);
    });

    $('.datepicker').datepicker({
      yearRange: "c-200:c+200",
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true,
    });
  });
</script>
{% endblock %}

{% block content %}
  {% include "spatial/location_form.html" with add="yes" %}
{% endblock %}
