{% extends "spatial/location_detail.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load filters %}
{% load staticfiles %}

{% block page_title %}{% trans "Add relationship" %} | {% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'select2/4.0.3/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
{% endblock %}

{% block location_extra_script %}
  {{ form.media }}
  <script src="{% static 'select2/4.0.3/js/select2.min.js' %}"></script>
  <script src="{% static 'js/form_submit.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="https://cdn.rawgit.com/jquery/jquery-ui/1.12.1/ui/i18n/datepicker-{{ LANGUAGE_CODE }}{% if LANGUAGE_CODE == 'en' %}-GB{% endif %}.js"></script>
  <script>
    $(document).ready(function() {
      var template = function(party) {
        if (!party.id) {
          return party.text;
        }
        return $(
          '<div class="party-option">' +
          '<strong class="party-name">' + party.text + '</strong>' +
          '<span class="party-type">' + party.element.dataset.type + '</span>' +
          '</div>'
        );
      };
      $("#party-select").select2({
        minimumResultsForSearch: 6,
        templateResult: template,
        theme: "bootstrap",
      });
      $('.datepicker').datepicker({
        yearRange: "c-200:c+200",
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
      });
    });
  </script>
{% endblock %}

{% block form_modal %}
<div class="modal-backdrop">
  <div class="modal show" data-backdrop="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST" data-parsley-validate data-parsley-excluded=":hidden, disabled">
          <div class="modal-header">
            <a class="close" href="{% url 'locations:detail' object.organization.slug object.slug location.id %}">
              <span aria-hidden="true">&times;</span>
            </a>
            <h3 class="modal-title">{% trans "Add relationship" %}</h3>
          </div>

          <div class="modal-body">
            {% csrf_token %}
            <h4 class="step">{% trans "1. Connected party" %}</h4>
            <div id="select-party" class="clearfix{% if form.new_entity.value %} hidden{% endif %}">
              <div class="form-group{% if form.id.errors %} has-error{% endif %}">
                <label class="control-label" for="{{ form.id.id_for_label }}">{% trans "Choose an existing party to connect to this location" %}</label>
                {{ form.id }}
                <div class="error-block">{{ form.id.errors }}</div>
              </div>

              <label>{% trans "Or add a new party" %}</label>
              <div class="form-group">
                {{ form.new_entity }}
              </div>
            </div>

            <div id="new-item" class="clearfix{% if not form.new_entity.value %} hidden{% endif %}">

              <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                <label class="control-label" for="{{ form.name.id_for_label }}" {{ form.name.field.labels_xlang|safe }}>{% trans "Party name" %}</label>
                {% render_field form.name class+="form-control" data-parsley-required="true" data-parsley-sanitize="1" %}
                <div class="error-block">{{ form.name.errors }}</div>
              </div>

              <div class="form-group{% if form.party_type.errors %} has-error{% endif %}">
                <label class="control-label" for="{{ form.party_type.id_for_label }}" {{ form.party_type.field.labels_xlang|safe }}>{% trans "Party type" %}</label>
                {% render_field form.party_type class+="form-control party-type" data-parsley-required="true" %}
                <div class="error-block">{{ form.party_type.errors }}</div>
              </div>

              {% include "party/party_attrs.html" %}

            </div>

            <h4 class="step">{% trans "2. Relationship details" %}</h4>

            <div class="form-group{% if form.tenure_type.errors %} has-error{% endif %}">
              <label class="control-label" for="{{ form.tenure_type.id_for_label }}" {{ form.tenure_type.field.labels_xlang|safe }}>{% trans "Relationship Type" %}</label>
              {% render_field form.tenure_type class+="form-control" data-parsley-required="true" %}
              <div class="error-block">{{ form.tenure_type.errors }}</div>
            </div>

            {% for field in form %}
              {% if "tenurerelationship::" in field.name %}
              <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label class="control-label" for="{{ field.id_for_label }}" {{ field.field.labels_xlang|safe }}>{{ field.label }}</label>
                {% if field|field_type == "datefield" %}
                  {{ field|add_class:"form-control datepicker"|set_parsley_required }}
                {% else %}
                  {{ field|add_class:"form-control"|set_parsley_required|set_parsley_sanitize }}
                {% endif %}
                <div class="error-block">{{ field.errors }}</div>
              </div>
              {% endif %}
            {% endfor %}

          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-right" name="submit-button">
              {% trans "Save" %}
            </button>
            <a class="btn btn-link cancel"
              href="{% url 'locations:detail' object.organization.slug object.slug location.id %}">
              {% trans "Cancel" %}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
