{% extends "spatial/location_detail.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}Add new relationship | {% endblock %}

{% block location_extra_script %}
  {{ form.media }}
{% endblock %}

{% block form_modal %}
<div class="modal-backdrop">
  <div class="modal show" data-backdrop="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
            <a class="close" href="{% url 'locations:detail' object.organization.slug object.slug location.id %}">
              <span aria-hidden="true">&times;</span>
            </a>
            <h3 class="modal-title">{% trans "Add new relationship" %}</h3>
          </div>

          <div class="modal-body">
            {% csrf_token %}

            <h4 class="step">{% trans "1. Connected party" %}</h4>
            <div id="select-party" class="clearfix">
              <label>Choose a party to connect to this location</label>
              {% render_field form.id class+="form-control" %}
              <div class="add-btn-btm clearfix">
                {% render_field form.new_entity class+="form-control" %}
              </div>
            </div>

            <div id="new-item" class="clearfix{% if not form.new_entity.value %} hidden{% endif %}">

              <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                <label for="{{ form.name.id_for_label }}">{% trans "Party name" %}</label>
                <label class="pull-right control-label">{{ form.name.errors }}</label>
                {% render_field form.name class+="form-control" %}
              </div>

              <div class="form-group{% if form.party_type.errors %} has-error{% endif %}">
                <label for="{{ form.party_type.id_for_label }}">{% trans "Party type" %}</label>
                <label class="pull-right control-label">{{ form.party_type.errors }}</label>
                {% render_field form.party_type class+="form-control" %}
              </div>

              {% for field in form %}
                {% if "party::" in field.name %}
                  <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <label class="pull-right control-label">{{ field.errors }}</label>
                    {% render_field field class+="form-control" %}
                  </div>
                {% endif %}
              {% endfor %}

            </div>

            <h4 class="step">{% trans "2. Relationship details" %}</h4>

            <div class="form-group{% if form.tenure_type.errors %} has-error{% endif %}">
              <label for="{{ form.tenure_type.id_for_label }}">{% trans "Tenure Type" %}</label>
              <label class="pull-right control-label">{{ form.tenure_type.errors }}</label>
              {% render_field form.tenure_type class+="form-control" %}
            </div>

            {% for field in form %}
              {% if "relationship::" in field.name %}
              <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <label class="pull-right control-label">{{ field.errors }}</label>
                {% render_field field class+="form-control" %}
              </div>
              {% endif %}
            {% endfor %}

          </div>

          <div class="modal-footer">
            <a class="btn btn-link cancel"
               href="{% url 'locations:detail' object.organization.slug object.slug location.id %}">
              {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-primary" name="submit">
              {% trans "Save" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


