{% extends "spatial/location_detail.html" %}
{% load i18n %}

{% block page_title %}Upload new resource for location | {% endblock %}

{% block location_extra_script %}
  {{ form.media }}
{% endblock %}

{% block modals %}
{% url 'locations:detail' object.organization.slug object.slug location.id as cancel_url %}
{% url 'locations:resource_add' object.organization.slug object.slug location.id as add_lib_url %}
{% include 'resources/modal_upload.html' with cancel_url_hash="#resources" %}
{% endblock %}
